# Making Database
sqlite서버와 연결 후 Demo Database는 같은 디렉토리에 있는 Northwind.db로 합니다.

## base Variables and functions

In [1]:
# reset database
!pwd
!rm Northwind.db
!cp Northwind_Ori.db Northwind.db
!ls

/Users/admin/Documents/GitHub/DataEngineering/W1/M2
Northwind.db       Northwind_Ori.db   SQL Tutorial.ipynb my.db

In [2]:
import sqlite3

#database = 'my.db'
database = 'Northwind.db'
def sendQuery(sql):
    try:
        with sqlite3.connect(database) as conn:
            cursor = conn.cursor()
            cursor.execute(sql)
            conn.commit()
            return cursor.fetchall()
        
    except sqlite3.Error as e:
        print(e)

def sendQueryWithData(sql, data):
    try:
        with sqlite3.connect(database) as conn:
            cursor = conn.cursor()
            for date in data:
                cursor.execute(sql, date)
            conn.commit()
        
        return cursor.fetchall()
        
    except sqlite3.Error as e:
        print(e)

# main tutorials

## SELECT
SELECT는 원하는 테이블에서 원하는 Column에 해당하는 데이터를 반환하는 쿼리문이다.

In [3]:
sql = "SELECT * FROM Customers;"
sendQuery(sql)

[(1,
  'Alfreds Futterkiste',
  'Maria Anders',
  'Obere Str. 57',
  'Berlin',
  '12209',
  'Germany'),
 (2,
  'Ana Trujillo Emparedados y helados',
  'Ana Trujillo',
  'Avda. de la Constitución 2222',
  'México D.F.',
  '5021',
  'Mexico'),
 (3,
  'Antonio Moreno Taquería',
  'Antonio Moreno',
  'Mataderos 2312',
  'México D.F.',
  '5023',
  'Mexico'),
 (4,
  'Around the Horn',
  'Thomas Hardy',
  '120 Hanover Sq.',
  'London',
  'WA1 1DP',
  'UK'),
 (5,
  'Berglunds snabbköp',
  'Christina Berglund',
  'Berguvsvägen 8',
  'Luleå',
  'S-958 22',
  'Sweden'),
 (6,
  'Blauer See Delikatessen',
  'Hanna Moos',
  'Forsterstr. 57',
  'Mannheim',
  '68306',
  'Germany'),
 (7,
  'Blondel père et fils',
  'Frédérique Citeaux',
  '24, place Kléber',
  'Strasbourg',
  '67000',
  'France'),
 (8,
  'Bólido Comidas preparadas',
  'Martín Sommer',
  'C/ Araquil, 67',
  'Madrid',
  '28023',
  'Spain'),
 (9,
  "Bon app''",
  'Laurence Lebihans',
  '12, rue des Bouchers',
  'Marseille',
  '13008',
  'France'),
 (10,
  'Bottom-Dollar Marketse',
  'Elizabeth Lincoln',
  '23 Tsawassen Blvd.',
  'Tsawassen',
  'T2F 8M4',
  'Canada'),
 (11,
  "B''s Beverages",
  'Victoria Ashworth',
  'Fauntleroy Circus',
  'London',
  'EC2 5NT',
  'UK'),
 (12,
  'Cactus Comidas para llevar',
  'Patricio Simpson',
  'Cerrito 333',
  'Buenos Aires',
  '1010',
  'Argentina'),
 (13,
  'Centro comercial Moctezuma',
  'Francisco Chang',
  'Sierras de Granada 9993',
  'México D.F.',
  '5022',
  'Mexico'),
 (14,
  'Chop-suey Chinese',
  'Yang Wang',
  'Hauptstr. 29',
  'Bern',
  '3012',
  'Switzerland'),
 (15,
  'Comércio Mineiro',
  'Pedro Afonso',
  'Av. dos Lusíadas, 23',
  'São Paulo',
  '05432-043',
  'Brazil'),
 (16,
  'Consolidated Holdings',
  'Elizabeth Brown',
  'Berkeley Gardens 12 Brewery',
  'London',
  'WX1 6LT',
  'UK'),
 (17,
  'Drachenblut Delikatessend',
  'Sven Ottlieb',
  'Walserweg 21',
  'Aachen',
  '52066',
  'Germany'),
 (18,
  'Du monde entier',
  'Janine Labrune',
  '67, rue des Cinquante Otages',
  'Nantes',
  '44000',
  'France'),
 (19,
  'Eastern Connection',
  'Ann Devon',
  '35 King George',
  'London',
  'WX3 6FW',
  'UK'),
 (20,
  'Ernst Handel',
  'Roland Mendel',
  'Kirchgasse 6',
  'Graz',
  '8010',
  'Austria'),
 (21,
  'Familia Arquibaldo',
  'Aria Cruz',
  'Rua Orós, 92',
  'São Paulo',
  '05442-030',
  'Brazil'),
 (22,
  'FISSA Fabrica Inter. Salchichas S.A.',
  'Diego Roel',
  'C/ Moralzarzal, 86',
  'Madrid',
  '28034',
  'Spain'),
 (23,
  'Folies gourmandes',
  'Martine Rancé',
  '184, chaussée de Tournai',
  'Lille',
  '59000',
  'France'),
 (24,
  'Folk och fä HB',
  'Maria Larsson',
  'Åkergatan 24',
  'Bräcke',
  'S-844 67',
  'Sweden'),
 (25,
  'Frankenversand',
  'Peter Franken',
  'Berliner Platz 43',
  'München',
  '80805',
  'Germany'),
 (26,
  'France restauration',
  'Carine Schmitt',
  '54, rue Royale',
  'Nantes',
  '44000',
  'France'),
 (27,
  'Franchi S.p.A.',
  'Paolo Accorti',
  'Via Monte Bianco 34',
  'Torino',
  '10100',
  'Italy'),
 (28,
  'Furia Bacalhau e Frutos do Mar',
  'Lino Rodriguez',
  'Jardim das rosas n. 32',
  'Lisboa',
  '1675',
  'Portugal'),
 (29,
  'Galería del gastrónomo',
  'Eduardo Saavedra',
  'Rambla de Cataluña, 23',
  'Barcelona',
  '8022',
  'Spain'),
 (30,
  'Godos Cocina Típica',
  'José Pedro Freyre',
  'C/ Romero, 33',
  'Sevilla',
  '41101',
  'Spain'),
 (31,
  'Gourmet Lanchonetes',
  'André Fonseca',
  'Av. Brasil, 442',
  'Campinas',
  '04876-786',
  'Brazil'),
 (32,
  'Great Lakes Food Market',
  'Howard Snyder',
  '2732 Baker Blvd.',
  'Eugene',
  '97403',
  'USA'),
 (33,
  'GROSELLA-Restaurante',
  'Manuel Pereira',
  '5ª Ave. Los Palos Grandes',
  'Caracas',
  '1081',
  'Venezuela'),
 (34,
  'Hanari Carnes',
  'Mario Pontes',
  'Rua do Paço, 67',
  'Rio de Janeiro',
  '05454-876',
  'Brazil'),
 (35,
  'HILARIÓN-Abastos',
  'Carlos Hernández',
  'Carrera 22 con Ave. Carlos Soublette #8-35',
  'San Cristóbal',
  '5022',
  'Venezuela'),
 (36,
  'Hungry Coyote Import Store',
  'Yoshi Latimer',
  'City Center Plaza 516 Main St.',
  'Elgin',
  '97827',
  'USA'),
 (37,
  'Hungry Owl All-Night Grocers',
  'Patricia McKenna',
  '8 Johnstown Road',
  'Cork',
  '',
  'Ireland'),
 (38,
  'Island Trading',
  'Helen Bennett',
  'Garden House Crowther Way',
  'Cowes',
  'PO31 7PJ',
  'UK'),
 (39,
  'Königlich Essen',
  'Philip Cramer',
  'Maubelstr. 90',
  'Brandenburg',
  '14776',
  'Germany'),
 (40,
  "La corne d''abondance",
  'Daniel Tonini',
  "67, avenue de l''Europe",
  'Versailles',
  '78000',
  'France'),
 (41,
  "La maison d''Asie",
  'Annette Roulet',
  '1 rue Alsace-Lorraine',
  'Toulouse',
  '31000',
  'France'),
 (42,
  'Laughing Bacchus Wine Cellars',
  'Yoshi Tannamuri',
  '1900 Oak St.',
  'Vancouver',
  'V3F 2K1',
  'Canada'),
 (43,
  'Lazy K Kountry Store',
  'John Steel',
  '12 Orchestra Terrace',
  'Walla Walla',
  '99362',
  'USA'),
 (44,
  'Lehmanns Marktstand',
  'Renate Messner',
  'Magazinweg 7',
  'Frankfurt a.M.',
  '60528',
  'Germany'),
 (45,
  "Let''s Stop N Shop",
  'Jaime Yorres',
  '87 Polk St. Suite 5',
  'San Francisco',
  '94117',
  'USA'),
 (46,
  'LILA-Supermercado',
  'Carlos González',
  'Carrera 52 con Ave. Bolívar #65-98 Llano Largo',
  'Barquisimeto',
  '3508',
  'Venezuela'),
 (47,
  'LINO-Delicateses',
  'Felipe Izquierdo',
  'Ave. 5 de Mayo Porlamar',
  'I. de Margarita',
  '4980',
  'Venezuela'),
 (48,
  'Lonesome Pine Restaurant',
  'Fran Wilson',
  '89 Chiaroscuro Rd.',
  'Portland',
  '97219',
  'USA'),
 (49,
  'Magazzini Alimentari Riuniti',
  'Giovanni Rovelli',
  'Via Ludovico il Moro 22',
  'Bergamo',
  '24100',
  'Italy'),
 (50,
  'Maison Dewey',
  'Catherine Dewey',
  'Rue Joseph-Bens 532',
  'Bruxelles',
  'B-1180',
  'Belgium'),
 (51,
  'Mère Paillarde',
  'Jean Fresnière',
  '43 rue St. Laurent',
  'Montréal',
  'H1J 1C3',
  'Canada'),
 (52,
  'Morgenstern Gesundkost',
  'Alexander Feuer',
  'Heerstr. 22',
  'Leipzig',
  '4179',
  'Germany'),
 (53,
  'North/South',
  'Simon Crowther',
  'South House 300 Queensbridge',
  'London',
  'SW7 1RZ',
  'UK'),
 (54,
  'Océano Atlántico Ltda.',
  'Yvonne Moncada',
  'Ing. Gustavo Moncada 8585 Piso 20-A',
  'Buenos Aires',
  '1010',
  'Argentina'),
 (55,
  'Old World Delicatessen',
  'Rene Phillips',
  '2743 Bering St.',
  'Anchorage',
  '99508',
  'USA'),
 (56,
  'Ottilies Käseladen',
  'Henriette Pfalzheim',
  'Mehrheimerstr. 369',
  'Köln',
  '50739',
  'Germany'),
 (57,
  'Paris spécialités',
  'Marie Bertrand',
  '265, boulevard Charonne',
  'Paris',
  '75012',
  'France'),
 (58,
  'Pericles Comidas clásicas',
  'Guillermo Fernández',
  'Calle Dr. Jorge Cash 321',
  'México D.F.',
  '5033',
  'Mexico'),
 (59,
  'Piccolo und mehr',
  'Georg Pipps',
  'Geislweg 14',
  'Salzburg',
  '5020',
  'Austria'),
 (60,
  'Princesa Isabel Vinhoss',
  'Isabel de Castro',
  'Estrada da saúde n. 58',
  'Lisboa',
  '1756',
  'Portugal'),
 (61,
  'Que Delícia',
  'Bernardo Batista',
  'Rua da Panificadora, 12',
  'Rio de Janeiro',
  '02389-673',
  'Brazil'),
 (62,
  'Queen Cozinha',
  'Lúcia Carvalho',
  'Alameda dos Canàrios, 891',
  'São Paulo',
  '05487-020',
  'Brazil'),
 (63,
  'QUICK-Stop',
  'Horst Kloss',
  'Taucherstraße 10',
  'Cunewalde',
  '1307',
  'Germany'),
 (64,
  'Rancho grande',
  'Sergio Gutiérrez',
  'Av. del Libertador 900',
  'Buenos Aires',
  '1010',
  'Argentina'),
 (65,
  'Rattlesnake Canyon Grocery',
  'Paula Wilson',
  '2817 Milton Dr.',
  'Albuquerque',
  '87110',
  'USA'),
 (66,
  'Reggiani Caseifici',
  'Maurizio Moroni',
  'Strada Provinciale 124',
  'Reggio Emilia',
  '42100',
  'Italy'),
 (67,
  'Ricardo Adocicados',
  'Janete Limeira',
  'Av. Copacabana, 267',
  'Rio de Janeiro',
  '02389-890',
  'Brazil'),
 (68,
  'Richter Supermarkt',
  'Michael Holz',
  'Grenzacherweg 237',
  'Genève',
  '1203',
  'Switzerland'),
 (69,
  'Romero y tomillo',
  'Alejandra Camino',
  'Gran Vía, 1',
  'Madrid',
  '28001',
  'Spain'),
 (70,
  'Santé Gourmet',
  'Jonas Bergulfsen',
  'Erling Skakkes gate 78',
  'Stavern',
  '4110',
  'Norway'),
 (71,
  'Save-a-lot Markets',
  'Jose Pavarotti',
  '187 Suffolk Ln.',
  'Boise',
  '83720',
  'USA'),
 (72,
  'Seven Seas Imports',
  'Hari Kumar',
  '90 Wadhurst Rd.',
  'London',
  'OX15 4NB',
  'UK'),
 (73,
  'Simons bistro',
  'Jytte Petersen',
  'Vinbæltet 34',
  'København',
  '1734',
  'Denmark'),
 (74,
  'Spécialités du monde',
  'Dominique Perrier',
  '25, rue Lauriston',
  'Paris',
  '75016',
  'France'),
 (75,
  'Split Rail Beer & Ale',
  'Art Braunschweiger',
  'P.O. Box 555',
  'Lander',
  '82520',
  'USA'),
 (76,
  'Suprêmes délices',
  'Pascale Cartrain',
  'Boulevard Tirou, 255',
  'Charleroi',
  'B-6000',
  'Belgium'),
 (77,
  'The Big Cheese',
  'Liz Nixon',
  '89 Jefferson Way Suite 2',
  'Portland',
  '97201',
  'USA'),
 (78,
  'The Cracker Box',
  'Liu Wong',
  '55 Grizzly Peak Rd.',
  'Butte',
  '59801',
  'USA'),
 (79,
  'Toms Spezialitäten',
  'Karin Josephs',
  'Luisenstr. 48',
  'Münster',
  '44087',
  'Germany'),
 (80,
  'Tortuga Restaurante',
  'Miguel Angel Paolino',
  'Avda. Azteca 123',
  'México D.F.',
  '5033',
  'Mexico'),
 (81,
  'Tradição Hipermercados',
  'Anabela Domingues',
  'Av. Inês de Castro, 414',
  'São Paulo',
  '05634-030',
  'Brazil'),
 (82,
  "Trail''s Head Gourmet Provisioners",
  'Helvetius Nagy',
  '722 DaVinci Blvd.',
  'Kirkland',
  '98034',
  'USA'),
 (83,
  'Vaffeljernet',
  'Palle Ibsen',
  'Smagsløget 45',
  'Århus',
  '8200',
  'Denmark'),
 (84,
  'Victuailles en stock',
  'Mary Saveley',
  '2, rue du Commerce',
  'Lyon',
  '69004',
  'France'),
 (85,
  'Vins et alcools Chevalier',
  'Paul Henriot',
  "59 rue de l''Abbaye",
  'Reims',
  '51100',
  'France'),
 (86,
  'Die Wandernde Kuh',
  'Rita Müller',
  'Adenauerallee 900',
  'Stuttgart',
  '70563',
  'Germany'),
 (87,
  'Wartian Herkku',
  'Pirkko Koskitalo',
  'Torikatu 38',
  'Oulu',
  '90110',
  'Finland'),
 (88,
  'Wellington Importadora',
  'Paula Parente',
  'Rua do Mercado, 12',
  'Resende',
  '08737-363',
  'Brazil'),
 (89,
  'White Clover Markets',
  'Karl Jablonski',
  '305 - 14th Ave. S. Suite 3B',
  'Seattle',
  '98128',
  'USA'),
 (90,
  'Wilman Kala',
  'Matti Karttunen',
  'Keskuskatu 45',
  'Helsinki',
  '21240',
  'Finland'),
 (91, 'Wolski', 'Zbyszek', 'ul. Filtrowa 68', 'Walla', '01-012', 'Poland')]

In [4]:
sql = "SELECT CustomerName, City FROM Customers;"
sendQuery(sql)

[('Alfreds Futterkiste', 'Berlin'),
 ('Ana Trujillo Emparedados y helados', 'México D.F.'),
 ('Antonio Moreno Taquería', 'México D.F.'),
 ('Around the Horn', 'London'),
 ('Berglunds snabbköp', 'Luleå'),
 ('Blauer See Delikatessen', 'Mannheim'),
 ('Blondel père et fils', 'Strasbourg'),
 ('Bólido Comidas preparadas', 'Madrid'),
 ("Bon app''", 'Marseille'),
 ('Bottom-Dollar Marketse', 'Tsawassen'),
 ("B''s Beverages", 'London'),
 ('Cactus Comidas para llevar', 'Buenos Aires'),
 ('Centro comercial Moctezuma', 'México D.F.'),
 ('Chop-suey Chinese', 'Bern'),
 ('Comércio Mineiro', 'São Paulo'),
 ('Consolidated Holdings', 'London'),
 ('Drachenblut Delikatessend', 'Aachen'),
 ('Du monde entier', 'Nantes'),
 ('Eastern Connection', 'London'),
 ('Ernst Handel', 'Graz'),
 ('Familia Arquibaldo', 'São Paulo'),
 ('FISSA Fabrica Inter. Salchichas S.A.', 'Madrid'),
 ('Folies gourmandes', 'Lille'),
 ('Folk och fä HB', 'Bräcke'),
 ('Frankenversand', 'München'),
 ('France restauration', 'Nantes'),
 ('Franchi S.p.A.', 'Torino'),
 ('Furia Bacalhau e Frutos do Mar', 'Lisboa'),
 ('Galería del gastrónomo', 'Barcelona'),
 ('Godos Cocina Típica', 'Sevilla'),
 ('Gourmet Lanchonetes', 'Campinas'),
 ('Great Lakes Food Market', 'Eugene'),
 ('GROSELLA-Restaurante', 'Caracas'),
 ('Hanari Carnes', 'Rio de Janeiro'),
 ('HILARIÓN-Abastos', 'San Cristóbal'),
 ('Hungry Coyote Import Store', 'Elgin'),
 ('Hungry Owl All-Night Grocers', 'Cork'),
 ('Island Trading', 'Cowes'),
 ('Königlich Essen', 'Brandenburg'),
 ("La corne d''abondance", 'Versailles'),
 ("La maison d''Asie", 'Toulouse'),
 ('Laughing Bacchus Wine Cellars', 'Vancouver'),
 ('Lazy K Kountry Store', 'Walla Walla'),
 ('Lehmanns Marktstand', 'Frankfurt a.M.'),
 ("Let''s Stop N Shop", 'San Francisco'),
 ('LILA-Supermercado', 'Barquisimeto'),
 ('LINO-Delicateses', 'I. de Margarita'),
 ('Lonesome Pine Restaurant', 'Portland'),
 ('Magazzini Alimentari Riuniti', 'Bergamo'),
 ('Maison Dewey', 'Bruxelles'),
 ('Mère Paillarde', 'Montréal'),
 ('Morgenstern Gesundkost', 'Leipzig'),
 ('North/South', 'London'),
 ('Océano Atlántico Ltda.', 'Buenos Aires'),
 ('Old World Delicatessen', 'Anchorage'),
 ('Ottilies Käseladen', 'Köln'),
 ('Paris spécialités', 'Paris'),
 ('Pericles Comidas clásicas', 'México D.F.'),
 ('Piccolo und mehr', 'Salzburg'),
 ('Princesa Isabel Vinhoss', 'Lisboa'),
 ('Que Delícia', 'Rio de Janeiro'),
 ('Queen Cozinha', 'São Paulo'),
 ('QUICK-Stop', 'Cunewalde'),
 ('Rancho grande', 'Buenos Aires'),
 ('Rattlesnake Canyon Grocery', 'Albuquerque'),
 ('Reggiani Caseifici', 'Reggio Emilia'),
 ('Ricardo Adocicados', 'Rio de Janeiro'),
 ('Richter Supermarkt', 'Genève'),
 ('Romero y tomillo', 'Madrid'),
 ('Santé Gourmet', 'Stavern'),
 ('Save-a-lot Markets', 'Boise'),
 ('Seven Seas Imports', 'London'),
 ('Simons bistro', 'København'),
 ('Spécialités du monde', 'Paris'),
 ('Split Rail Beer & Ale', 'Lander'),
 ('Suprêmes délices', 'Charleroi'),
 ('The Big Cheese', 'Portland'),
 ('The Cracker Box', 'Butte'),
 ('Toms Spezialitäten', 'Münster'),
 ('Tortuga Restaurante', 'México D.F.'),
 ('Tradição Hipermercados', 'São Paulo'),
 ("Trail''s Head Gourmet Provisioners", 'Kirkland'),
 ('Vaffeljernet', 'Århus'),
 ('Victuailles en stock', 'Lyon'),
 ('Vins et alcools Chevalier', 'Reims'),
 ('Die Wandernde Kuh', 'Stuttgart'),
 ('Wartian Herkku', 'Oulu'),
 ('Wellington Importadora', 'Resende'),
 ('White Clover Markets', 'Seattle'),
 ('Wilman Kala', 'Helsinki'),
 ('Wolski', 'Walla')]

In [5]:
sql = "SELECT DISTINCT Country FROM Customers;"
sendQuery(sql)

[('Germany',),
 ('Mexico',),
 ('UK',),
 ('Sweden',),
 ('France',),
 ('Spain',),
 ('Canada',),
 ('Argentina',),
 ('Switzerland',),
 ('Brazil',),
 ('Austria',),
 ('Italy',),
 ('Portugal',),
 ('USA',),
 ('Venezuela',),
 ('Ireland',),
 ('Belgium',),
 ('Norway',),
 ('Denmark',),
 ('Finland',),
 ('Poland',)]

In [6]:
sql = "SELECT Country FROM Customers;"
sendQuery(sql)

[('Germany',),
 ('Mexico',),
 ('Mexico',),
 ('UK',),
 ('Sweden',),
 ('Germany',),
 ('France',),
 ('Spain',),
 ('France',),
 ('Canada',),
 ('UK',),
 ('Argentina',),
 ('Mexico',),
 ('Switzerland',),
 ('Brazil',),
 ('UK',),
 ('Germany',),
 ('France',),
 ('UK',),
 ('Austria',),
 ('Brazil',),
 ('Spain',),
 ('France',),
 ('Sweden',),
 ('Germany',),
 ('France',),
 ('Italy',),
 ('Portugal',),
 ('Spain',),
 ('Spain',),
 ('Brazil',),
 ('USA',),
 ('Venezuela',),
 ('Brazil',),
 ('Venezuela',),
 ('USA',),
 ('Ireland',),
 ('UK',),
 ('Germany',),
 ('France',),
 ('France',),
 ('Canada',),
 ('USA',),
 ('Germany',),
 ('USA',),
 ('Venezuela',),
 ('Venezuela',),
 ('USA',),
 ('Italy',),
 ('Belgium',),
 ('Canada',),
 ('Germany',),
 ('UK',),
 ('Argentina',),
 ('USA',),
 ('Germany',),
 ('France',),
 ('Mexico',),
 ('Austria',),
 ('Portugal',),
 ('Brazil',),
 ('Brazil',),
 ('Germany',),
 ('Argentina',),
 ('USA',),
 ('Italy',),
 ('Brazil',),
 ('Switzerland',),
 ('Spain',),
 ('Norway',),
 ('USA',),
 ('UK',),
 ('Denmark',),
 ('France',),
 ('USA',),
 ('Belgium',),
 ('USA',),
 ('USA',),
 ('Germany',),
 ('Mexico',),
 ('Brazil',),
 ('USA',),
 ('Denmark',),
 ('France',),
 ('France',),
 ('Germany',),
 ('Finland',),
 ('Brazil',),
 ('USA',),
 ('Finland',),
 ('Poland',)]

DISTINCT는 처음본다. 실행해보면 중복되는 데이터는 지우고 준다는 것을 알 수 있다.

## WHERE
조건을 거는 구문이다.

In [7]:
sql = "SELECT * FROM Customers WHERE Country='Mexico';"
sendQuery(sql)

[(2,
  'Ana Trujillo Emparedados y helados',
  'Ana Trujillo',
  'Avda. de la Constitución 2222',
  'México D.F.',
  '5021',
  'Mexico'),
 (3,
  'Antonio Moreno Taquería',
  'Antonio Moreno',
  'Mataderos 2312',
  'México D.F.',
  '5023',
  'Mexico'),
 (13,
  'Centro comercial Moctezuma',
  'Francisco Chang',
  'Sierras de Granada 9993',
  'México D.F.',
  '5022',
  'Mexico'),
 (58,
  'Pericles Comidas clásicas',
  'Guillermo Fernández',
  'Calle Dr. Jorge Cash 321',
  'México D.F.',
  '5033',
  'Mexico'),
 (80,
  'Tortuga Restaurante',
  'Miguel Angel Paolino',
  'Avda. Azteca 123',
  'México D.F.',
  '5033',
  'Mexico')]

In [8]:
sql = """SELECT * FROM Customers
         WHERE CustomerID=1;"""
sendQuery(sql)

[(1,
  'Alfreds Futterkiste',
  'Maria Anders',
  'Obere Str. 57',
  'Berlin',
  '12209',
  'Germany')]

In [9]:
sql = """SELECT * FROM Customers
         WHERE CustomerID > 80;"""
sendQuery(sql)

[(81,
  'Tradição Hipermercados',
  'Anabela Domingues',
  'Av. Inês de Castro, 414',
  'São Paulo',
  '05634-030',
  'Brazil'),
 (82,
  "Trail''s Head Gourmet Provisioners",
  'Helvetius Nagy',
  '722 DaVinci Blvd.',
  'Kirkland',
  '98034',
  'USA'),
 (83,
  'Vaffeljernet',
  'Palle Ibsen',
  'Smagsløget 45',
  'Århus',
  '8200',
  'Denmark'),
 (84,
  'Victuailles en stock',
  'Mary Saveley',
  '2, rue du Commerce',
  'Lyon',
  '69004',
  'France'),
 (85,
  'Vins et alcools Chevalier',
  'Paul Henriot',
  "59 rue de l''Abbaye",
  'Reims',
  '51100',
  'France'),
 (86,
  'Die Wandernde Kuh',
  'Rita Müller',
  'Adenauerallee 900',
  'Stuttgart',
  '70563',
  'Germany'),
 (87,
  'Wartian Herkku',
  'Pirkko Koskitalo',
  'Torikatu 38',
  'Oulu',
  '90110',
  'Finland'),
 (88,
  'Wellington Importadora',
  'Paula Parente',
  'Rua do Mercado, 12',
  'Resende',
  '08737-363',
  'Brazil'),
 (89,
  'White Clover Markets',
  'Karl Jablonski',
  '305 - 14th Ave. S. Suite 3B',
  'Seattle',
  '98128',
  'USA'),
 (90,
  'Wilman Kala',
  'Matti Karttunen',
  'Keskuskatu 45',
  'Helsinki',
  '21240',
  'Finland'),
 (91, 'Wolski', 'Zbyszek', 'ul. Filtrowa 68', 'Walla', '01-012', 'Poland')]

WHERE과 쓰일 수 있는 연산자는 =, >, <, >=, <=, <>, BETWEEN, LIKE, IN이 있다.

## ORDER BY
ORDER BY는 데이터를 정렬해주는 쿼리문이다.

In [10]:
sql = "SELECT * FROM Products ORDER BY Price;"
sendQuery(sql)

[(33, 'Geitost', 15, 4, '500 g', 2.5),
 (24, 'Guaraná Fantástica', 10, 1, '12 - 355 ml cans', 4.5),
 (13, 'Konbu', 6, 8, '2 kg box', 6),
 (52, 'Filo Mix', 24, 5, '16 - 2 kg boxes', 7),
 (54, 'Tourtière', 25, 6, '16 pies', 7.45),
 (75, 'Rhönbräu Klosterbier', 12, 1, '24 - 0.5 l bottles', 7.75),
 (23, 'Tunnbröd', 9, 5, '12 - 250 g pkgs.', 9),
 (19, 'Teatime Chocolate Biscuits', 8, 3, '10 boxes x 12 pieces', 9.2),
 (45, 'Røgede sild', 21, 8, '1k pkg.', 9.5),
 (47, 'Zaanse koeken', 22, 3, '10 - 4 oz boxes', 9.5),
 (41, "Jack's New England Clam Chowder", 19, 8, '12 - 12 oz cans', 9.65),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10),
 (21, "Sir Rodney's Scones", 8, 3, '24 pkgs. x 4 pieces', 10),
 (74, 'Longlife Tofu', 4, 7, '5 kg pkg.', 10),
 (46, 'Spegesild', 21, 8, '4 - 450 g glasses', 12),
 (31, 'Gorgonzola Telino', 14, 4, '12 - 100 g pkgs', 12.5),
 (68, 'Scottish Longbreads', 8, 3, '10 boxes x 8 pieces', 12.5),
 (48, 'Chocolade', 22, 3, '10 pkgs.', 12.75),
 (77, 'Original Frankfurter grüne Soße', 12, 2, '12 boxes', 13),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', 13.25),
 (25, 'NuNuCa Nuß-Nougat-Creme', 11, 3, '20 - 450 g glasses', 14),
 (34, 'Sasquatch Ale', 16, 1, '24 - 12 oz bottles', 14),
 (42, 'Singaporean Hokkien Fried Mee', 20, 5, '32 - 1 kg pkgs.', 14),
 (67, 'Laughing Lumberjack Lager', 16, 1, '24 - 12 oz bottles', 14),
 (70, 'Outback Lager', 7, 1, '24 - 355 ml bottles', 15),
 (73, 'Röd Kaviar', 17, 8, '24 - 150 g jars', 15),
 (15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', 15.5),
 (50, 'Valkoinen suklaa', 23, 3, '12 - 100 g bars', 16.25),
 (66, 'Louisiana Hot Spiced Okra', 2, 2, '24 - 8 oz jars', 17),
 (16, 'Pavlova', 7, 3, '32 - 500 g boxes', 17.45),
 (1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (35, 'Steeleye Stout', 16, 1, '24 - 12 oz bottles', 18),
 (39, 'Chartreuse verte', 18, 1, '750 cc per bottle', 18),
 (76, 'Lakkalikööri', 23, 1, '500 ml', 18),
 (40, 'Boston Crab Meat', 19, 8, '24 - 4 oz tins', 18.4),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (36, 'Inlagd Sill', 17, 8, '24 - 250 g jars', 19),
 (44, 'Gula Malacca', 20, 2, '20 - 2 kg bags', 19.45),
 (57, 'Ravioli Angelo', 26, 5, '24 - 250 g pkgs.', 19.5),
 (49, 'Maxilaku', 23, 3, '24 - 50 g pkgs.', 20),
 (11, 'Queso Cabrales', 5, 4, '1 kg pkg.', 21),
 (22, "Gustaf's Knäckebröd", 9, 5, '24 - 500 g pkgs.', 21),
 (65, 'Louisiana Fiery Hot Pepper Sauce', 2, 2, '32 - 8 oz bottles', 21.05),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21.35),
 (71, 'Fløtemysost', 15, 4, '10 - 500 g pkgs.', 21.5),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (14, 'Tofu', 6, 7, '40 - 100 g pkgs.', 23.25),
 (55, 'Pâté chinois', 25, 6, '24 boxes x 2 pies', 24),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25),
 (30, 'Nord-Ost Matjeshering', 13, 8, '10 - 200 g glasses', 25.89),
 (37, 'Gravad lax', 17, 8, '12 - 500 g pkgs.', 26),
 (61, "Sirop d'érable", 29, 2, '24 - 500 ml bottles', 28.5),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31),
 (26, 'Gumbär Gummibärchen', 11, 3, '100 - 250 g bags', 31.23),
 (32, 'Mascarpone Fabioli', 14, 4, '24 - 200 g pkgs.', 32),
 (53, 'Perth Pasties', 24, 6, '48 pieces', 32.8),
 (64, 'Wimmers gute Semmelknödel', 12, 5, '20 bags x 4 pieces', 33.25),
 (60, 'Camembert Pierrot', 28, 4, '15 - 300 g rounds', 34),
 (72, 'Mozzarella di Giovanni', 14, 4, '24 - 200 g pkgs.', 34.8),
 (69, 'Gudbrandsdalsost', 15, 4, '10 kg pkg.', 36),
 (12, 'Queso Manchego La Pastora', 5, 4, '10 - 500 g pkgs.', 38),
 (56, 'Gnocchi di nonna Alice', 26, 5, '24 - 250 g pkgs.', 38),
 (17, 'Alice Mutton', 7, 6, '20 - 1 kg tins', 39),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40),
 (27, 'Schoggi Schokolade', 11, 3, '100 - 100 g pieces', 43.9),
 (63, 'Vegie-spread', 7, 2, '15 - 625 g jars', 43.9),
 (28, 'Rössle Sauerkraut', 12, 7, '25 - 825 g cans', 45.6),
 (43, 'Ipoh Coffee', 20, 1, '16 - 500 g tins', 46),
 (62, 'Tarte au sucre', 29, 3, '48 pies', 49.3),
 (51, 'Manjimup Dried Apples', 24, 7, '50 - 300 g pkgs.', 53),
 (59, 'Raclette Courdavault', 28, 4, '5 kg pkg.', 55),
 (18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', 62.5),
 (20, "Sir Rodney's Marmalade", 8, 3, '30 gift boxes', 81),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97),
 (29, 'Thüringer Rostbratwurst', 12, 6, '50 bags x 30 sausgs.', 123.79),
 (38, 'Côte de Blaye', 18, 1, '12 - 75 cl bottles', 263.5)]

In [11]:
sql = "SELECT * FROM Products ORDER BY Price DESC;"
sendQuery(sql)

[(38, 'Côte de Blaye', 18, 1, '12 - 75 cl bottles', 263.5),
 (29, 'Thüringer Rostbratwurst', 12, 6, '50 bags x 30 sausgs.', 123.79),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97),
 (20, "Sir Rodney's Marmalade", 8, 3, '30 gift boxes', 81),
 (18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', 62.5),
 (59, 'Raclette Courdavault', 28, 4, '5 kg pkg.', 55),
 (51, 'Manjimup Dried Apples', 24, 7, '50 - 300 g pkgs.', 53),
 (62, 'Tarte au sucre', 29, 3, '48 pies', 49.3),
 (43, 'Ipoh Coffee', 20, 1, '16 - 500 g tins', 46),
 (28, 'Rössle Sauerkraut', 12, 7, '25 - 825 g cans', 45.6),
 (27, 'Schoggi Schokolade', 11, 3, '100 - 100 g pieces', 43.9),
 (63, 'Vegie-spread', 7, 2, '15 - 625 g jars', 43.9),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40),
 (17, 'Alice Mutton', 7, 6, '20 - 1 kg tins', 39),
 (12, 'Queso Manchego La Pastora', 5, 4, '10 - 500 g pkgs.', 38),
 (56, 'Gnocchi di nonna Alice', 26, 5, '24 - 250 g pkgs.', 38),
 (69, 'Gudbrandsdalsost', 15, 4, '10 kg pkg.', 36),
 (72, 'Mozzarella di Giovanni', 14, 4, '24 - 200 g pkgs.', 34.8),
 (60, 'Camembert Pierrot', 28, 4, '15 - 300 g rounds', 34),
 (64, 'Wimmers gute Semmelknödel', 12, 5, '20 bags x 4 pieces', 33.25),
 (53, 'Perth Pasties', 24, 6, '48 pieces', 32.8),
 (32, 'Mascarpone Fabioli', 14, 4, '24 - 200 g pkgs.', 32),
 (26, 'Gumbär Gummibärchen', 11, 3, '100 - 250 g bags', 31.23),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30),
 (61, "Sirop d'érable", 29, 2, '24 - 500 ml bottles', 28.5),
 (37, 'Gravad lax', 17, 8, '12 - 500 g pkgs.', 26),
 (30, 'Nord-Ost Matjeshering', 13, 8, '10 - 200 g glasses', 25.89),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25),
 (55, 'Pâté chinois', 25, 6, '24 boxes x 2 pies', 24),
 (14, 'Tofu', 6, 7, '40 - 100 g pkgs.', 23.25),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (71, 'Fløtemysost', 15, 4, '10 - 500 g pkgs.', 21.5),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21.35),
 (65, 'Louisiana Fiery Hot Pepper Sauce', 2, 2, '32 - 8 oz bottles', 21.05),
 (11, 'Queso Cabrales', 5, 4, '1 kg pkg.', 21),
 (22, "Gustaf's Knäckebröd", 9, 5, '24 - 500 g pkgs.', 21),
 (49, 'Maxilaku', 23, 3, '24 - 50 g pkgs.', 20),
 (57, 'Ravioli Angelo', 26, 5, '24 - 250 g pkgs.', 19.5),
 (44, 'Gula Malacca', 20, 2, '20 - 2 kg bags', 19.45),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (36, 'Inlagd Sill', 17, 8, '24 - 250 g jars', 19),
 (40, 'Boston Crab Meat', 19, 8, '24 - 4 oz tins', 18.4),
 (1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (35, 'Steeleye Stout', 16, 1, '24 - 12 oz bottles', 18),
 (39, 'Chartreuse verte', 18, 1, '750 cc per bottle', 18),
 (76, 'Lakkalikööri', 23, 1, '500 ml', 18),
 (16, 'Pavlova', 7, 3, '32 - 500 g boxes', 17.45),
 (66, 'Louisiana Hot Spiced Okra', 2, 2, '24 - 8 oz jars', 17),
 (50, 'Valkoinen suklaa', 23, 3, '12 - 100 g bars', 16.25),
 (15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', 15.5),
 (70, 'Outback Lager', 7, 1, '24 - 355 ml bottles', 15),
 (73, 'Röd Kaviar', 17, 8, '24 - 150 g jars', 15),
 (25, 'NuNuCa Nuß-Nougat-Creme', 11, 3, '20 - 450 g glasses', 14),
 (34, 'Sasquatch Ale', 16, 1, '24 - 12 oz bottles', 14),
 (42, 'Singaporean Hokkien Fried Mee', 20, 5, '32 - 1 kg pkgs.', 14),
 (67, 'Laughing Lumberjack Lager', 16, 1, '24 - 12 oz bottles', 14),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', 13.25),
 (77, 'Original Frankfurter grüne Soße', 12, 2, '12 boxes', 13),
 (48, 'Chocolade', 22, 3, '10 pkgs.', 12.75),
 (31, 'Gorgonzola Telino', 14, 4, '12 - 100 g pkgs', 12.5),
 (68, 'Scottish Longbreads', 8, 3, '10 boxes x 8 pieces', 12.5),
 (46, 'Spegesild', 21, 8, '4 - 450 g glasses', 12),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10),
 (21, "Sir Rodney's Scones", 8, 3, '24 pkgs. x 4 pieces', 10),
 (74, 'Longlife Tofu', 4, 7, '5 kg pkg.', 10),
 (41, "Jack's New England Clam Chowder", 19, 8, '12 - 12 oz cans', 9.65),
 (45, 'Røgede sild', 21, 8, '1k pkg.', 9.5),
 (47, 'Zaanse koeken', 22, 3, '10 - 4 oz boxes', 9.5),
 (19, 'Teatime Chocolate Biscuits', 8, 3, '10 boxes x 12 pieces', 9.2),
 (23, 'Tunnbröd', 9, 5, '12 - 250 g pkgs.', 9),
 (75, 'Rhönbräu Klosterbier', 12, 1, '24 - 0.5 l bottles', 7.75),
 (54, 'Tourtière', 25, 6, '16 pies', 7.45),
 (52, 'Filo Mix', 24, 5, '16 - 2 kg boxes', 7),
 (13, 'Konbu', 6, 8, '2 kg box', 6),
 (24, 'Guaraná Fantástica', 10, 1, '12 - 355 ml cans', 4.5),
 (33, 'Geitost', 15, 4, '500 g', 2.5)]

In [12]:
sql = "SELECT * FROM Customers ORDER BY Country, CustomerName;"
sendQuery(sql)

[(12,
  'Cactus Comidas para llevar',
  'Patricio Simpson',
  'Cerrito 333',
  'Buenos Aires',
  '1010',
  'Argentina'),
 (54,
  'Océano Atlántico Ltda.',
  'Yvonne Moncada',
  'Ing. Gustavo Moncada 8585 Piso 20-A',
  'Buenos Aires',
  '1010',
  'Argentina'),
 (64,
  'Rancho grande',
  'Sergio Gutiérrez',
  'Av. del Libertador 900',
  'Buenos Aires',
  '1010',
  'Argentina'),
 (20,
  'Ernst Handel',
  'Roland Mendel',
  'Kirchgasse 6',
  'Graz',
  '8010',
  'Austria'),
 (59,
  'Piccolo und mehr',
  'Georg Pipps',
  'Geislweg 14',
  'Salzburg',
  '5020',
  'Austria'),
 (50,
  'Maison Dewey',
  'Catherine Dewey',
  'Rue Joseph-Bens 532',
  'Bruxelles',
  'B-1180',
  'Belgium'),
 (76,
  'Suprêmes délices',
  'Pascale Cartrain',
  'Boulevard Tirou, 255',
  'Charleroi',
  'B-6000',
  'Belgium'),
 (15,
  'Comércio Mineiro',
  'Pedro Afonso',
  'Av. dos Lusíadas, 23',
  'São Paulo',
  '05432-043',
  'Brazil'),
 (21,
  'Familia Arquibaldo',
  'Aria Cruz',
  'Rua Orós, 92',
  'São Paulo',
  '05442-030',
  'Brazil'),
 (31,
  'Gourmet Lanchonetes',
  'André Fonseca',
  'Av. Brasil, 442',
  'Campinas',
  '04876-786',
  'Brazil'),
 (34,
  'Hanari Carnes',
  'Mario Pontes',
  'Rua do Paço, 67',
  'Rio de Janeiro',
  '05454-876',
  'Brazil'),
 (61,
  'Que Delícia',
  'Bernardo Batista',
  'Rua da Panificadora, 12',
  'Rio de Janeiro',
  '02389-673',
  'Brazil'),
 (62,
  'Queen Cozinha',
  'Lúcia Carvalho',
  'Alameda dos Canàrios, 891',
  'São Paulo',
  '05487-020',
  'Brazil'),
 (67,
  'Ricardo Adocicados',
  'Janete Limeira',
  'Av. Copacabana, 267',
  'Rio de Janeiro',
  '02389-890',
  'Brazil'),
 (81,
  'Tradição Hipermercados',
  'Anabela Domingues',
  'Av. Inês de Castro, 414',
  'São Paulo',
  '05634-030',
  'Brazil'),
 (88,
  'Wellington Importadora',
  'Paula Parente',
  'Rua do Mercado, 12',
  'Resende',
  '08737-363',
  'Brazil'),
 (10,
  'Bottom-Dollar Marketse',
  'Elizabeth Lincoln',
  '23 Tsawassen Blvd.',
  'Tsawassen',
  'T2F 8M4',
  'Canada'),
 (42,
  'Laughing Bacchus Wine Cellars',
  'Yoshi Tannamuri',
  '1900 Oak St.',
  'Vancouver',
  'V3F 2K1',
  'Canada'),
 (51,
  'Mère Paillarde',
  'Jean Fresnière',
  '43 rue St. Laurent',
  'Montréal',
  'H1J 1C3',
  'Canada'),
 (73,
  'Simons bistro',
  'Jytte Petersen',
  'Vinbæltet 34',
  'København',
  '1734',
  'Denmark'),
 (83,
  'Vaffeljernet',
  'Palle Ibsen',
  'Smagsløget 45',
  'Århus',
  '8200',
  'Denmark'),
 (87,
  'Wartian Herkku',
  'Pirkko Koskitalo',
  'Torikatu 38',
  'Oulu',
  '90110',
  'Finland'),
 (90,
  'Wilman Kala',
  'Matti Karttunen',
  'Keskuskatu 45',
  'Helsinki',
  '21240',
  'Finland'),
 (7,
  'Blondel père et fils',
  'Frédérique Citeaux',
  '24, place Kléber',
  'Strasbourg',
  '67000',
  'France'),
 (9,
  "Bon app''",
  'Laurence Lebihans',
  '12, rue des Bouchers',
  'Marseille',
  '13008',
  'France'),
 (18,
  'Du monde entier',
  'Janine Labrune',
  '67, rue des Cinquante Otages',
  'Nantes',
  '44000',
  'France'),
 (23,
  'Folies gourmandes',
  'Martine Rancé',
  '184, chaussée de Tournai',
  'Lille',
  '59000',
  'France'),
 (26,
  'France restauration',
  'Carine Schmitt',
  '54, rue Royale',
  'Nantes',
  '44000',
  'France'),
 (40,
  "La corne d''abondance",
  'Daniel Tonini',
  "67, avenue de l''Europe",
  'Versailles',
  '78000',
  'France'),
 (41,
  "La maison d''Asie",
  'Annette Roulet',
  '1 rue Alsace-Lorraine',
  'Toulouse',
  '31000',
  'France'),
 (57,
  'Paris spécialités',
  'Marie Bertrand',
  '265, boulevard Charonne',
  'Paris',
  '75012',
  'France'),
 (74,
  'Spécialités du monde',
  'Dominique Perrier',
  '25, rue Lauriston',
  'Paris',
  '75016',
  'France'),
 (84,
  'Victuailles en stock',
  'Mary Saveley',
  '2, rue du Commerce',
  'Lyon',
  '69004',
  'France'),
 (85,
  'Vins et alcools Chevalier',
  'Paul Henriot',
  "59 rue de l''Abbaye",
  'Reims',
  '51100',
  'France'),
 (1,
  'Alfreds Futterkiste',
  'Maria Anders',
  'Obere Str. 57',
  'Berlin',
  '12209',
  'Germany'),
 (6,
  'Blauer See Delikatessen',
  'Hanna Moos',
  'Forsterstr. 57',
  'Mannheim',
  '68306',
  'Germany'),
 (86,
  'Die Wandernde Kuh',
  'Rita Müller',
  'Adenauerallee 900',
  'Stuttgart',
  '70563',
  'Germany'),
 (17,
  'Drachenblut Delikatessend',
  'Sven Ottlieb',
  'Walserweg 21',
  'Aachen',
  '52066',
  'Germany'),
 (25,
  'Frankenversand',
  'Peter Franken',
  'Berliner Platz 43',
  'München',
  '80805',
  'Germany'),
 (39,
  'Königlich Essen',
  'Philip Cramer',
  'Maubelstr. 90',
  'Brandenburg',
  '14776',
  'Germany'),
 (44,
  'Lehmanns Marktstand',
  'Renate Messner',
  'Magazinweg 7',
  'Frankfurt a.M.',
  '60528',
  'Germany'),
 (52,
  'Morgenstern Gesundkost',
  'Alexander Feuer',
  'Heerstr. 22',
  'Leipzig',
  '4179',
  'Germany'),
 (56,
  'Ottilies Käseladen',
  'Henriette Pfalzheim',
  'Mehrheimerstr. 369',
  'Köln',
  '50739',
  'Germany'),
 (63,
  'QUICK-Stop',
  'Horst Kloss',
  'Taucherstraße 10',
  'Cunewalde',
  '1307',
  'Germany'),
 (79,
  'Toms Spezialitäten',
  'Karin Josephs',
  'Luisenstr. 48',
  'Münster',
  '44087',
  'Germany'),
 (37,
  'Hungry Owl All-Night Grocers',
  'Patricia McKenna',
  '8 Johnstown Road',
  'Cork',
  '',
  'Ireland'),
 (27,
  'Franchi S.p.A.',
  'Paolo Accorti',
  'Via Monte Bianco 34',
  'Torino',
  '10100',
  'Italy'),
 (49,
  'Magazzini Alimentari Riuniti',
  'Giovanni Rovelli',
  'Via Ludovico il Moro 22',
  'Bergamo',
  '24100',
  'Italy'),
 (66,
  'Reggiani Caseifici',
  'Maurizio Moroni',
  'Strada Provinciale 124',
  'Reggio Emilia',
  '42100',
  'Italy'),
 (2,
  'Ana Trujillo Emparedados y helados',
  'Ana Trujillo',
  'Avda. de la Constitución 2222',
  'México D.F.',
  '5021',
  'Mexico'),
 (3,
  'Antonio Moreno Taquería',
  'Antonio Moreno',
  'Mataderos 2312',
  'México D.F.',
  '5023',
  'Mexico'),
 (13,
  'Centro comercial Moctezuma',
  'Francisco Chang',
  'Sierras de Granada 9993',
  'México D.F.',
  '5022',
  'Mexico'),
 (58,
  'Pericles Comidas clásicas',
  'Guillermo Fernández',
  'Calle Dr. Jorge Cash 321',
  'México D.F.',
  '5033',
  'Mexico'),
 (80,
  'Tortuga Restaurante',
  'Miguel Angel Paolino',
  'Avda. Azteca 123',
  'México D.F.',
  '5033',
  'Mexico'),
 (70,
  'Santé Gourmet',
  'Jonas Bergulfsen',
  'Erling Skakkes gate 78',
  'Stavern',
  '4110',
  'Norway'),
 (91, 'Wolski', 'Zbyszek', 'ul. Filtrowa 68', 'Walla', '01-012', 'Poland'),
 (28,
  'Furia Bacalhau e Frutos do Mar',
  'Lino Rodriguez',
  'Jardim das rosas n. 32',
  'Lisboa',
  '1675',
  'Portugal'),
 (60,
  'Princesa Isabel Vinhoss',
  'Isabel de Castro',
  'Estrada da saúde n. 58',
  'Lisboa',
  '1756',
  'Portugal'),
 (8,
  'Bólido Comidas preparadas',
  'Martín Sommer',
  'C/ Araquil, 67',
  'Madrid',
  '28023',
  'Spain'),
 (22,
  'FISSA Fabrica Inter. Salchichas S.A.',
  'Diego Roel',
  'C/ Moralzarzal, 86',
  'Madrid',
  '28034',
  'Spain'),
 (29,
  'Galería del gastrónomo',
  'Eduardo Saavedra',
  'Rambla de Cataluña, 23',
  'Barcelona',
  '8022',
  'Spain'),
 (30,
  'Godos Cocina Típica',
  'José Pedro Freyre',
  'C/ Romero, 33',
  'Sevilla',
  '41101',
  'Spain'),
 (69,
  'Romero y tomillo',
  'Alejandra Camino',
  'Gran Vía, 1',
  'Madrid',
  '28001',
  'Spain'),
 (5,
  'Berglunds snabbköp',
  'Christina Berglund',
  'Berguvsvägen 8',
  'Luleå',
  'S-958 22',
  'Sweden'),
 (24,
  'Folk och fä HB',
  'Maria Larsson',
  'Åkergatan 24',
  'Bräcke',
  'S-844 67',
  'Sweden'),
 (14,
  'Chop-suey Chinese',
  'Yang Wang',
  'Hauptstr. 29',
  'Bern',
  '3012',
  'Switzerland'),
 (68,
  'Richter Supermarkt',
  'Michael Holz',
  'Grenzacherweg 237',
  'Genève',
  '1203',
  'Switzerland'),
 (4,
  'Around the Horn',
  'Thomas Hardy',
  '120 Hanover Sq.',
  'London',
  'WA1 1DP',
  'UK'),
 (11,
  "B''s Beverages",
  'Victoria Ashworth',
  'Fauntleroy Circus',
  'London',
  'EC2 5NT',
  'UK'),
 (16,
  'Consolidated Holdings',
  'Elizabeth Brown',
  'Berkeley Gardens 12 Brewery',
  'London',
  'WX1 6LT',
  'UK'),
 (19,
  'Eastern Connection',
  'Ann Devon',
  '35 King George',
  'London',
  'WX3 6FW',
  'UK'),
 (38,
  'Island Trading',
  'Helen Bennett',
  'Garden House Crowther Way',
  'Cowes',
  'PO31 7PJ',
  'UK'),
 (53,
  'North/South',
  'Simon Crowther',
  'South House 300 Queensbridge',
  'London',
  'SW7 1RZ',
  'UK'),
 (72,
  'Seven Seas Imports',
  'Hari Kumar',
  '90 Wadhurst Rd.',
  'London',
  'OX15 4NB',
  'UK'),
 (32,
  'Great Lakes Food Market',
  'Howard Snyder',
  '2732 Baker Blvd.',
  'Eugene',
  '97403',
  'USA'),
 (36,
  'Hungry Coyote Import Store',
  'Yoshi Latimer',
  'City Center Plaza 516 Main St.',
  'Elgin',
  '97827',
  'USA'),
 (43,
  'Lazy K Kountry Store',
  'John Steel',
  '12 Orchestra Terrace',
  'Walla Walla',
  '99362',
  'USA'),
 (45,
  "Let''s Stop N Shop",
  'Jaime Yorres',
  '87 Polk St. Suite 5',
  'San Francisco',
  '94117',
  'USA'),
 (48,
  'Lonesome Pine Restaurant',
  'Fran Wilson',
  '89 Chiaroscuro Rd.',
  'Portland',
  '97219',
  'USA'),
 (55,
  'Old World Delicatessen',
  'Rene Phillips',
  '2743 Bering St.',
  'Anchorage',
  '99508',
  'USA'),
 (65,
  'Rattlesnake Canyon Grocery',
  'Paula Wilson',
  '2817 Milton Dr.',
  'Albuquerque',
  '87110',
  'USA'),
 (71,
  'Save-a-lot Markets',
  'Jose Pavarotti',
  '187 Suffolk Ln.',
  'Boise',
  '83720',
  'USA'),
 (75,
  'Split Rail Beer & Ale',
  'Art Braunschweiger',
  'P.O. Box 555',
  'Lander',
  '82520',
  'USA'),
 (77,
  'The Big Cheese',
  'Liz Nixon',
  '89 Jefferson Way Suite 2',
  'Portland',
  '97201',
  'USA'),
 (78,
  'The Cracker Box',
  'Liu Wong',
  '55 Grizzly Peak Rd.',
  'Butte',
  '59801',
  'USA'),
 (82,
  "Trail''s Head Gourmet Provisioners",
  'Helvetius Nagy',
  '722 DaVinci Blvd.',
  'Kirkland',
  '98034',
  'USA'),
 (89,
  'White Clover Markets',
  'Karl Jablonski',
  '305 - 14th Ave. S. Suite 3B',
  'Seattle',
  '98128',
  'USA'),
 (33,
  'GROSELLA-Restaurante',
  'Manuel Pereira',
  '5ª Ave. Los Palos Grandes',
  'Caracas',
  '1081',
  'Venezuela'),
 (35,
  'HILARIÓN-Abastos',
  'Carlos Hernández',
  'Carrera 22 con Ave. Carlos Soublette #8-35',
  'San Cristóbal',
  '5022',
  'Venezuela'),
 (46,
  'LILA-Supermercado',
  'Carlos González',
  'Carrera 52 con Ave. Bolívar #65-98 Llano Largo',
  'Barquisimeto',
  '3508',
  'Venezuela'),
 (47,
  'LINO-Delicateses',
  'Felipe Izquierdo',
  'Ave. 5 de Mayo Porlamar',
  'I. de Margarita',
  '4980',
  'Venezuela')]

In [13]:
sql = "SELECT * FROM Customers ORDER BY Country ASC, CustomerName DESC;"
sendQuery(sql)

[(64,
  'Rancho grande',
  'Sergio Gutiérrez',
  'Av. del Libertador 900',
  'Buenos Aires',
  '1010',
  'Argentina'),
 (54,
  'Océano Atlántico Ltda.',
  'Yvonne Moncada',
  'Ing. Gustavo Moncada 8585 Piso 20-A',
  'Buenos Aires',
  '1010',
  'Argentina'),
 (12,
  'Cactus Comidas para llevar',
  'Patricio Simpson',
  'Cerrito 333',
  'Buenos Aires',
  '1010',
  'Argentina'),
 (59,
  'Piccolo und mehr',
  'Georg Pipps',
  'Geislweg 14',
  'Salzburg',
  '5020',
  'Austria'),
 (20,
  'Ernst Handel',
  'Roland Mendel',
  'Kirchgasse 6',
  'Graz',
  '8010',
  'Austria'),
 (76,
  'Suprêmes délices',
  'Pascale Cartrain',
  'Boulevard Tirou, 255',
  'Charleroi',
  'B-6000',
  'Belgium'),
 (50,
  'Maison Dewey',
  'Catherine Dewey',
  'Rue Joseph-Bens 532',
  'Bruxelles',
  'B-1180',
  'Belgium'),
 (88,
  'Wellington Importadora',
  'Paula Parente',
  'Rua do Mercado, 12',
  'Resende',
  '08737-363',
  'Brazil'),
 (81,
  'Tradição Hipermercados',
  'Anabela Domingues',
  'Av. Inês de Castro, 414',
  'São Paulo',
  '05634-030',
  'Brazil'),
 (67,
  'Ricardo Adocicados',
  'Janete Limeira',
  'Av. Copacabana, 267',
  'Rio de Janeiro',
  '02389-890',
  'Brazil'),
 (62,
  'Queen Cozinha',
  'Lúcia Carvalho',
  'Alameda dos Canàrios, 891',
  'São Paulo',
  '05487-020',
  'Brazil'),
 (61,
  'Que Delícia',
  'Bernardo Batista',
  'Rua da Panificadora, 12',
  'Rio de Janeiro',
  '02389-673',
  'Brazil'),
 (34,
  'Hanari Carnes',
  'Mario Pontes',
  'Rua do Paço, 67',
  'Rio de Janeiro',
  '05454-876',
  'Brazil'),
 (31,
  'Gourmet Lanchonetes',
  'André Fonseca',
  'Av. Brasil, 442',
  'Campinas',
  '04876-786',
  'Brazil'),
 (21,
  'Familia Arquibaldo',
  'Aria Cruz',
  'Rua Orós, 92',
  'São Paulo',
  '05442-030',
  'Brazil'),
 (15,
  'Comércio Mineiro',
  'Pedro Afonso',
  'Av. dos Lusíadas, 23',
  'São Paulo',
  '05432-043',
  'Brazil'),
 (51,
  'Mère Paillarde',
  'Jean Fresnière',
  '43 rue St. Laurent',
  'Montréal',
  'H1J 1C3',
  'Canada'),
 (42,
  'Laughing Bacchus Wine Cellars',
  'Yoshi Tannamuri',
  '1900 Oak St.',
  'Vancouver',
  'V3F 2K1',
  'Canada'),
 (10,
  'Bottom-Dollar Marketse',
  'Elizabeth Lincoln',
  '23 Tsawassen Blvd.',
  'Tsawassen',
  'T2F 8M4',
  'Canada'),
 (83,
  'Vaffeljernet',
  'Palle Ibsen',
  'Smagsløget 45',
  'Århus',
  '8200',
  'Denmark'),
 (73,
  'Simons bistro',
  'Jytte Petersen',
  'Vinbæltet 34',
  'København',
  '1734',
  'Denmark'),
 (90,
  'Wilman Kala',
  'Matti Karttunen',
  'Keskuskatu 45',
  'Helsinki',
  '21240',
  'Finland'),
 (87,
  'Wartian Herkku',
  'Pirkko Koskitalo',
  'Torikatu 38',
  'Oulu',
  '90110',
  'Finland'),
 (85,
  'Vins et alcools Chevalier',
  'Paul Henriot',
  "59 rue de l''Abbaye",
  'Reims',
  '51100',
  'France'),
 (84,
  'Victuailles en stock',
  'Mary Saveley',
  '2, rue du Commerce',
  'Lyon',
  '69004',
  'France'),
 (74,
  'Spécialités du monde',
  'Dominique Perrier',
  '25, rue Lauriston',
  'Paris',
  '75016',
  'France'),
 (57,
  'Paris spécialités',
  'Marie Bertrand',
  '265, boulevard Charonne',
  'Paris',
  '75012',
  'France'),
 (41,
  "La maison d''Asie",
  'Annette Roulet',
  '1 rue Alsace-Lorraine',
  'Toulouse',
  '31000',
  'France'),
 (40,
  "La corne d''abondance",
  'Daniel Tonini',
  "67, avenue de l''Europe",
  'Versailles',
  '78000',
  'France'),
 (26,
  'France restauration',
  'Carine Schmitt',
  '54, rue Royale',
  'Nantes',
  '44000',
  'France'),
 (23,
  'Folies gourmandes',
  'Martine Rancé',
  '184, chaussée de Tournai',
  'Lille',
  '59000',
  'France'),
 (18,
  'Du monde entier',
  'Janine Labrune',
  '67, rue des Cinquante Otages',
  'Nantes',
  '44000',
  'France'),
 (9,
  "Bon app''",
  'Laurence Lebihans',
  '12, rue des Bouchers',
  'Marseille',
  '13008',
  'France'),
 (7,
  'Blondel père et fils',
  'Frédérique Citeaux',
  '24, place Kléber',
  'Strasbourg',
  '67000',
  'France'),
 (79,
  'Toms Spezialitäten',
  'Karin Josephs',
  'Luisenstr. 48',
  'Münster',
  '44087',
  'Germany'),
 (63,
  'QUICK-Stop',
  'Horst Kloss',
  'Taucherstraße 10',
  'Cunewalde',
  '1307',
  'Germany'),
 (56,
  'Ottilies Käseladen',
  'Henriette Pfalzheim',
  'Mehrheimerstr. 369',
  'Köln',
  '50739',
  'Germany'),
 (52,
  'Morgenstern Gesundkost',
  'Alexander Feuer',
  'Heerstr. 22',
  'Leipzig',
  '4179',
  'Germany'),
 (44,
  'Lehmanns Marktstand',
  'Renate Messner',
  'Magazinweg 7',
  'Frankfurt a.M.',
  '60528',
  'Germany'),
 (39,
  'Königlich Essen',
  'Philip Cramer',
  'Maubelstr. 90',
  'Brandenburg',
  '14776',
  'Germany'),
 (25,
  'Frankenversand',
  'Peter Franken',
  'Berliner Platz 43',
  'München',
  '80805',
  'Germany'),
 (17,
  'Drachenblut Delikatessend',
  'Sven Ottlieb',
  'Walserweg 21',
  'Aachen',
  '52066',
  'Germany'),
 (86,
  'Die Wandernde Kuh',
  'Rita Müller',
  'Adenauerallee 900',
  'Stuttgart',
  '70563',
  'Germany'),
 (6,
  'Blauer See Delikatessen',
  'Hanna Moos',
  'Forsterstr. 57',
  'Mannheim',
  '68306',
  'Germany'),
 (1,
  'Alfreds Futterkiste',
  'Maria Anders',
  'Obere Str. 57',
  'Berlin',
  '12209',
  'Germany'),
 (37,
  'Hungry Owl All-Night Grocers',
  'Patricia McKenna',
  '8 Johnstown Road',
  'Cork',
  '',
  'Ireland'),
 (66,
  'Reggiani Caseifici',
  'Maurizio Moroni',
  'Strada Provinciale 124',
  'Reggio Emilia',
  '42100',
  'Italy'),
 (49,
  'Magazzini Alimentari Riuniti',
  'Giovanni Rovelli',
  'Via Ludovico il Moro 22',
  'Bergamo',
  '24100',
  'Italy'),
 (27,
  'Franchi S.p.A.',
  'Paolo Accorti',
  'Via Monte Bianco 34',
  'Torino',
  '10100',
  'Italy'),
 (80,
  'Tortuga Restaurante',
  'Miguel Angel Paolino',
  'Avda. Azteca 123',
  'México D.F.',
  '5033',
  'Mexico'),
 (58,
  'Pericles Comidas clásicas',
  'Guillermo Fernández',
  'Calle Dr. Jorge Cash 321',
  'México D.F.',
  '5033',
  'Mexico'),
 (13,
  'Centro comercial Moctezuma',
  'Francisco Chang',
  'Sierras de Granada 9993',
  'México D.F.',
  '5022',
  'Mexico'),
 (3,
  'Antonio Moreno Taquería',
  'Antonio Moreno',
  'Mataderos 2312',
  'México D.F.',
  '5023',
  'Mexico'),
 (2,
  'Ana Trujillo Emparedados y helados',
  'Ana Trujillo',
  'Avda. de la Constitución 2222',
  'México D.F.',
  '5021',
  'Mexico'),
 (70,
  'Santé Gourmet',
  'Jonas Bergulfsen',
  'Erling Skakkes gate 78',
  'Stavern',
  '4110',
  'Norway'),
 (91, 'Wolski', 'Zbyszek', 'ul. Filtrowa 68', 'Walla', '01-012', 'Poland'),
 (60,
  'Princesa Isabel Vinhoss',
  'Isabel de Castro',
  'Estrada da saúde n. 58',
  'Lisboa',
  '1756',
  'Portugal'),
 (28,
  'Furia Bacalhau e Frutos do Mar',
  'Lino Rodriguez',
  'Jardim das rosas n. 32',
  'Lisboa',
  '1675',
  'Portugal'),
 (69,
  'Romero y tomillo',
  'Alejandra Camino',
  'Gran Vía, 1',
  'Madrid',
  '28001',
  'Spain'),
 (30,
  'Godos Cocina Típica',
  'José Pedro Freyre',
  'C/ Romero, 33',
  'Sevilla',
  '41101',
  'Spain'),
 (29,
  'Galería del gastrónomo',
  'Eduardo Saavedra',
  'Rambla de Cataluña, 23',
  'Barcelona',
  '8022',
  'Spain'),
 (22,
  'FISSA Fabrica Inter. Salchichas S.A.',
  'Diego Roel',
  'C/ Moralzarzal, 86',
  'Madrid',
  '28034',
  'Spain'),
 (8,
  'Bólido Comidas preparadas',
  'Martín Sommer',
  'C/ Araquil, 67',
  'Madrid',
  '28023',
  'Spain'),
 (24,
  'Folk och fä HB',
  'Maria Larsson',
  'Åkergatan 24',
  'Bräcke',
  'S-844 67',
  'Sweden'),
 (5,
  'Berglunds snabbköp',
  'Christina Berglund',
  'Berguvsvägen 8',
  'Luleå',
  'S-958 22',
  'Sweden'),
 (68,
  'Richter Supermarkt',
  'Michael Holz',
  'Grenzacherweg 237',
  'Genève',
  '1203',
  'Switzerland'),
 (14,
  'Chop-suey Chinese',
  'Yang Wang',
  'Hauptstr. 29',
  'Bern',
  '3012',
  'Switzerland'),
 (72,
  'Seven Seas Imports',
  'Hari Kumar',
  '90 Wadhurst Rd.',
  'London',
  'OX15 4NB',
  'UK'),
 (53,
  'North/South',
  'Simon Crowther',
  'South House 300 Queensbridge',
  'London',
  'SW7 1RZ',
  'UK'),
 (38,
  'Island Trading',
  'Helen Bennett',
  'Garden House Crowther Way',
  'Cowes',
  'PO31 7PJ',
  'UK'),
 (19,
  'Eastern Connection',
  'Ann Devon',
  '35 King George',
  'London',
  'WX3 6FW',
  'UK'),
 (16,
  'Consolidated Holdings',
  'Elizabeth Brown',
  'Berkeley Gardens 12 Brewery',
  'London',
  'WX1 6LT',
  'UK'),
 (11,
  "B''s Beverages",
  'Victoria Ashworth',
  'Fauntleroy Circus',
  'London',
  'EC2 5NT',
  'UK'),
 (4,
  'Around the Horn',
  'Thomas Hardy',
  '120 Hanover Sq.',
  'London',
  'WA1 1DP',
  'UK'),
 (89,
  'White Clover Markets',
  'Karl Jablonski',
  '305 - 14th Ave. S. Suite 3B',
  'Seattle',
  '98128',
  'USA'),
 (82,
  "Trail''s Head Gourmet Provisioners",
  'Helvetius Nagy',
  '722 DaVinci Blvd.',
  'Kirkland',
  '98034',
  'USA'),
 (78,
  'The Cracker Box',
  'Liu Wong',
  '55 Grizzly Peak Rd.',
  'Butte',
  '59801',
  'USA'),
 (77,
  'The Big Cheese',
  'Liz Nixon',
  '89 Jefferson Way Suite 2',
  'Portland',
  '97201',
  'USA'),
 (75,
  'Split Rail Beer & Ale',
  'Art Braunschweiger',
  'P.O. Box 555',
  'Lander',
  '82520',
  'USA'),
 (71,
  'Save-a-lot Markets',
  'Jose Pavarotti',
  '187 Suffolk Ln.',
  'Boise',
  '83720',
  'USA'),
 (65,
  'Rattlesnake Canyon Grocery',
  'Paula Wilson',
  '2817 Milton Dr.',
  'Albuquerque',
  '87110',
  'USA'),
 (55,
  'Old World Delicatessen',
  'Rene Phillips',
  '2743 Bering St.',
  'Anchorage',
  '99508',
  'USA'),
 (48,
  'Lonesome Pine Restaurant',
  'Fran Wilson',
  '89 Chiaroscuro Rd.',
  'Portland',
  '97219',
  'USA'),
 (45,
  "Let''s Stop N Shop",
  'Jaime Yorres',
  '87 Polk St. Suite 5',
  'San Francisco',
  '94117',
  'USA'),
 (43,
  'Lazy K Kountry Store',
  'John Steel',
  '12 Orchestra Terrace',
  'Walla Walla',
  '99362',
  'USA'),
 (36,
  'Hungry Coyote Import Store',
  'Yoshi Latimer',
  'City Center Plaza 516 Main St.',
  'Elgin',
  '97827',
  'USA'),
 (32,
  'Great Lakes Food Market',
  'Howard Snyder',
  '2732 Baker Blvd.',
  'Eugene',
  '97403',
  'USA'),
 (47,
  'LINO-Delicateses',
  'Felipe Izquierdo',
  'Ave. 5 de Mayo Porlamar',
  'I. de Margarita',
  '4980',
  'Venezuela'),
 (46,
  'LILA-Supermercado',
  'Carlos González',
  'Carrera 52 con Ave. Bolívar #65-98 Llano Largo',
  'Barquisimeto',
  '3508',
  'Venezuela'),
 (35,
  'HILARIÓN-Abastos',
  'Carlos Hernández',
  'Carrera 22 con Ave. Carlos Soublette #8-35',
  'San Cristóbal',
  '5022',
  'Venezuela'),
 (33,
  'GROSELLA-Restaurante',
  'Manuel Pereira',
  '5ª Ave. Los Palos Grandes',
  'Caracas',
  '1081',
  'Venezuela')]

특징으로는 ASC, DESC를 뒤에 써줄 수 있다. 숫자뿐만 아니라 알파벳 문자열에도 사용 가능하며, 여러 column을 붙이면 맨 처음 입력한 칼럼부터 우선순위를 가지고 정렬한다.

## AND / OR / NOT
논리 연산자이다. AND, OR는 각 논리식을 연결하는데 사용된다. NOT은 이미 논리연산을 한 조건을 뒤집을 때 사용한다.

In [14]:
sql = """ SELECT *
          FROM Customers
          WHERE Country = 'Spain' AND CustomerName Like 'G%'; """
sendQuery(sql)

[(29,
  'Galería del gastrónomo',
  'Eduardo Saavedra',
  'Rambla de Cataluña, 23',
  'Barcelona',
  '8022',
  'Spain'),
 (30,
  'Godos Cocina Típica',
  'José Pedro Freyre',
  'C/ Romero, 33',
  'Sevilla',
  '41101',
  'Spain')]

In [15]:
sql = """ SELECT *
          FROM Customers
          WHERE Country = 'Spain' OR Country = 'Germany'; """
sendQuery(sql)

[(1,
  'Alfreds Futterkiste',
  'Maria Anders',
  'Obere Str. 57',
  'Berlin',
  '12209',
  'Germany'),
 (6,
  'Blauer See Delikatessen',
  'Hanna Moos',
  'Forsterstr. 57',
  'Mannheim',
  '68306',
  'Germany'),
 (8,
  'Bólido Comidas preparadas',
  'Martín Sommer',
  'C/ Araquil, 67',
  'Madrid',
  '28023',
  'Spain'),
 (17,
  'Drachenblut Delikatessend',
  'Sven Ottlieb',
  'Walserweg 21',
  'Aachen',
  '52066',
  'Germany'),
 (22,
  'FISSA Fabrica Inter. Salchichas S.A.',
  'Diego Roel',
  'C/ Moralzarzal, 86',
  'Madrid',
  '28034',
  'Spain'),
 (25,
  'Frankenversand',
  'Peter Franken',
  'Berliner Platz 43',
  'München',
  '80805',
  'Germany'),
 (29,
  'Galería del gastrónomo',
  'Eduardo Saavedra',
  'Rambla de Cataluña, 23',
  'Barcelona',
  '8022',
  'Spain'),
 (30,
  'Godos Cocina Típica',
  'José Pedro Freyre',
  'C/ Romero, 33',
  'Sevilla',
  '41101',
  'Spain'),
 (39,
  'Königlich Essen',
  'Philip Cramer',
  'Maubelstr. 90',
  'Brandenburg',
  '14776',
  'Germany'),
 (44,
  'Lehmanns Marktstand',
  'Renate Messner',
  'Magazinweg 7',
  'Frankfurt a.M.',
  '60528',
  'Germany'),
 (52,
  'Morgenstern Gesundkost',
  'Alexander Feuer',
  'Heerstr. 22',
  'Leipzig',
  '4179',
  'Germany'),
 (56,
  'Ottilies Käseladen',
  'Henriette Pfalzheim',
  'Mehrheimerstr. 369',
  'Köln',
  '50739',
  'Germany'),
 (63,
  'QUICK-Stop',
  'Horst Kloss',
  'Taucherstraße 10',
  'Cunewalde',
  '1307',
  'Germany'),
 (69,
  'Romero y tomillo',
  'Alejandra Camino',
  'Gran Vía, 1',
  'Madrid',
  '28001',
  'Spain'),
 (79,
  'Toms Spezialitäten',
  'Karin Josephs',
  'Luisenstr. 48',
  'Münster',
  '44087',
  'Germany'),
 (86,
  'Die Wandernde Kuh',
  'Rita Müller',
  'Adenauerallee 900',
  'Stuttgart',
  '70563',
  'Germany')]

In [16]:
sql = """ SELECT DISTINCT Country FROM Customers
          WHERE NOT Country = 'Spain';"""
sendQuery(sql)

[('Germany',),
 ('Mexico',),
 ('UK',),
 ('Sweden',),
 ('France',),
 ('Canada',),
 ('Argentina',),
 ('Switzerland',),
 ('Brazil',),
 ('Austria',),
 ('Italy',),
 ('Portugal',),
 ('USA',),
 ('Venezuela',),
 ('Ireland',),
 ('Belgium',),
 ('Norway',),
 ('Denmark',),
 ('Finland',),
 ('Poland',)]

AND OR NOT을 섞어 쓸 수 있다. 연산자 우선순위는 AND가 OR보다 높다. NOT은 대부분의 경우에 연산자로 대체가 가능하다. 또, LIKE, BETWEEN, IN 앞에도 쓸 수 있다

## INSERT INTO
Table에 row를 추가하는 구문이다.

In [17]:
sql = """ INSERT INTO Customers (CustomerName, ContactName, Address, City, PostalCode, Country)
VALUES ('Cardinal', 'Tom B. Erichsen', 'Skagen 21', 'Stavanger', '4006', 'Norway'); """
sendQuery(sql)

[]

In [18]:
sql = "SELECT * FROM Customers WHERE CustomerName='Cardinal';"
sendQuery(sql)

[(92,
  'Cardinal',
  'Tom B. Erichsen',
  'Skagen 21',
  'Stavanger',
  '4006',
  'Norway')]

Cardinal씨가 리스트에 잘 추가되었다.

## NUlL, IS NULL, IS NOT NULL
NULL 값은 아무 것도 입력이 안된 값이다.

In [19]:
sql = """SELECT CustomerName, ContactName, Address
         FROM Customers
         WHERE Address IS NULL;"""
sendQuery(sql)

[]

In [20]:
sql = """SELECT CustomerName, ContactName, Address
         FROM Customers
         WHERE Address IS NOT NULL;"""
sendQuery(sql)

[('Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57'),
 ('Ana Trujillo Emparedados y helados',
  'Ana Trujillo',
  'Avda. de la Constitución 2222'),
 ('Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312'),
 ('Around the Horn', 'Thomas Hardy', '120 Hanover Sq.'),
 ('Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8'),
 ('Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57'),
 ('Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber'),
 ('Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67'),
 ("Bon app''", 'Laurence Lebihans', '12, rue des Bouchers'),
 ('Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.'),
 ("B''s Beverages", 'Victoria Ashworth', 'Fauntleroy Circus'),
 ('Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333'),
 ('Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993'),
 ('Chop-suey Chinese', 'Yang Wang', 'Hauptstr. 29'),
 ('Comércio Mineiro', 'Pedro Afonso', 'Av. dos Lusíadas, 23'),
 ('Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery'),
 ('Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21'),
 ('Du monde entier', 'Janine Labrune', '67, rue des Cinquante Otages'),
 ('Eastern Connection', 'Ann Devon', '35 King George'),
 ('Ernst Handel', 'Roland Mendel', 'Kirchgasse 6'),
 ('Familia Arquibaldo', 'Aria Cruz', 'Rua Orós, 92'),
 ('FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel', 'C/ Moralzarzal, 86'),
 ('Folies gourmandes', 'Martine Rancé', '184, chaussée de Tournai'),
 ('Folk och fä HB', 'Maria Larsson', 'Åkergatan 24'),
 ('Frankenversand', 'Peter Franken', 'Berliner Platz 43'),
 ('France restauration', 'Carine Schmitt', '54, rue Royale'),
 ('Franchi S.p.A.', 'Paolo Accorti', 'Via Monte Bianco 34'),
 ('Furia Bacalhau e Frutos do Mar',
  'Lino Rodriguez',
  'Jardim das rosas n. 32'),
 ('Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23'),
 ('Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33'),
 ('Gourmet Lanchonetes', 'André Fonseca', 'Av. Brasil, 442'),
 ('Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.'),
 ('GROSELLA-Restaurante', 'Manuel Pereira', '5ª Ave. Los Palos Grandes'),
 ('Hanari Carnes', 'Mario Pontes', 'Rua do Paço, 67'),
 ('HILARIÓN-Abastos',
  'Carlos Hernández',
  'Carrera 22 con Ave. Carlos Soublette #8-35'),
 ('Hungry Coyote Import Store',
  'Yoshi Latimer',
  'City Center Plaza 516 Main St.'),
 ('Hungry Owl All-Night Grocers', 'Patricia McKenna', '8 Johnstown Road'),
 ('Island Trading', 'Helen Bennett', 'Garden House Crowther Way'),
 ('Königlich Essen', 'Philip Cramer', 'Maubelstr. 90'),
 ("La corne d''abondance", 'Daniel Tonini', "67, avenue de l''Europe"),
 ("La maison d''Asie", 'Annette Roulet', '1 rue Alsace-Lorraine'),
 ('Laughing Bacchus Wine Cellars', 'Yoshi Tannamuri', '1900 Oak St.'),
 ('Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace'),
 ('Lehmanns Marktstand', 'Renate Messner', 'Magazinweg 7'),
 ("Let''s Stop N Shop", 'Jaime Yorres', '87 Polk St. Suite 5'),
 ('LILA-Supermercado',
  'Carlos González',
  'Carrera 52 con Ave. Bolívar #65-98 Llano Largo'),
 ('LINO-Delicateses', 'Felipe Izquierdo', 'Ave. 5 de Mayo Porlamar'),
 ('Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.'),
 ('Magazzini Alimentari Riuniti',
  'Giovanni Rovelli',
  'Via Ludovico il Moro 22'),
 ('Maison Dewey', 'Catherine Dewey', 'Rue Joseph-Bens 532'),
 ('Mère Paillarde', 'Jean Fresnière', '43 rue St. Laurent'),
 ('Morgenstern Gesundkost', 'Alexander Feuer', 'Heerstr. 22'),
 ('North/South', 'Simon Crowther', 'South House 300 Queensbridge'),
 ('Océano Atlántico Ltda.',
  'Yvonne Moncada',
  'Ing. Gustavo Moncada 8585 Piso 20-A'),
 ('Old World Delicatessen', 'Rene Phillips', '2743 Bering St.'),
 ('Ottilies Käseladen', 'Henriette Pfalzheim', 'Mehrheimerstr. 369'),
 ('Paris spécialités', 'Marie Bertrand', '265, boulevard Charonne'),
 ('Pericles Comidas clásicas',
  'Guillermo Fernández',
  'Calle Dr. Jorge Cash 321'),
 ('Piccolo und mehr', 'Georg Pipps', 'Geislweg 14'),
 ('Princesa Isabel Vinhoss', 'Isabel de Castro', 'Estrada da saúde n. 58'),
 ('Que Delícia', 'Bernardo Batista', 'Rua da Panificadora, 12'),
 ('Queen Cozinha', 'Lúcia Carvalho', 'Alameda dos Canàrios, 891'),
 ('QUICK-Stop', 'Horst Kloss', 'Taucherstraße 10'),
 ('Rancho grande', 'Sergio Gutiérrez', 'Av. del Libertador 900'),
 ('Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.'),
 ('Reggiani Caseifici', 'Maurizio Moroni', 'Strada Provinciale 124'),
 ('Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267'),
 ('Richter Supermarkt', 'Michael Holz', 'Grenzacherweg 237'),
 ('Romero y tomillo', 'Alejandra Camino', 'Gran Vía, 1'),
 ('Santé Gourmet', 'Jonas Bergulfsen', 'Erling Skakkes gate 78'),
 ('Save-a-lot Markets', 'Jose Pavarotti', '187 Suffolk Ln.'),
 ('Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.'),
 ('Simons bistro', 'Jytte Petersen', 'Vinbæltet 34'),
 ('Spécialités du monde', 'Dominique Perrier', '25, rue Lauriston'),
 ('Split Rail Beer & Ale', 'Art Braunschweiger', 'P.O. Box 555'),
 ('Suprêmes délices', 'Pascale Cartrain', 'Boulevard Tirou, 255'),
 ('The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2'),
 ('The Cracker Box', 'Liu Wong', '55 Grizzly Peak Rd.'),
 ('Toms Spezialitäten', 'Karin Josephs', 'Luisenstr. 48'),
 ('Tortuga Restaurante', 'Miguel Angel Paolino', 'Avda. Azteca 123'),
 ('Tradição Hipermercados', 'Anabela Domingues', 'Av. Inês de Castro, 414'),
 ("Trail''s Head Gourmet Provisioners", 'Helvetius Nagy', '722 DaVinci Blvd.'),
 ('Vaffeljernet', 'Palle Ibsen', 'Smagsløget 45'),
 ('Victuailles en stock', 'Mary Saveley', '2, rue du Commerce'),
 ('Vins et alcools Chevalier', 'Paul Henriot', "59 rue de l''Abbaye"),
 ('Die Wandernde Kuh', 'Rita Müller', 'Adenauerallee 900'),
 ('Wartian Herkku', 'Pirkko Koskitalo', 'Torikatu 38'),
 ('Wellington Importadora', 'Paula Parente', 'Rua do Mercado, 12'),
 ('White Clover Markets', 'Karl Jablonski', '305 - 14th Ave. S. Suite 3B'),
 ('Wilman Kala', 'Matti Karttunen', 'Keskuskatu 45'),
 ('Wolski', 'Zbyszek', 'ul. Filtrowa 68'),
 ('Cardinal', 'Tom B. Erichsen', 'Skagen 21')]

Customer 테이블에 주소가 등록되지 않은 사람은 아무도 없는 모양이다.

## UPDATE
데이터 값을 바꾸는(갱신하는) 쿼리문이다.

In [21]:
sql = """UPDATE Customers
         SET ContactName = 'Alfred Schmidt', City= 'Frankfurt'
         WHERE CustomerID = 1;"""
sendQuery(sql)

[]

In [22]:
sql = """SELECT *
         FROM Customers
         WHERE CustomerID = 1;"""
sendQuery(sql)

[(1,
  'Alfreds Futterkiste',
  'Alfred Schmidt',
  'Obere Str. 57',
  'Frankfurt',
  '12209',
  'Germany')]

알프레드씨의 정보가 잘 업데이트 되었다. UPDATE를 쓸 때는 WHERE로 조건을 꼭 걸어주자. 그렇지 않으면 모든 데이터가 업데이트 될 수 있다.

## DELETE, DROP
무언가를 삭제하는 쿼리문이다. 이하는 예문이다. 이하는 실행하지 않는 것을 추천한다. 다음에도 계속해서 Customer를 사용한다.

In [23]:
#sql = "DELETE FROM Customers WHERE CustomerName='Alfreds Futterkiste';"
sendQuery(sql)

[(1,
  'Alfreds Futterkiste',
  'Alfred Schmidt',
  'Obere Str. 57',
  'Frankfurt',
  '12209',
  'Germany')]

In [24]:
#sql = "SELECT CustomerName FROM Customers;"
sendQuery(sql)

[(1,
  'Alfreds Futterkiste',
  'Alfred Schmidt',
  'Obere Str. 57',
  'Frankfurt',
  '12209',
  'Germany')]

In [25]:
#sql = "DELETE FROM Customers;"
sendQuery(sql)

[(1,
  'Alfreds Futterkiste',
  'Alfred Schmidt',
  'Obere Str. 57',
  'Frankfurt',
  '12209',
  'Germany')]

In [26]:
#sql = "DROP TABLE Customers;"
sendQuery(sql)

[(1,
  'Alfreds Futterkiste',
  'Alfred Schmidt',
  'Obere Str. 57',
  'Frankfurt',
  '12209',
  'Germany')]

WHERE 조건문을 꼭 달자. 안그럼 테이블 전체가 다 지워진다.

## TOP, LIMIT, FETCH FIRST, ROWNUM
맨 위의 몇개의 row만 가져오게 제한을 거는 구문이다

In [27]:
#sql = "SELECT TOP 3 * FROM Customers;"
sql = "SELECT * FROM Customers LIMIT 3;"
#sql = "SELECT * FROM Customers FETCH FIRST 3 ONLY;"
sendQuery(sql)

[(1,
  'Alfreds Futterkiste',
  'Alfred Schmidt',
  'Obere Str. 57',
  'Frankfurt',
  '12209',
  'Germany'),
 (2,
  'Ana Trujillo Emparedados y helados',
  'Ana Trujillo',
  'Avda. de la Constitución 2222',
  'México D.F.',
  '5021',
  'Mexico'),
 (3,
  'Antonio Moreno Taquería',
  'Antonio Moreno',
  'Mataderos 2312',
  'México D.F.',
  '5023',
  'Mexico')]

sql = "SELECT TOP 3 * FROM Customers;"
sql = "SELECT * FROM Customers LIMIT 3;"
sql = "SELECT * FROM Customers FETCH FIRST 3;"
다 같은 내용의 쿼리문이지만 두번째 LIMIT만 작동을 한다. 추측해보건데 PERCENT를 막기 위해 이렇게 된것이 아닐까 싶다.

In [28]:
sql = """SELECT * FROM Customers LIMIT 3
         ORDER BY CustomerName DESC;"""
sendQuery(sql)

near "ORDER": syntax error

In [29]:
sql = """SELECT * FROM Customers
         ORDER BY CustomerName DESC
         LIMIT 3;"""
sendQuery(sql)

[(91, 'Wolski', 'Zbyszek', 'ul. Filtrowa 68', 'Walla', '01-012', 'Poland'),
 (90,
  'Wilman Kala',
  'Matti Karttunen',
  'Keskuskatu 45',
  'Helsinki',
  '21240',
  'Finland'),
 (89,
  'White Clover Markets',
  'Karl Jablonski',
  '305 - 14th Ave. S. Suite 3B',
  'Seattle',
  '98128',
  'USA')]

sql = "SELECT * FROM Customers LIMIT 3 ORDER BY CustomerName DESC;"가 되지 않았다. LIMIT로 조금 받아온 데이터를 정렬하고 싶으면 어떻게 해야 하는가? 라는 질문이 생긴다.

## Aggregate Functions

### MIN, MAX (AS, GROUP BY)
지정한 Column의 최대, 최소를 반환한다.

In [30]:
sql = "SELECT MIN(Price) FROM Products"
sendQuery(sql)

[(2.5,)]

In [31]:
sql = "SELECT MAX(Price) FROM Products"
sendQuery(sql)

[(263.5,)]

In [32]:
sendQuery("""SELECT MIN(Price) AS SmallestPrice, CategoryID
             FROM Products;
             GROUP BY CategoryID;""")

You can only execute one statement at a time.

AS와 GROUP BY가 등장했다. AS는 TABLE의 칼럼 레이블을 원하는 다른 이름으로 바꿔서 SELECT의 결과로 보내주는 역할을 한다. 또한 Group by는 pandas의 그것과 같이 같은 값을 가진 row끼리 모아서 연산시키는 함수이다.

### COUNT
엑셀의 count 함수처럼 개수를 세준다

In [33]:
sql = "SELECT COUNT(*) FROM Products"
sendQuery(sql)

[(77,)]

where함수와 적절이 섞어 쓰면 엑셀의 countif함수처럼 사용할 수 있다.

### SUM

In [34]:
sql = "SELECT SUM(Quantity) FROM OrderDetails;"
sendQuery(sql)

[(12743,)]

In [35]:
sql = "SELECT OrderID, SUM(Quantity) AS [Total Quantity] FROM OrderDetails GROUP BY OrderID;"
sendQuery(sql)

[(10248, 27),
 (10249, 49),
 (10250, 60),
 (10251, 41),
 (10252, 105),
 (10253, 102),
 (10254, 57),
 (10255, 110),
 (10256, 27),
 (10257, 46),
 (10258, 121),
 (10259, 11),
 (10260, 102),
 (10261, 40),
 (10262, 29),
 (10263, 184),
 (10264, 60),
 (10265, 50),
 (10266, 12),
 (10267, 135),
 (10268, 14),
 (10269, 80),
 (10270, 55),
 (10271, 24),
 (10272, 70),
 (10273, 152),
 (10274, 27),
 (10275, 18),
 (10276, 25),
 (10277, 32),
 (10278, 64),
 (10279, 15),
 (10280, 62),
 (10281, 11),
 (10282, 8),
 (10283, 76),
 (10284, 61),
 (10285, 121),
 (10286, 140),
 (10287, 75),
 (10288, 13),
 (10289, 39),
 (10290, 60),
 (10291, 46),
 (10292, 20),
 (10293, 33),
 (10294, 75),
 (10295, 4),
 (10296, 57),
 (10297, 80),
 (10298, 125),
 (10299, 35),
 (10300, 50),
 (10301, 30),
 (10302, 80),
 (10303, 85),
 (10304, 42),
 (10305, 80),
 (10306, 25),
 (10307, 13),
 (10308, 6),
 (10309, 75),
 (10310, 15),
 (10311, 13),
 (10312, 58),
 (10313, 12),
 (10314, 95),
 (10315, 44),
 (10316, 80),
 (10317, 20),
 (10318, 26),
 (10319, 52),
 (10320, 30),
 (10321, 10),
 (10322, 20),
 (10323, 13),
 (10324, 241),
 (10325, 71),
 (10326, 90),
 (10327, 140),
 (10328, 59),
 (10329, 50),
 (10330, 75),
 (10331, 15),
 (10332, 66),
 (10333, 60),
 (10334, 18),
 (10335, 86),
 (10336, 18),
 (10337, 137),
 (10338, 35),
 (10339, 108),
 (10340, 72),
 (10341, 17),
 (10342, 160),
 (10343, 69),
 (10344, 105),
 (10345, 159),
 (10346, 56),
 (10347, 70),
 (10348, 40),
 (10349, 24),
 (10350, 33),
 (10351, 120),
 (10352, 30),
 (10353, 62),
 (10354, 16),
 (10355, 50),
 (10356, 62),
 (10357, 54),
 (10358, 40),
 (10359, 206),
 (10360, 138),
 (10361, 109),
 (10362, 94),
 (10363, 44),
 (10364, 35),
 (10365, 24),
 (10366, 10),
 (10367, 76),
 (10368, 78),
 (10369, 38),
 (10370, 65),
 (10371, 6),
 (10372, 164),
 (10373, 130),
 (10374, 45),
 (10375, 25),
 (10376, 42),
 (10377, 40),
 (10378, 6),
 (10379, 44),
 (10380, 74),
 (10381, 14),
 (10382, 165),
 (10383, 55),
 (10384, 43),
 (10385, 38),
 (10386, 25),
 (10387, 48),
 (10388, 75),
 (10389, 81),
 (10390, 169),
 (10391, 18),
 (10392, 50),
 (10393, 176),
 (10394, 20),
 (10395, 106),
 (10396, 121),
 (10397, 28),
 (10398, 150),
 (10399, 139),
 (10400, 86),
 (10401, 168),
 (10402, 125),
 (10403, 91),
 (10404, 100),
 (10405, 50),
 (10406, 89),
 (10407, 60),
 (10408, 51),
 (10409, 24),
 (10410, 65),
 (10411, 74),
 (10412, 20),
 (10413, 78),
 (10414, 68),
 (10415, 22),
 (10416, 50),
 (10417, 123),
 (10418, 146),
 (10419, 80),
 (10420, 50),
 (10421, 59),
 (10422, 2),
 (10423, 34),
 (10424, 139),
 (10425, 30),
 (10426, 12),
 (10427, 35),
 (10428, 20),
 (10429, 75),
 (10430, 195),
 (10431, 130),
 (10432, 50),
 (10433, 28),
 (10434, 24),
 (10435, 32),
 (10436, 99),
 (10437, 15),
 (10438, 50),
 (10439, 67),
 (10440, 208),
 (10441, 50),
 (10442, 170),
 (10443, 18)]

In [36]:
sql = """SELECT SUM(Price * Quantity)
FROM OrderDetails
LEFT JOIN Products ON OrderDetails.ProductID = Products.ProductID;"""
sendQuery(sql)

[(386424.23,)]

Where을 섞어 쓰면 sumif함수를 엑셀에서 쓰듯이 쓸 수 있고, GROUP BY를 이용하면 같은 값에 대한 다른 칼럼의 합을 구할 수 있다.

### AVG
말 그대로 평균을 구하는 함수이다.

In [37]:
sql = "SELECT AVG(Price) FROM Products;"
sendQuery(sql)

[(28.866363636363637,)]

In [38]:
sql = "SELECT * FROM Products WHERE price > (SELECT AVG(price) FROM Products);"
sendQuery(sql)

[(7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31),
 (12, 'Queso Manchego La Pastora', 5, 4, '10 - 500 g pkgs.', 38),
 (17, 'Alice Mutton', 7, 6, '20 - 1 kg tins', 39),
 (18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', 62.5),
 (20, "Sir Rodney's Marmalade", 8, 3, '30 gift boxes', 81),
 (26, 'Gumbär Gummibärchen', 11, 3, '100 - 250 g bags', 31.23),
 (27, 'Schoggi Schokolade', 11, 3, '100 - 100 g pieces', 43.9),
 (28, 'Rössle Sauerkraut', 12, 7, '25 - 825 g cans', 45.6),
 (29, 'Thüringer Rostbratwurst', 12, 6, '50 bags x 30 sausgs.', 123.79),
 (32, 'Mascarpone Fabioli', 14, 4, '24 - 200 g pkgs.', 32),
 (38, 'Côte de Blaye', 18, 1, '12 - 75 cl bottles', 263.5),
 (43, 'Ipoh Coffee', 20, 1, '16 - 500 g tins', 46),
 (51, 'Manjimup Dried Apples', 24, 7, '50 - 300 g pkgs.', 53),
 (53, 'Perth Pasties', 24, 6, '48 pieces', 32.8),
 (56, 'Gnocchi di nonna Alice', 26, 5, '24 - 250 g pkgs.', 38),
 (59, 'Raclette Courdavault', 28, 4, '5 kg pkg.', 55),
 (60, 'Camembert Pierrot', 28, 4, '15 - 300 g rounds', 34),
 (62, 'Tarte au sucre', 29, 3, '48 pies', 49.3),
 (63, 'Vegie-spread', 7, 2, '15 - 625 g jars', 43.9),
 (64, 'Wimmers gute Semmelknödel', 12, 5, '20 bags x 4 pieces', 33.25),
 (69, 'Gudbrandsdalsost', 15, 4, '10 kg pkg.', 36),
 (72, 'Mozzarella di Giovanni', 14, 4, '24 - 200 g pkgs.', 34.8)]

sum과 마찬가지로 where과 같이 쓰면 조건에 부합하는 데이터의 평균이 구해지고, group by를 쓰면 해당 값과 동일한 값끼리 평균을 구하는 연산을 하게 된다. 특이한 쓰임세로는 where문 내부에 avg를 넣어서 평균보다 높은/낮은 값을 갖는 데이터를 불러올수도 있다.

## LIKE, wild card
정규 표현문을 사용하듯이 쓸 수 있는 키워드이다

In [39]:
sql = "SELECT * FROM Customers WHERE CustomerName LIKE 'a%';"
sendQuery(sql)

[(1,
  'Alfreds Futterkiste',
  'Alfred Schmidt',
  'Obere Str. 57',
  'Frankfurt',
  '12209',
  'Germany'),
 (2,
  'Ana Trujillo Emparedados y helados',
  'Ana Trujillo',
  'Avda. de la Constitución 2222',
  'México D.F.',
  '5021',
  'Mexico'),
 (3,
  'Antonio Moreno Taquería',
  'Antonio Moreno',
  'Mataderos 2312',
  'México D.F.',
  '5023',
  'Mexico'),
 (4,
  'Around the Horn',
  'Thomas Hardy',
  '120 Hanover Sq.',
  'London',
  'WA1 1DP',
  'UK')]

이 키워드를 잘 쓰기 위해선 와일드카드를 잘 알아야 한다. 

* _는 해당 위치에 아무 문자나 와도 된다는 의미이다.
* %는 해당 위치에는 임의 길이를 갖는 문자열이 들어가도 된다는 의미이다.

## IN
WHERE과 함께 쓰여서 복수의 조건을 한번에 나타내기 위해 쓰인다.

In [40]:
sql = "SELECT * FROM Customers WHERE Country IN ('Germany', 'France', 'UK');"
sendQuery(sql)

[(1,
  'Alfreds Futterkiste',
  'Alfred Schmidt',
  'Obere Str. 57',
  'Frankfurt',
  '12209',
  'Germany'),
 (4,
  'Around the Horn',
  'Thomas Hardy',
  '120 Hanover Sq.',
  'London',
  'WA1 1DP',
  'UK'),
 (6,
  'Blauer See Delikatessen',
  'Hanna Moos',
  'Forsterstr. 57',
  'Mannheim',
  '68306',
  'Germany'),
 (7,
  'Blondel père et fils',
  'Frédérique Citeaux',
  '24, place Kléber',
  'Strasbourg',
  '67000',
  'France'),
 (9,
  "Bon app''",
  'Laurence Lebihans',
  '12, rue des Bouchers',
  'Marseille',
  '13008',
  'France'),
 (11,
  "B''s Beverages",
  'Victoria Ashworth',
  'Fauntleroy Circus',
  'London',
  'EC2 5NT',
  'UK'),
 (16,
  'Consolidated Holdings',
  'Elizabeth Brown',
  'Berkeley Gardens 12 Brewery',
  'London',
  'WX1 6LT',
  'UK'),
 (17,
  'Drachenblut Delikatessend',
  'Sven Ottlieb',
  'Walserweg 21',
  'Aachen',
  '52066',
  'Germany'),
 (18,
  'Du monde entier',
  'Janine Labrune',
  '67, rue des Cinquante Otages',
  'Nantes',
  '44000',
  'France'),
 (19,
  'Eastern Connection',
  'Ann Devon',
  '35 King George',
  'London',
  'WX3 6FW',
  'UK'),
 (23,
  'Folies gourmandes',
  'Martine Rancé',
  '184, chaussée de Tournai',
  'Lille',
  '59000',
  'France'),
 (25,
  'Frankenversand',
  'Peter Franken',
  'Berliner Platz 43',
  'München',
  '80805',
  'Germany'),
 (26,
  'France restauration',
  'Carine Schmitt',
  '54, rue Royale',
  'Nantes',
  '44000',
  'France'),
 (38,
  'Island Trading',
  'Helen Bennett',
  'Garden House Crowther Way',
  'Cowes',
  'PO31 7PJ',
  'UK'),
 (39,
  'Königlich Essen',
  'Philip Cramer',
  'Maubelstr. 90',
  'Brandenburg',
  '14776',
  'Germany'),
 (40,
  "La corne d''abondance",
  'Daniel Tonini',
  "67, avenue de l''Europe",
  'Versailles',
  '78000',
  'France'),
 (41,
  "La maison d''Asie",
  'Annette Roulet',
  '1 rue Alsace-Lorraine',
  'Toulouse',
  '31000',
  'France'),
 (44,
  'Lehmanns Marktstand',
  'Renate Messner',
  'Magazinweg 7',
  'Frankfurt a.M.',
  '60528',
  'Germany'),
 (52,
  'Morgenstern Gesundkost',
  'Alexander Feuer',
  'Heerstr. 22',
  'Leipzig',
  '4179',
  'Germany'),
 (53,
  'North/South',
  'Simon Crowther',
  'South House 300 Queensbridge',
  'London',
  'SW7 1RZ',
  'UK'),
 (56,
  'Ottilies Käseladen',
  'Henriette Pfalzheim',
  'Mehrheimerstr. 369',
  'Köln',
  '50739',
  'Germany'),
 (57,
  'Paris spécialités',
  'Marie Bertrand',
  '265, boulevard Charonne',
  'Paris',
  '75012',
  'France'),
 (63,
  'QUICK-Stop',
  'Horst Kloss',
  'Taucherstraße 10',
  'Cunewalde',
  '1307',
  'Germany'),
 (72,
  'Seven Seas Imports',
  'Hari Kumar',
  '90 Wadhurst Rd.',
  'London',
  'OX15 4NB',
  'UK'),
 (74,
  'Spécialités du monde',
  'Dominique Perrier',
  '25, rue Lauriston',
  'Paris',
  '75016',
  'France'),
 (79,
  'Toms Spezialitäten',
  'Karin Josephs',
  'Luisenstr. 48',
  'Münster',
  '44087',
  'Germany'),
 (84,
  'Victuailles en stock',
  'Mary Saveley',
  '2, rue du Commerce',
  'Lyon',
  '69004',
  'France'),
 (85,
  'Vins et alcools Chevalier',
  'Paul Henriot',
  "59 rue de l''Abbaye",
  'Reims',
  '51100',
  'France'),
 (86,
  'Die Wandernde Kuh',
  'Rita Müller',
  'Adenauerallee 900',
  'Stuttgart',
  '70563',
  'Germany')]

In [41]:
sql = "SELECT * FROM Customers WHERE CustomerID IN (SELECT CustomerID FROM Orders);"
sendQuery(sql)

[(2,
  'Ana Trujillo Emparedados y helados',
  'Ana Trujillo',
  'Avda. de la Constitución 2222',
  'México D.F.',
  '5021',
  'Mexico'),
 (3,
  'Antonio Moreno Taquería',
  'Antonio Moreno',
  'Mataderos 2312',
  'México D.F.',
  '5023',
  'Mexico'),
 (4,
  'Around the Horn',
  'Thomas Hardy',
  '120 Hanover Sq.',
  'London',
  'WA1 1DP',
  'UK'),
 (5,
  'Berglunds snabbköp',
  'Christina Berglund',
  'Berguvsvägen 8',
  'Luleå',
  'S-958 22',
  'Sweden'),
 (7,
  'Blondel père et fils',
  'Frédérique Citeaux',
  '24, place Kléber',
  'Strasbourg',
  '67000',
  'France'),
 (8,
  'Bólido Comidas preparadas',
  'Martín Sommer',
  'C/ Araquil, 67',
  'Madrid',
  '28023',
  'Spain'),
 (9,
  "Bon app''",
  'Laurence Lebihans',
  '12, rue des Bouchers',
  'Marseille',
  '13008',
  'France'),
 (10,
  'Bottom-Dollar Marketse',
  'Elizabeth Lincoln',
  '23 Tsawassen Blvd.',
  'Tsawassen',
  'T2F 8M4',
  'Canada'),
 (11,
  "B''s Beverages",
  'Victoria Ashworth',
  'Fauntleroy Circus',
  'London',
  'EC2 5NT',
  'UK'),
 (13,
  'Centro comercial Moctezuma',
  'Francisco Chang',
  'Sierras de Granada 9993',
  'México D.F.',
  '5022',
  'Mexico'),
 (14,
  'Chop-suey Chinese',
  'Yang Wang',
  'Hauptstr. 29',
  'Bern',
  '3012',
  'Switzerland'),
 (15,
  'Comércio Mineiro',
  'Pedro Afonso',
  'Av. dos Lusíadas, 23',
  'São Paulo',
  '05432-043',
  'Brazil'),
 (16,
  'Consolidated Holdings',
  'Elizabeth Brown',
  'Berkeley Gardens 12 Brewery',
  'London',
  'WX1 6LT',
  'UK'),
 (17,
  'Drachenblut Delikatessend',
  'Sven Ottlieb',
  'Walserweg 21',
  'Aachen',
  '52066',
  'Germany'),
 (18,
  'Du monde entier',
  'Janine Labrune',
  '67, rue des Cinquante Otages',
  'Nantes',
  '44000',
  'France'),
 (19,
  'Eastern Connection',
  'Ann Devon',
  '35 King George',
  'London',
  'WX3 6FW',
  'UK'),
 (20,
  'Ernst Handel',
  'Roland Mendel',
  'Kirchgasse 6',
  'Graz',
  '8010',
  'Austria'),
 (21,
  'Familia Arquibaldo',
  'Aria Cruz',
  'Rua Orós, 92',
  'São Paulo',
  '05442-030',
  'Brazil'),
 (23,
  'Folies gourmandes',
  'Martine Rancé',
  '184, chaussée de Tournai',
  'Lille',
  '59000',
  'France'),
 (24,
  'Folk och fä HB',
  'Maria Larsson',
  'Åkergatan 24',
  'Bräcke',
  'S-844 67',
  'Sweden'),
 (25,
  'Frankenversand',
  'Peter Franken',
  'Berliner Platz 43',
  'München',
  '80805',
  'Germany'),
 (27,
  'Franchi S.p.A.',
  'Paolo Accorti',
  'Via Monte Bianco 34',
  'Torino',
  '10100',
  'Italy'),
 (28,
  'Furia Bacalhau e Frutos do Mar',
  'Lino Rodriguez',
  'Jardim das rosas n. 32',
  'Lisboa',
  '1675',
  'Portugal'),
 (29,
  'Galería del gastrónomo',
  'Eduardo Saavedra',
  'Rambla de Cataluña, 23',
  'Barcelona',
  '8022',
  'Spain'),
 (30,
  'Godos Cocina Típica',
  'José Pedro Freyre',
  'C/ Romero, 33',
  'Sevilla',
  '41101',
  'Spain'),
 (31,
  'Gourmet Lanchonetes',
  'André Fonseca',
  'Av. Brasil, 442',
  'Campinas',
  '04876-786',
  'Brazil'),
 (33,
  'GROSELLA-Restaurante',
  'Manuel Pereira',
  '5ª Ave. Los Palos Grandes',
  'Caracas',
  '1081',
  'Venezuela'),
 (34,
  'Hanari Carnes',
  'Mario Pontes',
  'Rua do Paço, 67',
  'Rio de Janeiro',
  '05454-876',
  'Brazil'),
 (35,
  'HILARIÓN-Abastos',
  'Carlos Hernández',
  'Carrera 22 con Ave. Carlos Soublette #8-35',
  'San Cristóbal',
  '5022',
  'Venezuela'),
 (36,
  'Hungry Coyote Import Store',
  'Yoshi Latimer',
  'City Center Plaza 516 Main St.',
  'Elgin',
  '97827',
  'USA'),
 (37,
  'Hungry Owl All-Night Grocers',
  'Patricia McKenna',
  '8 Johnstown Road',
  'Cork',
  '',
  'Ireland'),
 (38,
  'Island Trading',
  'Helen Bennett',
  'Garden House Crowther Way',
  'Cowes',
  'PO31 7PJ',
  'UK'),
 (39,
  'Königlich Essen',
  'Philip Cramer',
  'Maubelstr. 90',
  'Brandenburg',
  '14776',
  'Germany'),
 (41,
  "La maison d''Asie",
  'Annette Roulet',
  '1 rue Alsace-Lorraine',
  'Toulouse',
  '31000',
  'France'),
 (44,
  'Lehmanns Marktstand',
  'Renate Messner',
  'Magazinweg 7',
  'Frankfurt a.M.',
  '60528',
  'Germany'),
 (46,
  'LILA-Supermercado',
  'Carlos González',
  'Carrera 52 con Ave. Bolívar #65-98 Llano Largo',
  'Barquisimeto',
  '3508',
  'Venezuela'),
 (47,
  'LINO-Delicateses',
  'Felipe Izquierdo',
  'Ave. 5 de Mayo Porlamar',
  'I. de Margarita',
  '4980',
  'Venezuela'),
 (48,
  'Lonesome Pine Restaurant',
  'Fran Wilson',
  '89 Chiaroscuro Rd.',
  'Portland',
  '97219',
  'USA'),
 (49,
  'Magazzini Alimentari Riuniti',
  'Giovanni Rovelli',
  'Via Ludovico il Moro 22',
  'Bergamo',
  '24100',
  'Italy'),
 (51,
  'Mère Paillarde',
  'Jean Fresnière',
  '43 rue St. Laurent',
  'Montréal',
  'H1J 1C3',
  'Canada'),
 (52,
  'Morgenstern Gesundkost',
  'Alexander Feuer',
  'Heerstr. 22',
  'Leipzig',
  '4179',
  'Germany'),
 (54,
  'Océano Atlántico Ltda.',
  'Yvonne Moncada',
  'Ing. Gustavo Moncada 8585 Piso 20-A',
  'Buenos Aires',
  '1010',
  'Argentina'),
 (55,
  'Old World Delicatessen',
  'Rene Phillips',
  '2743 Bering St.',
  'Anchorage',
  '99508',
  'USA'),
 (56,
  'Ottilies Käseladen',
  'Henriette Pfalzheim',
  'Mehrheimerstr. 369',
  'Köln',
  '50739',
  'Germany'),
 (58,
  'Pericles Comidas clásicas',
  'Guillermo Fernández',
  'Calle Dr. Jorge Cash 321',
  'México D.F.',
  '5033',
  'Mexico'),
 (59,
  'Piccolo und mehr',
  'Georg Pipps',
  'Geislweg 14',
  'Salzburg',
  '5020',
  'Austria'),
 (60,
  'Princesa Isabel Vinhoss',
  'Isabel de Castro',
  'Estrada da saúde n. 58',
  'Lisboa',
  '1756',
  'Portugal'),
 (61,
  'Que Delícia',
  'Bernardo Batista',
  'Rua da Panificadora, 12',
  'Rio de Janeiro',
  '02389-673',
  'Brazil'),
 (62,
  'Queen Cozinha',
  'Lúcia Carvalho',
  'Alameda dos Canàrios, 891',
  'São Paulo',
  '05487-020',
  'Brazil'),
 (63,
  'QUICK-Stop',
  'Horst Kloss',
  'Taucherstraße 10',
  'Cunewalde',
  '1307',
  'Germany'),
 (65,
  'Rattlesnake Canyon Grocery',
  'Paula Wilson',
  '2817 Milton Dr.',
  'Albuquerque',
  '87110',
  'USA'),
 (66,
  'Reggiani Caseifici',
  'Maurizio Moroni',
  'Strada Provinciale 124',
  'Reggio Emilia',
  '42100',
  'Italy'),
 (67,
  'Ricardo Adocicados',
  'Janete Limeira',
  'Av. Copacabana, 267',
  'Rio de Janeiro',
  '02389-890',
  'Brazil'),
 (68,
  'Richter Supermarkt',
  'Michael Holz',
  'Grenzacherweg 237',
  'Genève',
  '1203',
  'Switzerland'),
 (69,
  'Romero y tomillo',
  'Alejandra Camino',
  'Gran Vía, 1',
  'Madrid',
  '28001',
  'Spain'),
 (70,
  'Santé Gourmet',
  'Jonas Bergulfsen',
  'Erling Skakkes gate 78',
  'Stavern',
  '4110',
  'Norway'),
 (71,
  'Save-a-lot Markets',
  'Jose Pavarotti',
  '187 Suffolk Ln.',
  'Boise',
  '83720',
  'USA'),
 (72,
  'Seven Seas Imports',
  'Hari Kumar',
  '90 Wadhurst Rd.',
  'London',
  'OX15 4NB',
  'UK'),
 (73,
  'Simons bistro',
  'Jytte Petersen',
  'Vinbæltet 34',
  'København',
  '1734',
  'Denmark'),
 (75,
  'Split Rail Beer & Ale',
  'Art Braunschweiger',
  'P.O. Box 555',
  'Lander',
  '82520',
  'USA'),
 (76,
  'Suprêmes délices',
  'Pascale Cartrain',
  'Boulevard Tirou, 255',
  'Charleroi',
  'B-6000',
  'Belgium'),
 (77,
  'The Big Cheese',
  'Liz Nixon',
  '89 Jefferson Way Suite 2',
  'Portland',
  '97201',
  'USA'),
 (79,
  'Toms Spezialitäten',
  'Karin Josephs',
  'Luisenstr. 48',
  'Münster',
  '44087',
  'Germany'),
 (80,
  'Tortuga Restaurante',
  'Miguel Angel Paolino',
  'Avda. Azteca 123',
  'México D.F.',
  '5033',
  'Mexico'),
 (81,
  'Tradição Hipermercados',
  'Anabela Domingues',
  'Av. Inês de Castro, 414',
  'São Paulo',
  '05634-030',
  'Brazil'),
 (83,
  'Vaffeljernet',
  'Palle Ibsen',
  'Smagsløget 45',
  'Århus',
  '8200',
  'Denmark'),
 (84,
  'Victuailles en stock',
  'Mary Saveley',
  '2, rue du Commerce',
  'Lyon',
  '69004',
  'France'),
 (85,
  'Vins et alcools Chevalier',
  'Paul Henriot',
  "59 rue de l''Abbaye",
  'Reims',
  '51100',
  'France'),
 (86,
  'Die Wandernde Kuh',
  'Rita Müller',
  'Adenauerallee 900',
  'Stuttgart',
  '70563',
  'Germany'),
 (87,
  'Wartian Herkku',
  'Pirkko Koskitalo',
  'Torikatu 38',
  'Oulu',
  '90110',
  'Finland'),
 (88,
  'Wellington Importadora',
  'Paula Parente',
  'Rua do Mercado, 12',
  'Resende',
  '08737-363',
  'Brazil'),
 (89,
  'White Clover Markets',
  'Karl Jablonski',
  '305 - 14th Ave. S. Suite 3B',
  'Seattle',
  '98128',
  'USA'),
 (90,
  'Wilman Kala',
  'Matti Karttunen',
  'Keskuskatu 45',
  'Helsinki',
  '21240',
  'Finland'),
 (91, 'Wolski', 'Zbyszek', 'ul. Filtrowa 68', 'Walla', '01-012', 'Poland')]

NOT과 함께 쓰여서 부정을 취할수도 있고 내부 조건으로 다른 SELECT의 결과를 줄 수도 있다.

## BETWEEN
범위를 결정하는 키워드이다. 숫자뿐 아니라 문자열 날짜에도 사용가능하다.

In [42]:
sql = "SELECT * FROM Products WHERE Price BETWEEN 10 AND 20;"
sendQuery(sql)

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10),
 (15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', 15.5),
 (16, 'Pavlova', 7, 3, '32 - 500 g boxes', 17.45),
 (21, "Sir Rodney's Scones", 8, 3, '24 pkgs. x 4 pieces', 10),
 (25, 'NuNuCa Nuß-Nougat-Creme', 11, 3, '20 - 450 g glasses', 14),
 (31, 'Gorgonzola Telino', 14, 4, '12 - 100 g pkgs', 12.5),
 (34, 'Sasquatch Ale', 16, 1, '24 - 12 oz bottles', 14),
 (35, 'Steeleye Stout', 16, 1, '24 - 12 oz bottles', 18),
 (36, 'Inlagd Sill', 17, 8, '24 - 250 g jars', 19),
 (39, 'Chartreuse verte', 18, 1, '750 cc per bottle', 18),
 (40, 'Boston Crab Meat', 19, 8, '24 - 4 oz tins', 18.4),
 (42, 'Singaporean Hokkien Fried Mee', 20, 5, '32 - 1 kg pkgs.', 14),
 (44, 'Gula Malacca', 20, 2, '20 - 2 kg bags', 19.45),
 (46, 'Spegesild', 21, 8, '4 - 450 g glasses', 12),
 (48, 'Chocolade', 22, 3, '10 pkgs.', 12.75),
 (49, 'Maxilaku', 23, 3, '24 - 50 g pkgs.', 20),
 (50, 'Valkoinen suklaa', 23, 3, '12 - 100 g bars', 16.25),
 (57, 'Ravioli Angelo', 26, 5, '24 - 250 g pkgs.', 19.5),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', 13.25),
 (66, 'Louisiana Hot Spiced Okra', 2, 2, '24 - 8 oz jars', 17),
 (67, 'Laughing Lumberjack Lager', 16, 1, '24 - 12 oz bottles', 14),
 (68, 'Scottish Longbreads', 8, 3, '10 boxes x 8 pieces', 12.5),
 (70, 'Outback Lager', 7, 1, '24 - 355 ml bottles', 15),
 (73, 'Röd Kaviar', 17, 8, '24 - 150 g jars', 15),
 (74, 'Longlife Tofu', 4, 7, '5 kg pkg.', 10),
 (76, 'Lakkalikööri', 23, 1, '500 ml', 18),
 (77, 'Original Frankfurter grüne Soße', 12, 2, '12 boxes', 13)]

In [43]:
sql = """SELECT * FROM Products
         WHERE ProductName BETWEEN 'Carnarvon Tigers' AND 'Mozzarella di Giovanni'
         ORDER BY ProductName;"""
sendQuery(sql)

[(18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', 62.5),
 (1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (39, 'Chartreuse verte', 18, 1, '750 cc per bottle', 18),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21.35),
 (48, 'Chocolade', 22, 3, '10 pkgs.', 12.75),
 (38, 'Côte de Blaye', 18, 1, '12 - 75 cl bottles', 263.5),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', 13.25),
 (52, 'Filo Mix', 24, 5, '16 - 2 kg boxes', 7),
 (71, 'Fløtemysost', 15, 4, '10 - 500 g pkgs.', 21.5),
 (33, 'Geitost', 15, 4, '500 g', 2.5),
 (15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', 15.5),
 (56, 'Gnocchi di nonna Alice', 26, 5, '24 - 250 g pkgs.', 38),
 (31, 'Gorgonzola Telino', 14, 4, '12 - 100 g pkgs', 12.5),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25),
 (37, 'Gravad lax', 17, 8, '12 - 500 g pkgs.', 26),
 (24, 'Guaraná Fantástica', 10, 1, '12 - 355 ml cans', 4.5),
 (69, 'Gudbrandsdalsost', 15, 4, '10 kg pkg.', 36),
 (44, 'Gula Malacca', 20, 2, '20 - 2 kg bags', 19.45),
 (26, 'Gumbär Gummibärchen', 11, 3, '100 - 250 g bags', 31.23),
 (22, "Gustaf's Knäckebröd", 9, 5, '24 - 500 g pkgs.', 21),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31),
 (36, 'Inlagd Sill', 17, 8, '24 - 250 g jars', 19),
 (43, 'Ipoh Coffee', 20, 1, '16 - 500 g tins', 46),
 (41, "Jack's New England Clam Chowder", 19, 8, '12 - 12 oz cans', 9.65),
 (13, 'Konbu', 6, 8, '2 kg box', 6),
 (76, 'Lakkalikööri', 23, 1, '500 ml', 18),
 (67, 'Laughing Lumberjack Lager', 16, 1, '24 - 12 oz bottles', 14),
 (74, 'Longlife Tofu', 4, 7, '5 kg pkg.', 10),
 (65, 'Louisiana Fiery Hot Pepper Sauce', 2, 2, '32 - 8 oz bottles', 21.05),
 (66, 'Louisiana Hot Spiced Okra', 2, 2, '24 - 8 oz jars', 17),
 (51, 'Manjimup Dried Apples', 24, 7, '50 - 300 g pkgs.', 53),
 (32, 'Mascarpone Fabioli', 14, 4, '24 - 200 g pkgs.', 32),
 (49, 'Maxilaku', 23, 3, '24 - 50 g pkgs.', 20),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97),
 (72, 'Mozzarella di Giovanni', 14, 4, '24 - 200 g pkgs.', 34.8)]

In [45]:
sql = "SELECT * FROM Orders WHERE OrderDate BETWEEN '1996-07-01' AND '1996-07-31';"
sendQuery(sql)

[(10248, 90, 5, '1996-07-04', 3),
 (10249, 81, 6, '1996-07-05', 1),
 (10250, 34, 4, '1996-07-08', 2),
 (10251, 84, 3, '1996-07-08', 1),
 (10252, 76, 4, '1996-07-09', 2),
 (10253, 34, 3, '1996-07-10', 2),
 (10254, 14, 5, '1996-07-11', 2),
 (10255, 68, 9, '1996-07-12', 3),
 (10256, 88, 3, '1996-07-15', 2),
 (10257, 35, 4, '1996-07-16', 3),
 (10258, 20, 1, '1996-07-17', 1),
 (10259, 13, 4, '1996-07-18', 3),
 (10260, 55, 4, '1996-07-19', 1),
 (10261, 61, 4, '1996-07-19', 2),
 (10262, 65, 8, '1996-07-22', 3),
 (10263, 20, 9, '1996-07-23', 3),
 (10264, 24, 6, '1996-07-24', 3),
 (10265, 7, 2, '1996-07-25', 1),
 (10266, 87, 3, '1996-07-26', 3),
 (10267, 25, 4, '1996-07-29', 1),
 (10268, 33, 8, '1996-07-30', 3),
 (10269, 89, 5, '1996-07-31', 1)]

## AS (Aliases)
테이블에서 불러오고자 하는 데이터의 column과 내가 다루고자 하는 데이터의 column이 다를 때 요긴하게 쓰인다. 쓰고자 하는 데이터 명에 스페이스 바, 공백문자가 들어가면 대괄호로 쳐서 해결하던가, 큰ㅈ따오포를 쳐서 해결해야 한다.

In [46]:
sql = "SELECT CustomerID AS ID, CustomerName AS Customer FROM Customers;"
sendQuery(sql)

[(1, 'Alfreds Futterkiste'),
 (2, 'Ana Trujillo Emparedados y helados'),
 (3, 'Antonio Moreno Taquería'),
 (4, 'Around the Horn'),
 (5, 'Berglunds snabbköp'),
 (6, 'Blauer See Delikatessen'),
 (7, 'Blondel père et fils'),
 (8, 'Bólido Comidas preparadas'),
 (9, "Bon app''"),
 (10, 'Bottom-Dollar Marketse'),
 (11, "B''s Beverages"),
 (12, 'Cactus Comidas para llevar'),
 (13, 'Centro comercial Moctezuma'),
 (14, 'Chop-suey Chinese'),
 (15, 'Comércio Mineiro'),
 (16, 'Consolidated Holdings'),
 (17, 'Drachenblut Delikatessend'),
 (18, 'Du monde entier'),
 (19, 'Eastern Connection'),
 (20, 'Ernst Handel'),
 (21, 'Familia Arquibaldo'),
 (22, 'FISSA Fabrica Inter. Salchichas S.A.'),
 (23, 'Folies gourmandes'),
 (24, 'Folk och fä HB'),
 (25, 'Frankenversand'),
 (26, 'France restauration'),
 (27, 'Franchi S.p.A.'),
 (28, 'Furia Bacalhau e Frutos do Mar'),
 (29, 'Galería del gastrónomo'),
 (30, 'Godos Cocina Típica'),
 (31, 'Gourmet Lanchonetes'),
 (32, 'Great Lakes Food Market'),
 (33, 'GROSELLA-Restaurante'),
 (34, 'Hanari Carnes'),
 (35, 'HILARIÓN-Abastos'),
 (36, 'Hungry Coyote Import Store'),
 (37, 'Hungry Owl All-Night Grocers'),
 (38, 'Island Trading'),
 (39, 'Königlich Essen'),
 (40, "La corne d''abondance"),
 (41, "La maison d''Asie"),
 (42, 'Laughing Bacchus Wine Cellars'),
 (43, 'Lazy K Kountry Store'),
 (44, 'Lehmanns Marktstand'),
 (45, "Let''s Stop N Shop"),
 (46, 'LILA-Supermercado'),
 (47, 'LINO-Delicateses'),
 (48, 'Lonesome Pine Restaurant'),
 (49, 'Magazzini Alimentari Riuniti'),
 (50, 'Maison Dewey'),
 (51, 'Mère Paillarde'),
 (52, 'Morgenstern Gesundkost'),
 (53, 'North/South'),
 (54, 'Océano Atlántico Ltda.'),
 (55, 'Old World Delicatessen'),
 (56, 'Ottilies Käseladen'),
 (57, 'Paris spécialités'),
 (58, 'Pericles Comidas clásicas'),
 (59, 'Piccolo und mehr'),
 (60, 'Princesa Isabel Vinhoss'),
 (61, 'Que Delícia'),
 (62, 'Queen Cozinha'),
 (63, 'QUICK-Stop'),
 (64, 'Rancho grande'),
 (65, 'Rattlesnake Canyon Grocery'),
 (66, 'Reggiani Caseifici'),
 (67, 'Ricardo Adocicados'),
 (68, 'Richter Supermarkt'),
 (69, 'Romero y tomillo'),
 (70, 'Santé Gourmet'),
 (71, 'Save-a-lot Markets'),
 (72, 'Seven Seas Imports'),
 (73, 'Simons bistro'),
 (74, 'Spécialités du monde'),
 (75, 'Split Rail Beer & Ale'),
 (76, 'Suprêmes délices'),
 (77, 'The Big Cheese'),
 (78, 'The Cracker Box'),
 (79, 'Toms Spezialitäten'),
 (80, 'Tortuga Restaurante'),
 (81, 'Tradição Hipermercados'),
 (82, "Trail''s Head Gourmet Provisioners"),
 (83, 'Vaffeljernet'),
 (84, 'Victuailles en stock'),
 (85, 'Vins et alcools Chevalier'),
 (86, 'Die Wandernde Kuh'),
 (87, 'Wartian Herkku'),
 (88, 'Wellington Importadora'),
 (89, 'White Clover Markets'),
 (90, 'Wilman Kala'),
 (91, 'Wolski'),
 (92, 'Cardinal')]

In [48]:
#sql ="SELECT ProductName AS [My Great Products] FROM Products;"
sql ="SELECT ProductName AS ""MyGreatProducts"" FROM Products;"
sendQuery(sql)

[('Chais',),
 ('Chang',),
 ('Aniseed Syrup',),
 ("Chef Anton's Cajun Seasoning",),
 ("Chef Anton's Gumbo Mix",),
 ("Grandma's Boysenberry Spread",),
 ("Uncle Bob's Organic Dried Pears",),
 ('Northwoods Cranberry Sauce',),
 ('Mishi Kobe Niku',),
 ('Ikura',),
 ('Queso Cabrales',),
 ('Queso Manchego La Pastora',),
 ('Konbu',),
 ('Tofu',),
 ('Genen Shouyu',),
 ('Pavlova',),
 ('Alice Mutton',),
 ('Carnarvon Tigers',),
 ('Teatime Chocolate Biscuits',),
 ("Sir Rodney's Marmalade",),
 ("Sir Rodney's Scones",),
 ("Gustaf's Knäckebröd",),
 ('Tunnbröd',),
 ('Guaraná Fantástica',),
 ('NuNuCa Nuß-Nougat-Creme',),
 ('Gumbär Gummibärchen',),
 ('Schoggi Schokolade',),
 ('Rössle Sauerkraut',),
 ('Thüringer Rostbratwurst',),
 ('Nord-Ost Matjeshering',),
 ('Gorgonzola Telino',),
 ('Mascarpone Fabioli',),
 ('Geitost',),
 ('Sasquatch Ale',),
 ('Steeleye Stout',),
 ('Inlagd Sill',),
 ('Gravad lax',),
 ('Côte de Blaye',),
 ('Chartreuse verte',),
 ('Boston Crab Meat',),
 ("Jack's New England Clam Chowder",),
 ('Singaporean Hokkien Fried Mee',),
 ('Ipoh Coffee',),
 ('Gula Malacca',),
 ('Røgede sild',),
 ('Spegesild',),
 ('Zaanse koeken',),
 ('Chocolade',),
 ('Maxilaku',),
 ('Valkoinen suklaa',),
 ('Manjimup Dried Apples',),
 ('Filo Mix',),
 ('Perth Pasties',),
 ('Tourtière',),
 ('Pâté chinois',),
 ('Gnocchi di nonna Alice',),
 ('Ravioli Angelo',),
 ('Escargots de Bourgogne',),
 ('Raclette Courdavault',),
 ('Camembert Pierrot',),
 ("Sirop d'érable",),
 ('Tarte au sucre',),
 ('Vegie-spread',),
 ('Wimmers gute Semmelknödel',),
 ('Louisiana Fiery Hot Pepper Sauce',),
 ('Louisiana Hot Spiced Okra',),
 ('Laughing Lumberjack Lager',),
 ('Scottish Longbreads',),
 ('Gudbrandsdalsost',),
 ('Outback Lager',),
 ('Fløtemysost',),
 ('Mozzarella di Giovanni',),
 ('Röd Kaviar',),
 ('Longlife Tofu',),
 ('Rhönbräu Klosterbier',),
 ('Lakkalikööri',),
 ('Original Frankfurter grüne Soße',)]

Table에도 가능하다.

In [49]:
sql = "SELECT * FROM Customers AS Persons;"
sendQuery(sql)

[(1,
  'Alfreds Futterkiste',
  'Alfred Schmidt',
  'Obere Str. 57',
  'Frankfurt',
  '12209',
  'Germany'),
 (2,
  'Ana Trujillo Emparedados y helados',
  'Ana Trujillo',
  'Avda. de la Constitución 2222',
  'México D.F.',
  '5021',
  'Mexico'),
 (3,
  'Antonio Moreno Taquería',
  'Antonio Moreno',
  'Mataderos 2312',
  'México D.F.',
  '5023',
  'Mexico'),
 (4,
  'Around the Horn',
  'Thomas Hardy',
  '120 Hanover Sq.',
  'London',
  'WA1 1DP',
  'UK'),
 (5,
  'Berglunds snabbköp',
  'Christina Berglund',
  'Berguvsvägen 8',
  'Luleå',
  'S-958 22',
  'Sweden'),
 (6,
  'Blauer See Delikatessen',
  'Hanna Moos',
  'Forsterstr. 57',
  'Mannheim',
  '68306',
  'Germany'),
 (7,
  'Blondel père et fils',
  'Frédérique Citeaux',
  '24, place Kléber',
  'Strasbourg',
  '67000',
  'France'),
 (8,
  'Bólido Comidas preparadas',
  'Martín Sommer',
  'C/ Araquil, 67',
  'Madrid',
  '28023',
  'Spain'),
 (9,
  "Bon app''",
  'Laurence Lebihans',
  '12, rue des Bouchers',
  'Marseille',
  '13008',
  'France'),
 (10,
  'Bottom-Dollar Marketse',
  'Elizabeth Lincoln',
  '23 Tsawassen Blvd.',
  'Tsawassen',
  'T2F 8M4',
  'Canada'),
 (11,
  "B''s Beverages",
  'Victoria Ashworth',
  'Fauntleroy Circus',
  'London',
  'EC2 5NT',
  'UK'),
 (12,
  'Cactus Comidas para llevar',
  'Patricio Simpson',
  'Cerrito 333',
  'Buenos Aires',
  '1010',
  'Argentina'),
 (13,
  'Centro comercial Moctezuma',
  'Francisco Chang',
  'Sierras de Granada 9993',
  'México D.F.',
  '5022',
  'Mexico'),
 (14,
  'Chop-suey Chinese',
  'Yang Wang',
  'Hauptstr. 29',
  'Bern',
  '3012',
  'Switzerland'),
 (15,
  'Comércio Mineiro',
  'Pedro Afonso',
  'Av. dos Lusíadas, 23',
  'São Paulo',
  '05432-043',
  'Brazil'),
 (16,
  'Consolidated Holdings',
  'Elizabeth Brown',
  'Berkeley Gardens 12 Brewery',
  'London',
  'WX1 6LT',
  'UK'),
 (17,
  'Drachenblut Delikatessend',
  'Sven Ottlieb',
  'Walserweg 21',
  'Aachen',
  '52066',
  'Germany'),
 (18,
  'Du monde entier',
  'Janine Labrune',
  '67, rue des Cinquante Otages',
  'Nantes',
  '44000',
  'France'),
 (19,
  'Eastern Connection',
  'Ann Devon',
  '35 King George',
  'London',
  'WX3 6FW',
  'UK'),
 (20,
  'Ernst Handel',
  'Roland Mendel',
  'Kirchgasse 6',
  'Graz',
  '8010',
  'Austria'),
 (21,
  'Familia Arquibaldo',
  'Aria Cruz',
  'Rua Orós, 92',
  'São Paulo',
  '05442-030',
  'Brazil'),
 (22,
  'FISSA Fabrica Inter. Salchichas S.A.',
  'Diego Roel',
  'C/ Moralzarzal, 86',
  'Madrid',
  '28034',
  'Spain'),
 (23,
  'Folies gourmandes',
  'Martine Rancé',
  '184, chaussée de Tournai',
  'Lille',
  '59000',
  'France'),
 (24,
  'Folk och fä HB',
  'Maria Larsson',
  'Åkergatan 24',
  'Bräcke',
  'S-844 67',
  'Sweden'),
 (25,
  'Frankenversand',
  'Peter Franken',
  'Berliner Platz 43',
  'München',
  '80805',
  'Germany'),
 (26,
  'France restauration',
  'Carine Schmitt',
  '54, rue Royale',
  'Nantes',
  '44000',
  'France'),
 (27,
  'Franchi S.p.A.',
  'Paolo Accorti',
  'Via Monte Bianco 34',
  'Torino',
  '10100',
  'Italy'),
 (28,
  'Furia Bacalhau e Frutos do Mar',
  'Lino Rodriguez',
  'Jardim das rosas n. 32',
  'Lisboa',
  '1675',
  'Portugal'),
 (29,
  'Galería del gastrónomo',
  'Eduardo Saavedra',
  'Rambla de Cataluña, 23',
  'Barcelona',
  '8022',
  'Spain'),
 (30,
  'Godos Cocina Típica',
  'José Pedro Freyre',
  'C/ Romero, 33',
  'Sevilla',
  '41101',
  'Spain'),
 (31,
  'Gourmet Lanchonetes',
  'André Fonseca',
  'Av. Brasil, 442',
  'Campinas',
  '04876-786',
  'Brazil'),
 (32,
  'Great Lakes Food Market',
  'Howard Snyder',
  '2732 Baker Blvd.',
  'Eugene',
  '97403',
  'USA'),
 (33,
  'GROSELLA-Restaurante',
  'Manuel Pereira',
  '5ª Ave. Los Palos Grandes',
  'Caracas',
  '1081',
  'Venezuela'),
 (34,
  'Hanari Carnes',
  'Mario Pontes',
  'Rua do Paço, 67',
  'Rio de Janeiro',
  '05454-876',
  'Brazil'),
 (35,
  'HILARIÓN-Abastos',
  'Carlos Hernández',
  'Carrera 22 con Ave. Carlos Soublette #8-35',
  'San Cristóbal',
  '5022',
  'Venezuela'),
 (36,
  'Hungry Coyote Import Store',
  'Yoshi Latimer',
  'City Center Plaza 516 Main St.',
  'Elgin',
  '97827',
  'USA'),
 (37,
  'Hungry Owl All-Night Grocers',
  'Patricia McKenna',
  '8 Johnstown Road',
  'Cork',
  '',
  'Ireland'),
 (38,
  'Island Trading',
  'Helen Bennett',
  'Garden House Crowther Way',
  'Cowes',
  'PO31 7PJ',
  'UK'),
 (39,
  'Königlich Essen',
  'Philip Cramer',
  'Maubelstr. 90',
  'Brandenburg',
  '14776',
  'Germany'),
 (40,
  "La corne d''abondance",
  'Daniel Tonini',
  "67, avenue de l''Europe",
  'Versailles',
  '78000',
  'France'),
 (41,
  "La maison d''Asie",
  'Annette Roulet',
  '1 rue Alsace-Lorraine',
  'Toulouse',
  '31000',
  'France'),
 (42,
  'Laughing Bacchus Wine Cellars',
  'Yoshi Tannamuri',
  '1900 Oak St.',
  'Vancouver',
  'V3F 2K1',
  'Canada'),
 (43,
  'Lazy K Kountry Store',
  'John Steel',
  '12 Orchestra Terrace',
  'Walla Walla',
  '99362',
  'USA'),
 (44,
  'Lehmanns Marktstand',
  'Renate Messner',
  'Magazinweg 7',
  'Frankfurt a.M.',
  '60528',
  'Germany'),
 (45,
  "Let''s Stop N Shop",
  'Jaime Yorres',
  '87 Polk St. Suite 5',
  'San Francisco',
  '94117',
  'USA'),
 (46,
  'LILA-Supermercado',
  'Carlos González',
  'Carrera 52 con Ave. Bolívar #65-98 Llano Largo',
  'Barquisimeto',
  '3508',
  'Venezuela'),
 (47,
  'LINO-Delicateses',
  'Felipe Izquierdo',
  'Ave. 5 de Mayo Porlamar',
  'I. de Margarita',
  '4980',
  'Venezuela'),
 (48,
  'Lonesome Pine Restaurant',
  'Fran Wilson',
  '89 Chiaroscuro Rd.',
  'Portland',
  '97219',
  'USA'),
 (49,
  'Magazzini Alimentari Riuniti',
  'Giovanni Rovelli',
  'Via Ludovico il Moro 22',
  'Bergamo',
  '24100',
  'Italy'),
 (50,
  'Maison Dewey',
  'Catherine Dewey',
  'Rue Joseph-Bens 532',
  'Bruxelles',
  'B-1180',
  'Belgium'),
 (51,
  'Mère Paillarde',
  'Jean Fresnière',
  '43 rue St. Laurent',
  'Montréal',
  'H1J 1C3',
  'Canada'),
 (52,
  'Morgenstern Gesundkost',
  'Alexander Feuer',
  'Heerstr. 22',
  'Leipzig',
  '4179',
  'Germany'),
 (53,
  'North/South',
  'Simon Crowther',
  'South House 300 Queensbridge',
  'London',
  'SW7 1RZ',
  'UK'),
 (54,
  'Océano Atlántico Ltda.',
  'Yvonne Moncada',
  'Ing. Gustavo Moncada 8585 Piso 20-A',
  'Buenos Aires',
  '1010',
  'Argentina'),
 (55,
  'Old World Delicatessen',
  'Rene Phillips',
  '2743 Bering St.',
  'Anchorage',
  '99508',
  'USA'),
 (56,
  'Ottilies Käseladen',
  'Henriette Pfalzheim',
  'Mehrheimerstr. 369',
  'Köln',
  '50739',
  'Germany'),
 (57,
  'Paris spécialités',
  'Marie Bertrand',
  '265, boulevard Charonne',
  'Paris',
  '75012',
  'France'),
 (58,
  'Pericles Comidas clásicas',
  'Guillermo Fernández',
  'Calle Dr. Jorge Cash 321',
  'México D.F.',
  '5033',
  'Mexico'),
 (59,
  'Piccolo und mehr',
  'Georg Pipps',
  'Geislweg 14',
  'Salzburg',
  '5020',
  'Austria'),
 (60,
  'Princesa Isabel Vinhoss',
  'Isabel de Castro',
  'Estrada da saúde n. 58',
  'Lisboa',
  '1756',
  'Portugal'),
 (61,
  'Que Delícia',
  'Bernardo Batista',
  'Rua da Panificadora, 12',
  'Rio de Janeiro',
  '02389-673',
  'Brazil'),
 (62,
  'Queen Cozinha',
  'Lúcia Carvalho',
  'Alameda dos Canàrios, 891',
  'São Paulo',
  '05487-020',
  'Brazil'),
 (63,
  'QUICK-Stop',
  'Horst Kloss',
  'Taucherstraße 10',
  'Cunewalde',
  '1307',
  'Germany'),
 (64,
  'Rancho grande',
  'Sergio Gutiérrez',
  'Av. del Libertador 900',
  'Buenos Aires',
  '1010',
  'Argentina'),
 (65,
  'Rattlesnake Canyon Grocery',
  'Paula Wilson',
  '2817 Milton Dr.',
  'Albuquerque',
  '87110',
  'USA'),
 (66,
  'Reggiani Caseifici',
  'Maurizio Moroni',
  'Strada Provinciale 124',
  'Reggio Emilia',
  '42100',
  'Italy'),
 (67,
  'Ricardo Adocicados',
  'Janete Limeira',
  'Av. Copacabana, 267',
  'Rio de Janeiro',
  '02389-890',
  'Brazil'),
 (68,
  'Richter Supermarkt',
  'Michael Holz',
  'Grenzacherweg 237',
  'Genève',
  '1203',
  'Switzerland'),
 (69,
  'Romero y tomillo',
  'Alejandra Camino',
  'Gran Vía, 1',
  'Madrid',
  '28001',
  'Spain'),
 (70,
  'Santé Gourmet',
  'Jonas Bergulfsen',
  'Erling Skakkes gate 78',
  'Stavern',
  '4110',
  'Norway'),
 (71,
  'Save-a-lot Markets',
  'Jose Pavarotti',
  '187 Suffolk Ln.',
  'Boise',
  '83720',
  'USA'),
 (72,
  'Seven Seas Imports',
  'Hari Kumar',
  '90 Wadhurst Rd.',
  'London',
  'OX15 4NB',
  'UK'),
 (73,
  'Simons bistro',
  'Jytte Petersen',
  'Vinbæltet 34',
  'København',
  '1734',
  'Denmark'),
 (74,
  'Spécialités du monde',
  'Dominique Perrier',
  '25, rue Lauriston',
  'Paris',
  '75016',
  'France'),
 (75,
  'Split Rail Beer & Ale',
  'Art Braunschweiger',
  'P.O. Box 555',
  'Lander',
  '82520',
  'USA'),
 (76,
  'Suprêmes délices',
  'Pascale Cartrain',
  'Boulevard Tirou, 255',
  'Charleroi',
  'B-6000',
  'Belgium'),
 (77,
  'The Big Cheese',
  'Liz Nixon',
  '89 Jefferson Way Suite 2',
  'Portland',
  '97201',
  'USA'),
 (78,
  'The Cracker Box',
  'Liu Wong',
  '55 Grizzly Peak Rd.',
  'Butte',
  '59801',
  'USA'),
 (79,
  'Toms Spezialitäten',
  'Karin Josephs',
  'Luisenstr. 48',
  'Münster',
  '44087',
  'Germany'),
 (80,
  'Tortuga Restaurante',
  'Miguel Angel Paolino',
  'Avda. Azteca 123',
  'México D.F.',
  '5033',
  'Mexico'),
 (81,
  'Tradição Hipermercados',
  'Anabela Domingues',
  'Av. Inês de Castro, 414',
  'São Paulo',
  '05634-030',
  'Brazil'),
 (82,
  "Trail''s Head Gourmet Provisioners",
  'Helvetius Nagy',
  '722 DaVinci Blvd.',
  'Kirkland',
  '98034',
  'USA'),
 (83,
  'Vaffeljernet',
  'Palle Ibsen',
  'Smagsløget 45',
  'Århus',
  '8200',
  'Denmark'),
 (84,
  'Victuailles en stock',
  'Mary Saveley',
  '2, rue du Commerce',
  'Lyon',
  '69004',
  'France'),
 (85,
  'Vins et alcools Chevalier',
  'Paul Henriot',
  "59 rue de l''Abbaye",
  'Reims',
  '51100',
  'France'),
 (86,
  'Die Wandernde Kuh',
  'Rita Müller',
  'Adenauerallee 900',
  'Stuttgart',
  '70563',
  'Germany'),
 (87,
  'Wartian Herkku',
  'Pirkko Koskitalo',
  'Torikatu 38',
  'Oulu',
  '90110',
  'Finland'),
 (88,
  'Wellington Importadora',
  'Paula Parente',
  'Rua do Mercado, 12',
  'Resende',
  '08737-363',
  'Brazil'),
 (89,
  'White Clover Markets',
  'Karl Jablonski',
  '305 - 14th Ave. S. Suite 3B',
  'Seattle',
  '98128',
  'USA'),
 (90,
  'Wilman Kala',
  'Matti Karttunen',
  'Keskuskatu 45',
  'Helsinki',
  '21240',
  'Finland'),
 (91, 'Wolski', 'Zbyszek', 'ul. Filtrowa 68', 'Walla', '01-012', 'Poland'),
 (92,
  'Cardinal',
  'Tom B. Erichsen',
  'Skagen 21',
  'Stavanger',
  '4006',
  'Norway')]

In [50]:
sql = "SELECT CustomerName, (Address || ', ' || PostalCode || ' ' || City || ', ' || Country) AS Address FROM Customers;"
sendQuery(sql)

[('Alfreds Futterkiste', 'Obere Str. 57, 12209 Frankfurt, Germany'),
 ('Ana Trujillo Emparedados y helados',
  'Avda. de la Constitución 2222, 5021 México D.F., Mexico'),
 ('Antonio Moreno Taquería', 'Mataderos 2312, 5023 México D.F., Mexico'),
 ('Around the Horn', '120 Hanover Sq., WA1 1DP London, UK'),
 ('Berglunds snabbköp', 'Berguvsvägen 8, S-958 22 Luleå, Sweden'),
 ('Blauer See Delikatessen', 'Forsterstr. 57, 68306 Mannheim, Germany'),
 ('Blondel père et fils', '24, place Kléber, 67000 Strasbourg, France'),
 ('Bólido Comidas preparadas', 'C/ Araquil, 67, 28023 Madrid, Spain'),
 ("Bon app''", '12, rue des Bouchers, 13008 Marseille, France'),
 ('Bottom-Dollar Marketse', '23 Tsawassen Blvd., T2F 8M4 Tsawassen, Canada'),
 ("B''s Beverages", 'Fauntleroy Circus, EC2 5NT London, UK'),
 ('Cactus Comidas para llevar', 'Cerrito 333, 1010 Buenos Aires, Argentina'),
 ('Centro comercial Moctezuma',
  'Sierras de Granada 9993, 5022 México D.F., Mexico'),
 ('Chop-suey Chinese', 'Hauptstr. 29, 3012 Bern, Switzerland'),
 ('Comércio Mineiro', 'Av. dos Lusíadas, 23, 05432-043 São Paulo, Brazil'),
 ('Consolidated Holdings', 'Berkeley Gardens 12 Brewery, WX1 6LT London, UK'),
 ('Drachenblut Delikatessend', 'Walserweg 21, 52066 Aachen, Germany'),
 ('Du monde entier', '67, rue des Cinquante Otages, 44000 Nantes, France'),
 ('Eastern Connection', '35 King George, WX3 6FW London, UK'),
 ('Ernst Handel', 'Kirchgasse 6, 8010 Graz, Austria'),
 ('Familia Arquibaldo', 'Rua Orós, 92, 05442-030 São Paulo, Brazil'),
 ('FISSA Fabrica Inter. Salchichas S.A.',
  'C/ Moralzarzal, 86, 28034 Madrid, Spain'),
 ('Folies gourmandes', '184, chaussée de Tournai, 59000 Lille, France'),
 ('Folk och fä HB', 'Åkergatan 24, S-844 67 Bräcke, Sweden'),
 ('Frankenversand', 'Berliner Platz 43, 80805 München, Germany'),
 ('France restauration', '54, rue Royale, 44000 Nantes, France'),
 ('Franchi S.p.A.', 'Via Monte Bianco 34, 10100 Torino, Italy'),
 ('Furia Bacalhau e Frutos do Mar',
  'Jardim das rosas n. 32, 1675 Lisboa, Portugal'),
 ('Galería del gastrónomo', 'Rambla de Cataluña, 23, 8022 Barcelona, Spain'),
 ('Godos Cocina Típica', 'C/ Romero, 33, 41101 Sevilla, Spain'),
 ('Gourmet Lanchonetes', 'Av. Brasil, 442, 04876-786 Campinas, Brazil'),
 ('Great Lakes Food Market', '2732 Baker Blvd., 97403 Eugene, USA'),
 ('GROSELLA-Restaurante',
  '5ª Ave. Los Palos Grandes, 1081 Caracas, Venezuela'),
 ('Hanari Carnes', 'Rua do Paço, 67, 05454-876 Rio de Janeiro, Brazil'),
 ('HILARIÓN-Abastos',
  'Carrera 22 con Ave. Carlos Soublette #8-35, 5022 San Cristóbal, Venezuela'),
 ('Hungry Coyote Import Store',
  'City Center Plaza 516 Main St., 97827 Elgin, USA'),
 ('Hungry Owl All-Night Grocers', '8 Johnstown Road,  Cork, Ireland'),
 ('Island Trading', 'Garden House Crowther Way, PO31 7PJ Cowes, UK'),
 ('Königlich Essen', 'Maubelstr. 90, 14776 Brandenburg, Germany'),
 ("La corne d''abondance",
  "67, avenue de l''Europe, 78000 Versailles, France"),
 ("La maison d''Asie", '1 rue Alsace-Lorraine, 31000 Toulouse, France'),
 ('Laughing Bacchus Wine Cellars', '1900 Oak St., V3F 2K1 Vancouver, Canada'),
 ('Lazy K Kountry Store', '12 Orchestra Terrace, 99362 Walla Walla, USA'),
 ('Lehmanns Marktstand', 'Magazinweg 7, 60528 Frankfurt a.M., Germany'),
 ("Let''s Stop N Shop", '87 Polk St. Suite 5, 94117 San Francisco, USA'),
 ('LILA-Supermercado',
  'Carrera 52 con Ave. Bolívar #65-98 Llano Largo, 3508 Barquisimeto, Venezuela'),
 ('LINO-Delicateses',
  'Ave. 5 de Mayo Porlamar, 4980 I. de Margarita, Venezuela'),
 ('Lonesome Pine Restaurant', '89 Chiaroscuro Rd., 97219 Portland, USA'),
 ('Magazzini Alimentari Riuniti',
  'Via Ludovico il Moro 22, 24100 Bergamo, Italy'),
 ('Maison Dewey', 'Rue Joseph-Bens 532, B-1180 Bruxelles, Belgium'),
 ('Mère Paillarde', '43 rue St. Laurent, H1J 1C3 Montréal, Canada'),
 ('Morgenstern Gesundkost', 'Heerstr. 22, 4179 Leipzig, Germany'),
 ('North/South', 'South House 300 Queensbridge, SW7 1RZ London, UK'),
 ('Océano Atlántico Ltda.',
  'Ing. Gustavo Moncada 8585 Piso 20-A, 1010 Buenos Aires, Argentina'),
 ('Old World Delicatessen', '2743 Bering St., 99508 Anchorage, USA'),
 ('Ottilies Käseladen', 'Mehrheimerstr. 369, 50739 Köln, Germany'),
 ('Paris spécialités', '265, boulevard Charonne, 75012 Paris, France'),
 ('Pericles Comidas clásicas',
  'Calle Dr. Jorge Cash 321, 5033 México D.F., Mexico'),
 ('Piccolo und mehr', 'Geislweg 14, 5020 Salzburg, Austria'),
 ('Princesa Isabel Vinhoss', 'Estrada da saúde n. 58, 1756 Lisboa, Portugal'),
 ('Que Delícia', 'Rua da Panificadora, 12, 02389-673 Rio de Janeiro, Brazil'),
 ('Queen Cozinha', 'Alameda dos Canàrios, 891, 05487-020 São Paulo, Brazil'),
 ('QUICK-Stop', 'Taucherstraße 10, 1307 Cunewalde, Germany'),
 ('Rancho grande', 'Av. del Libertador 900, 1010 Buenos Aires, Argentina'),
 ('Rattlesnake Canyon Grocery', '2817 Milton Dr., 87110 Albuquerque, USA'),
 ('Reggiani Caseifici', 'Strada Provinciale 124, 42100 Reggio Emilia, Italy'),
 ('Ricardo Adocicados',
  'Av. Copacabana, 267, 02389-890 Rio de Janeiro, Brazil'),
 ('Richter Supermarkt', 'Grenzacherweg 237, 1203 Genève, Switzerland'),
 ('Romero y tomillo', 'Gran Vía, 1, 28001 Madrid, Spain'),
 ('Santé Gourmet', 'Erling Skakkes gate 78, 4110 Stavern, Norway'),
 ('Save-a-lot Markets', '187 Suffolk Ln., 83720 Boise, USA'),
 ('Seven Seas Imports', '90 Wadhurst Rd., OX15 4NB London, UK'),
 ('Simons bistro', 'Vinbæltet 34, 1734 København, Denmark'),
 ('Spécialités du monde', '25, rue Lauriston, 75016 Paris, France'),
 ('Split Rail Beer & Ale', 'P.O. Box 555, 82520 Lander, USA'),
 ('Suprêmes délices', 'Boulevard Tirou, 255, B-6000 Charleroi, Belgium'),
 ('The Big Cheese', '89 Jefferson Way Suite 2, 97201 Portland, USA'),
 ('The Cracker Box', '55 Grizzly Peak Rd., 59801 Butte, USA'),
 ('Toms Spezialitäten', 'Luisenstr. 48, 44087 Münster, Germany'),
 ('Tortuga Restaurante', 'Avda. Azteca 123, 5033 México D.F., Mexico'),
 ('Tradição Hipermercados',
  'Av. Inês de Castro, 414, 05634-030 São Paulo, Brazil'),
 ("Trail''s Head Gourmet Provisioners",
  '722 DaVinci Blvd., 98034 Kirkland, USA'),
 ('Vaffeljernet', 'Smagsløget 45, 8200 Århus, Denmark'),
 ('Victuailles en stock', '2, rue du Commerce, 69004 Lyon, France'),
 ('Vins et alcools Chevalier', "59 rue de l''Abbaye, 51100 Reims, France"),
 ('Die Wandernde Kuh', 'Adenauerallee 900, 70563 Stuttgart, Germany'),
 ('Wartian Herkku', 'Torikatu 38, 90110 Oulu, Finland'),
 ('Wellington Importadora', 'Rua do Mercado, 12, 08737-363 Resende, Brazil'),
 ('White Clover Markets', '305 - 14th Ave. S. Suite 3B, 98128 Seattle, USA'),
 ('Wilman Kala', 'Keskuskatu 45, 21240 Helsinki, Finland'),
 ('Wolski', 'ul. Filtrowa 68, 01-012 Walla, Poland'),
 ('Cardinal', 'Skagen 21, 4006 Stavanger, Norway')]

## JOIN

join은 연관된 column을 기준으로 여러 테이블의 행을 이어 붙이는 명령어이다.

기본적으로 JOIN만 쓰면 각 테이블에 겹치는 column이 있는 행만 이어 붙이게 되고, LEFT/RIGHT/FULL JOIN등을 쓰게 되면 칼럼이 겹치지 않더라도 여러 테이블의 행을 이어 붙이게 된다.

In [51]:
sql = """SELECT Orders.OrderID, Customers.CustomerName, Orders.OrderDate
         FROM Orders
         INNER JOIN Customers ON Orders.CustomerID=Customers.CustomerID;"""
sendQuery(sql)

[(10248, 'Wilman Kala', '1996-07-04'),
 (10249, 'Tradição Hipermercados', '1996-07-05'),
 (10250, 'Hanari Carnes', '1996-07-08'),
 (10251, 'Victuailles en stock', '1996-07-08'),
 (10252, 'Suprêmes délices', '1996-07-09'),
 (10253, 'Hanari Carnes', '1996-07-10'),
 (10254, 'Chop-suey Chinese', '1996-07-11'),
 (10255, 'Richter Supermarkt', '1996-07-12'),
 (10256, 'Wellington Importadora', '1996-07-15'),
 (10257, 'HILARIÓN-Abastos', '1996-07-16'),
 (10258, 'Ernst Handel', '1996-07-17'),
 (10259, 'Centro comercial Moctezuma', '1996-07-18'),
 (10260, 'Old World Delicatessen', '1996-07-19'),
 (10261, 'Que Delícia', '1996-07-19'),
 (10262, 'Rattlesnake Canyon Grocery', '1996-07-22'),
 (10263, 'Ernst Handel', '1996-07-23'),
 (10264, 'Folk och fä HB', '1996-07-24'),
 (10265, 'Blondel père et fils', '1996-07-25'),
 (10266, 'Wartian Herkku', '1996-07-26'),
 (10267, 'Frankenversand', '1996-07-29'),
 (10268, 'GROSELLA-Restaurante', '1996-07-30'),
 (10269, 'White Clover Markets', '1996-07-31'),
 (10270, 'Wartian Herkku', '1996-08-01'),
 (10271, 'Split Rail Beer & Ale', '1996-08-01'),
 (10272, 'Rattlesnake Canyon Grocery', '1996-08-02'),
 (10273, 'QUICK-Stop', '1996-08-05'),
 (10274, 'Vins et alcools Chevalier', '1996-08-06'),
 (10275, 'Magazzini Alimentari Riuniti', '1996-08-07'),
 (10276, 'Tortuga Restaurante', '1996-08-08'),
 (10277, 'Morgenstern Gesundkost', '1996-08-09'),
 (10278, 'Berglunds snabbköp', '1996-08-12'),
 (10279, 'Lehmanns Marktstand', '1996-08-13'),
 (10280, 'Berglunds snabbköp', '1996-08-14'),
 (10281, 'Romero y tomillo', '1996-08-14'),
 (10282, 'Romero y tomillo', '1996-08-15'),
 (10283, 'LILA-Supermercado', '1996-08-16'),
 (10284, 'Lehmanns Marktstand', '1996-08-19'),
 (10285, 'QUICK-Stop', '1996-08-20'),
 (10286, 'QUICK-Stop', '1996-08-21'),
 (10287, 'Ricardo Adocicados', '1996-08-22'),
 (10288, 'Reggiani Caseifici', '1996-08-23'),
 (10289, "B''s Beverages", '1996-08-26'),
 (10290, 'Comércio Mineiro', '1996-08-27'),
 (10291, 'Que Delícia', '1996-08-27'),
 (10292, 'Tradição Hipermercados', '1996-08-28'),
 (10293, 'Tortuga Restaurante', '1996-08-29'),
 (10294, 'Rattlesnake Canyon Grocery', '1996-08-30'),
 (10295, 'Vins et alcools Chevalier', '1996-09-02'),
 (10296, 'LILA-Supermercado', '1996-09-03'),
 (10297, 'Blondel père et fils', '1996-09-04'),
 (10298, 'Hungry Owl All-Night Grocers', '1996-09-05'),
 (10299, 'Ricardo Adocicados', '1996-09-06'),
 (10300, 'Magazzini Alimentari Riuniti', '1996-09-09'),
 (10301, 'Die Wandernde Kuh', '1996-09-09'),
 (10302, 'Suprêmes délices', '1996-09-10'),
 (10303, 'Godos Cocina Típica', '1996-09-11'),
 (10304, 'Tortuga Restaurante', '1996-09-12'),
 (10305, 'Old World Delicatessen', '1996-09-13'),
 (10306, 'Romero y tomillo', '1996-09-16'),
 (10307, 'Lonesome Pine Restaurant', '1996-09-17'),
 (10308, 'Ana Trujillo Emparedados y helados', '1996-09-18'),
 (10309, 'Hungry Owl All-Night Grocers', '1996-09-19'),
 (10310, 'The Big Cheese', '1996-09-20'),
 (10311, 'Du monde entier', '1996-09-20'),
 (10312, 'Die Wandernde Kuh', '1996-09-23'),
 (10313, 'QUICK-Stop', '1996-09-24'),
 (10314, 'Rattlesnake Canyon Grocery', '1996-09-25'),
 (10315, 'Island Trading', '1996-09-26'),
 (10316, 'Rattlesnake Canyon Grocery', '1996-09-27'),
 (10317, 'Lonesome Pine Restaurant', '1996-09-30'),
 (10318, 'Island Trading', '1996-10-01'),
 (10319, 'Tortuga Restaurante', '1996-10-02'),
 (10320, 'Wartian Herkku', '1996-10-03'),
 (10321, 'Island Trading', '1996-10-03'),
 (10322, 'Pericles Comidas clásicas', '1996-10-04'),
 (10323, 'Königlich Essen', '1996-10-07'),
 (10324, 'Save-a-lot Markets', '1996-10-08'),
 (10325, 'Königlich Essen', '1996-10-09'),
 (10326, 'Bólido Comidas preparadas', '1996-10-10'),
 (10327, 'Folk och fä HB', '1996-10-11'),
 (10328, 'Furia Bacalhau e Frutos do Mar', '1996-10-14'),
 (10329, 'Split Rail Beer & Ale', '1996-10-15'),
 (10330, 'LILA-Supermercado', '1996-10-16'),
 (10331, "Bon app''", '1996-10-16'),
 (10332, 'Mère Paillarde', '1996-10-17'),
 (10333, 'Wartian Herkku', '1996-10-18'),
 (10334, 'Victuailles en stock', '1996-10-21'),
 (10335, 'Hungry Owl All-Night Grocers', '1996-10-22'),
 (10336, 'Princesa Isabel Vinhoss', '1996-10-23'),
 (10337, 'Frankenversand', '1996-10-24'),
 (10338, 'Old World Delicatessen', '1996-10-25'),
 (10339, 'Mère Paillarde', '1996-10-28'),
 (10340, "Bon app''", '1996-10-29'),
 (10341, 'Simons bistro', '1996-10-29'),
 (10342, 'Frankenversand', '1996-10-30'),
 (10343, 'Lehmanns Marktstand', '1996-10-31'),
 (10344, 'White Clover Markets', '1996-11-01'),
 (10345, 'QUICK-Stop', '1996-11-04'),
 (10346, 'Rattlesnake Canyon Grocery', '1996-11-05'),
 (10347, 'Familia Arquibaldo', '1996-11-06'),
 (10348, 'Die Wandernde Kuh', '1996-11-07'),
 (10349, 'Split Rail Beer & Ale', '1996-11-08'),
 (10350, "La maison d''Asie", '1996-11-11'),
 (10351, 'Ernst Handel', '1996-11-11'),
 (10352, 'Furia Bacalhau e Frutos do Mar', '1996-11-12'),
 (10353, 'Piccolo und mehr', '1996-11-13'),
 (10354, 'Pericles Comidas clásicas', '1996-11-14'),
 (10355, 'Around the Horn', '1996-11-15'),
 (10356, 'Die Wandernde Kuh', '1996-11-18'),
 (10357, 'LILA-Supermercado', '1996-11-19'),
 (10358, "La maison d''Asie", '1996-11-20'),
 (10359, 'Seven Seas Imports', '1996-11-21'),
 (10360, 'Blondel père et fils', '1996-11-22'),
 (10361, 'QUICK-Stop', '1996-11-22'),
 (10362, "Bon app''", '1996-11-25'),
 (10363, 'Drachenblut Delikatessend', '1996-11-26'),
 (10364, 'Eastern Connection', '1996-11-26'),
 (10365, 'Antonio Moreno Taquería', '1996-11-27'),
 (10366, 'Galería del gastrónomo', '1996-11-28'),
 (10367, 'Vaffeljernet', '1996-11-28'),
 (10368, 'Ernst Handel', '1996-11-29'),
 (10369, 'Split Rail Beer & Ale', '1996-12-02'),
 (10370, 'Chop-suey Chinese', '1996-12-03'),
 (10371, "La maison d''Asie", '1996-12-03'),
 (10372, 'Queen Cozinha', '1996-12-04'),
 (10373, 'Hungry Owl All-Night Grocers', '1996-12-05'),
 (10374, 'Wolski', '1996-12-05'),
 (10375, 'Hungry Coyote Import Store', '1996-12-06'),
 (10376, 'Mère Paillarde', '1996-12-09'),
 (10377, 'Seven Seas Imports', '1996-12-09'),
 (10378, 'Folk och fä HB', '1996-12-10'),
 (10379, 'Que Delícia', '1996-12-11'),
 (10380, 'Hungry Owl All-Night Grocers', '1996-12-12'),
 (10381, 'LILA-Supermercado', '1996-12-12'),
 (10382, 'Ernst Handel', '1996-12-13'),
 (10383, 'Around the Horn', '1996-12-16'),
 (10384, 'Berglunds snabbköp', '1996-12-16'),
 (10385, 'Split Rail Beer & Ale', '1996-12-17'),
 (10386, 'Familia Arquibaldo', '1996-12-18'),
 (10387, 'Santé Gourmet', '1996-12-18'),
 (10388, 'Seven Seas Imports', '1996-12-19'),
 (10389, 'Bottom-Dollar Marketse', '1996-12-20'),
 (10390, 'Ernst Handel', '1996-12-23'),
 (10391, 'Drachenblut Delikatessend', '1996-12-23'),
 (10392, 'Piccolo und mehr', '1996-12-24'),
 (10393, 'Save-a-lot Markets', '1996-12-25'),
 (10394, 'Hungry Coyote Import Store', '1996-12-25'),
 (10395, 'HILARIÓN-Abastos', '1996-12-26'),
 (10396, 'Frankenversand', '1996-12-27'),
 (10397, 'Princesa Isabel Vinhoss', '1996-12-27'),
 (10398, 'Save-a-lot Markets', '1996-12-30'),
 (10399, 'Vaffeljernet', '1996-12-31'),
 (10400, 'Eastern Connection', '1997-01-01'),
 (10401, 'Rattlesnake Canyon Grocery', '1997-01-01'),
 (10402, 'Ernst Handel', '1997-01-02'),
 (10403, 'Ernst Handel', '1997-01-03'),
 (10404, 'Magazzini Alimentari Riuniti', '1997-01-03'),
 (10405, 'LINO-Delicateses', '1997-01-06'),
 (10406, 'Queen Cozinha', '1997-01-07'),
 (10407, 'Ottilies Käseladen', '1997-01-07'),
 (10408, 'Folies gourmandes', '1997-01-08'),
 (10409, 'Océano Atlántico Ltda.', '1997-01-09'),
 (10410, 'Bottom-Dollar Marketse', '1997-01-10'),
 (10411, 'Bottom-Dollar Marketse', '1997-01-10'),
 (10412, 'Wartian Herkku', '1997-01-13'),
 (10413, "La maison d''Asie", '1997-01-14'),
 (10414, 'Familia Arquibaldo', '1997-01-14'),
 (10415, 'Hungry Coyote Import Store', '1997-01-15'),
 (10416, 'Wartian Herkku', '1997-01-16'),
 (10417, 'Simons bistro', '1997-01-16'),
 (10418, 'QUICK-Stop', '1997-01-17'),
 (10419, 'Richter Supermarkt', '1997-01-20'),
 (10420, 'Wellington Importadora', '1997-01-21'),
 (10421, 'Que Delícia', '1997-01-21'),
 (10422, 'Franchi S.p.A.', '1997-01-22'),
 (10423, 'Gourmet Lanchonetes', '1997-01-23'),
 (10424, 'Mère Paillarde', '1997-01-23'),
 (10425, "La maison d''Asie", '1997-01-24'),
 (10426, 'Galería del gastrónomo', '1997-01-27'),
 (10427, 'Piccolo und mehr', '1997-01-27'),
 (10428, 'Reggiani Caseifici', '1997-01-28'),
 (10429, 'Hungry Owl All-Night Grocers', '1997-01-29'),
 (10430, 'Ernst Handel', '1997-01-30'),
 (10431, 'Bottom-Dollar Marketse', '1997-01-30'),
 (10432, 'Split Rail Beer & Ale', '1997-01-31'),
 (10433, 'Princesa Isabel Vinhoss', '1997-02-03'),
 (10434, 'Folk och fä HB', '1997-02-03'),
 (10435, 'Consolidated Holdings', '1997-02-04'),
 (10436, 'Blondel père et fils', '1997-02-05'),
 (10437, 'Wartian Herkku', '1997-02-05'),
 (10438, 'Toms Spezialitäten', '1997-02-06'),
 (10439, 'Mère Paillarde', '1997-02-07'),
 (10440, 'Save-a-lot Markets', '1997-02-10'),
 (10441, 'Old World Delicatessen', '1997-02-10'),
 (10442, 'Ernst Handel', '1997-02-11'),
 (10443, 'Reggiani Caseifici', '1997-02-12')]

In [52]:
sql = """SELECT Customers.CustomerName, Orders.OrderID
         FROM Customers
         LEFT JOIN Orders ON Customers.CustomerID = Orders.CustomerID
         ORDER BY Customers.CustomerName;"""
sendQuery(sql)

[('Alfreds Futterkiste', None),
 ('Ana Trujillo Emparedados y helados', 10308),
 ('Antonio Moreno Taquería', 10365),
 ('Around the Horn', 10355),
 ('Around the Horn', 10383),
 ("B''s Beverages", 10289),
 ('Berglunds snabbköp', 10278),
 ('Berglunds snabbköp', 10280),
 ('Berglunds snabbköp', 10384),
 ('Blauer See Delikatessen', None),
 ('Blondel père et fils', 10265),
 ('Blondel père et fils', 10297),
 ('Blondel père et fils', 10360),
 ('Blondel père et fils', 10436),
 ("Bon app''", 10331),
 ("Bon app''", 10340),
 ("Bon app''", 10362),
 ('Bottom-Dollar Marketse', 10389),
 ('Bottom-Dollar Marketse', 10410),
 ('Bottom-Dollar Marketse', 10411),
 ('Bottom-Dollar Marketse', 10431),
 ('Bólido Comidas preparadas', 10326),
 ('Cactus Comidas para llevar', None),
 ('Cardinal', None),
 ('Centro comercial Moctezuma', 10259),
 ('Chop-suey Chinese', 10254),
 ('Chop-suey Chinese', 10370),
 ('Comércio Mineiro', 10290),
 ('Consolidated Holdings', 10435),
 ('Die Wandernde Kuh', 10301),
 ('Die Wandernde Kuh', 10312),
 ('Die Wandernde Kuh', 10348),
 ('Die Wandernde Kuh', 10356),
 ('Drachenblut Delikatessend', 10363),
 ('Drachenblut Delikatessend', 10391),
 ('Du monde entier', 10311),
 ('Eastern Connection', 10364),
 ('Eastern Connection', 10400),
 ('Ernst Handel', 10258),
 ('Ernst Handel', 10263),
 ('Ernst Handel', 10351),
 ('Ernst Handel', 10368),
 ('Ernst Handel', 10382),
 ('Ernst Handel', 10390),
 ('Ernst Handel', 10402),
 ('Ernst Handel', 10403),
 ('Ernst Handel', 10430),
 ('Ernst Handel', 10442),
 ('FISSA Fabrica Inter. Salchichas S.A.', None),
 ('Familia Arquibaldo', 10347),
 ('Familia Arquibaldo', 10386),
 ('Familia Arquibaldo', 10414),
 ('Folies gourmandes', 10408),
 ('Folk och fä HB', 10264),
 ('Folk och fä HB', 10327),
 ('Folk och fä HB', 10378),
 ('Folk och fä HB', 10434),
 ('France restauration', None),
 ('Franchi S.p.A.', 10422),
 ('Frankenversand', 10267),
 ('Frankenversand', 10337),
 ('Frankenversand', 10342),
 ('Frankenversand', 10396),
 ('Furia Bacalhau e Frutos do Mar', 10328),
 ('Furia Bacalhau e Frutos do Mar', 10352),
 ('GROSELLA-Restaurante', 10268),
 ('Galería del gastrónomo', 10366),
 ('Galería del gastrónomo', 10426),
 ('Godos Cocina Típica', 10303),
 ('Gourmet Lanchonetes', 10423),
 ('Great Lakes Food Market', None),
 ('HILARIÓN-Abastos', 10257),
 ('HILARIÓN-Abastos', 10395),
 ('Hanari Carnes', 10250),
 ('Hanari Carnes', 10253),
 ('Hungry Coyote Import Store', 10375),
 ('Hungry Coyote Import Store', 10394),
 ('Hungry Coyote Import Store', 10415),
 ('Hungry Owl All-Night Grocers', 10298),
 ('Hungry Owl All-Night Grocers', 10309),
 ('Hungry Owl All-Night Grocers', 10335),
 ('Hungry Owl All-Night Grocers', 10373),
 ('Hungry Owl All-Night Grocers', 10380),
 ('Hungry Owl All-Night Grocers', 10429),
 ('Island Trading', 10315),
 ('Island Trading', 10318),
 ('Island Trading', 10321),
 ('Königlich Essen', 10323),
 ('Königlich Essen', 10325),
 ('LILA-Supermercado', 10283),
 ('LILA-Supermercado', 10296),
 ('LILA-Supermercado', 10330),
 ('LILA-Supermercado', 10357),
 ('LILA-Supermercado', 10381),
 ('LINO-Delicateses', 10405),
 ("La corne d''abondance", None),
 ("La maison d''Asie", 10350),
 ("La maison d''Asie", 10358),
 ("La maison d''Asie", 10371),
 ("La maison d''Asie", 10413),
 ("La maison d''Asie", 10425),
 ('Laughing Bacchus Wine Cellars', None),
 ('Lazy K Kountry Store', None),
 ('Lehmanns Marktstand', 10279),
 ('Lehmanns Marktstand', 10284),
 ('Lehmanns Marktstand', 10343),
 ("Let''s Stop N Shop", None),
 ('Lonesome Pine Restaurant', 10307),
 ('Lonesome Pine Restaurant', 10317),
 ('Magazzini Alimentari Riuniti', 10275),
 ('Magazzini Alimentari Riuniti', 10300),
 ('Magazzini Alimentari Riuniti', 10404),
 ('Maison Dewey', None),
 ('Morgenstern Gesundkost', 10277),
 ('Mère Paillarde', 10332),
 ('Mère Paillarde', 10339),
 ('Mère Paillarde', 10376),
 ('Mère Paillarde', 10424),
 ('Mère Paillarde', 10439),
 ('North/South', None),
 ('Océano Atlántico Ltda.', 10409),
 ('Old World Delicatessen', 10260),
 ('Old World Delicatessen', 10305),
 ('Old World Delicatessen', 10338),
 ('Old World Delicatessen', 10441),
 ('Ottilies Käseladen', 10407),
 ('Paris spécialités', None),
 ('Pericles Comidas clásicas', 10322),
 ('Pericles Comidas clásicas', 10354),
 ('Piccolo und mehr', 10353),
 ('Piccolo und mehr', 10392),
 ('Piccolo und mehr', 10427),
 ('Princesa Isabel Vinhoss', 10336),
 ('Princesa Isabel Vinhoss', 10397),
 ('Princesa Isabel Vinhoss', 10433),
 ('QUICK-Stop', 10273),
 ('QUICK-Stop', 10285),
 ('QUICK-Stop', 10286),
 ('QUICK-Stop', 10313),
 ('QUICK-Stop', 10345),
 ('QUICK-Stop', 10361),
 ('QUICK-Stop', 10418),
 ('Que Delícia', 10261),
 ('Que Delícia', 10291),
 ('Que Delícia', 10379),
 ('Que Delícia', 10421),
 ('Queen Cozinha', 10372),
 ('Queen Cozinha', 10406),
 ('Rancho grande', None),
 ('Rattlesnake Canyon Grocery', 10262),
 ('Rattlesnake Canyon Grocery', 10272),
 ('Rattlesnake Canyon Grocery', 10294),
 ('Rattlesnake Canyon Grocery', 10314),
 ('Rattlesnake Canyon Grocery', 10316),
 ('Rattlesnake Canyon Grocery', 10346),
 ('Rattlesnake Canyon Grocery', 10401),
 ('Reggiani Caseifici', 10288),
 ('Reggiani Caseifici', 10428),
 ('Reggiani Caseifici', 10443),
 ('Ricardo Adocicados', 10287),
 ('Ricardo Adocicados', 10299),
 ('Richter Supermarkt', 10255),
 ('Richter Supermarkt', 10419),
 ('Romero y tomillo', 10281),
 ('Romero y tomillo', 10282),
 ('Romero y tomillo', 10306),
 ('Santé Gourmet', 10387),
 ('Save-a-lot Markets', 10324),
 ('Save-a-lot Markets', 10393),
 ('Save-a-lot Markets', 10398),
 ('Save-a-lot Markets', 10440),
 ('Seven Seas Imports', 10359),
 ('Seven Seas Imports', 10377),
 ('Seven Seas Imports', 10388),
 ('Simons bistro', 10341),
 ('Simons bistro', 10417),
 ('Split Rail Beer & Ale', 10271),
 ('Split Rail Beer & Ale', 10329),
 ('Split Rail Beer & Ale', 10349),
 ('Split Rail Beer & Ale', 10369),
 ('Split Rail Beer & Ale', 10385),
 ('Split Rail Beer & Ale', 10432),
 ('Spécialités du monde', None),
 ('Suprêmes délices', 10252),
 ('Suprêmes délices', 10302),
 ('The Big Cheese', 10310),
 ('The Cracker Box', None),
 ('Toms Spezialitäten', 10438),
 ('Tortuga Restaurante', 10276),
 ('Tortuga Restaurante', 10293),
 ('Tortuga Restaurante', 10304),
 ('Tortuga Restaurante', 10319),
 ('Tradição Hipermercados', 10249),
 ('Tradição Hipermercados', 10292),
 ("Trail''s Head Gourmet Provisioners", None),
 ('Vaffeljernet', 10367),
 ('Vaffeljernet', 10399),
 ('Victuailles en stock', 10251),
 ('Victuailles en stock', 10334),
 ('Vins et alcools Chevalier', 10274),
 ('Vins et alcools Chevalier', 10295),
 ('Wartian Herkku', 10266),
 ('Wartian Herkku', 10270),
 ('Wartian Herkku', 10320),
 ('Wartian Herkku', 10333),
 ('Wartian Herkku', 10412),
 ('Wartian Herkku', 10416),
 ('Wartian Herkku', 10437),
 ('Wellington Importadora', 10256),
 ('Wellington Importadora', 10420),
 ('White Clover Markets', 10269),
 ('White Clover Markets', 10344),
 ('Wilman Kala', 10248),
 ('Wolski', 10374)]

In [53]:
sql = """SELECT Orders.OrderID, Employees.LastName, Employees.FirstName
         FROM Orders
         RIGHT JOIN Employees ON Orders.EmployeeID = Employees.EmployeeID
         ORDER BY Orders.OrderID;"""
sendQuery(sql)

[(None, 'West', 'Adam'),
 (10248, 'Buchanan', 'Steven'),
 (10249, 'Suyama', 'Michael'),
 (10250, 'Peacock', 'Margaret'),
 (10251, 'Leverling', 'Janet'),
 (10252, 'Peacock', 'Margaret'),
 (10253, 'Leverling', 'Janet'),
 (10254, 'Buchanan', 'Steven'),
 (10255, 'Dodsworth', 'Anne'),
 (10256, 'Leverling', 'Janet'),
 (10257, 'Peacock', 'Margaret'),
 (10258, 'Davolio', 'Nancy'),
 (10259, 'Peacock', 'Margaret'),
 (10260, 'Peacock', 'Margaret'),
 (10261, 'Peacock', 'Margaret'),
 (10262, 'Callahan', 'Laura'),
 (10263, 'Dodsworth', 'Anne'),
 (10264, 'Suyama', 'Michael'),
 (10265, 'Fuller', 'Andrew'),
 (10266, 'Leverling', 'Janet'),
 (10267, 'Peacock', 'Margaret'),
 (10268, 'Callahan', 'Laura'),
 (10269, 'Buchanan', 'Steven'),
 (10270, 'Davolio', 'Nancy'),
 (10271, 'Suyama', 'Michael'),
 (10272, 'Suyama', 'Michael'),
 (10273, 'Leverling', 'Janet'),
 (10274, 'Suyama', 'Michael'),
 (10275, 'Davolio', 'Nancy'),
 (10276, 'Callahan', 'Laura'),
 (10277, 'Fuller', 'Andrew'),
 (10278, 'Callahan', 'Laura'),
 (10279, 'Callahan', 'Laura'),
 (10280, 'Fuller', 'Andrew'),
 (10281, 'Peacock', 'Margaret'),
 (10282, 'Peacock', 'Margaret'),
 (10283, 'Leverling', 'Janet'),
 (10284, 'Peacock', 'Margaret'),
 (10285, 'Davolio', 'Nancy'),
 (10286, 'Callahan', 'Laura'),
 (10287, 'Callahan', 'Laura'),
 (10288, 'Peacock', 'Margaret'),
 (10289, 'King', 'Robert'),
 (10290, 'Callahan', 'Laura'),
 (10291, 'Suyama', 'Michael'),
 (10292, 'Davolio', 'Nancy'),
 (10293, 'Davolio', 'Nancy'),
 (10294, 'Peacock', 'Margaret'),
 (10295, 'Fuller', 'Andrew'),
 (10296, 'Suyama', 'Michael'),
 (10297, 'Buchanan', 'Steven'),
 (10298, 'Suyama', 'Michael'),
 (10299, 'Peacock', 'Margaret'),
 (10300, 'Fuller', 'Andrew'),
 (10301, 'Callahan', 'Laura'),
 (10302, 'Peacock', 'Margaret'),
 (10303, 'King', 'Robert'),
 (10304, 'Davolio', 'Nancy'),
 (10305, 'Callahan', 'Laura'),
 (10306, 'Davolio', 'Nancy'),
 (10307, 'Fuller', 'Andrew'),
 (10308, 'King', 'Robert'),
 (10309, 'Leverling', 'Janet'),
 (10310, 'Callahan', 'Laura'),
 (10311, 'Davolio', 'Nancy'),
 (10312, 'Fuller', 'Andrew'),
 (10313, 'Fuller', 'Andrew'),
 (10314, 'Davolio', 'Nancy'),
 (10315, 'Peacock', 'Margaret'),
 (10316, 'Davolio', 'Nancy'),
 (10317, 'Suyama', 'Michael'),
 (10318, 'Callahan', 'Laura'),
 (10319, 'King', 'Robert'),
 (10320, 'Buchanan', 'Steven'),
 (10321, 'Leverling', 'Janet'),
 (10322, 'King', 'Robert'),
 (10323, 'Peacock', 'Margaret'),
 (10324, 'Dodsworth', 'Anne'),
 (10325, 'Davolio', 'Nancy'),
 (10326, 'Peacock', 'Margaret'),
 (10327, 'Fuller', 'Andrew'),
 (10328, 'Peacock', 'Margaret'),
 (10329, 'Peacock', 'Margaret'),
 (10330, 'Leverling', 'Janet'),
 (10331, 'Dodsworth', 'Anne'),
 (10332, 'Leverling', 'Janet'),
 (10333, 'Buchanan', 'Steven'),
 (10334, 'Callahan', 'Laura'),
 (10335, 'King', 'Robert'),
 (10336, 'King', 'Robert'),
 (10337, 'Peacock', 'Margaret'),
 (10338, 'Peacock', 'Margaret'),
 (10339, 'Fuller', 'Andrew'),
 (10340, 'Davolio', 'Nancy'),
 (10341, 'King', 'Robert'),
 (10342, 'Peacock', 'Margaret'),
 (10343, 'Peacock', 'Margaret'),
 (10344, 'Peacock', 'Margaret'),
 (10345, 'Fuller', 'Andrew'),
 (10346, 'Leverling', 'Janet'),
 (10347, 'Peacock', 'Margaret'),
 (10348, 'Peacock', 'Margaret'),
 (10349, 'King', 'Robert'),
 (10350, 'Suyama', 'Michael'),
 (10351, 'Davolio', 'Nancy'),
 (10352, 'Leverling', 'Janet'),
 (10353, 'King', 'Robert'),
 (10354, 'Callahan', 'Laura'),
 (10355, 'Suyama', 'Michael'),
 (10356, 'Suyama', 'Michael'),
 (10357, 'Davolio', 'Nancy'),
 (10358, 'Buchanan', 'Steven'),
 (10359, 'Buchanan', 'Steven'),
 (10360, 'Peacock', 'Margaret'),
 (10361, 'Davolio', 'Nancy'),
 (10362, 'Leverling', 'Janet'),
 (10363, 'Peacock', 'Margaret'),
 (10364, 'Davolio', 'Nancy'),
 (10365, 'Leverling', 'Janet'),
 (10366, 'Callahan', 'Laura'),
 (10367, 'King', 'Robert'),
 (10368, 'Fuller', 'Andrew'),
 (10369, 'Callahan', 'Laura'),
 (10370, 'Suyama', 'Michael'),
 (10371, 'Davolio', 'Nancy'),
 (10372, 'Buchanan', 'Steven'),
 (10373, 'Peacock', 'Margaret'),
 (10374, 'Davolio', 'Nancy'),
 (10375, 'Leverling', 'Janet'),
 (10376, 'Davolio', 'Nancy'),
 (10377, 'Davolio', 'Nancy'),
 (10378, 'Buchanan', 'Steven'),
 (10379, 'Fuller', 'Andrew'),
 (10380, 'Callahan', 'Laura'),
 (10381, 'Leverling', 'Janet'),
 (10382, 'Peacock', 'Margaret'),
 (10383, 'Callahan', 'Laura'),
 (10384, 'Leverling', 'Janet'),
 (10385, 'Davolio', 'Nancy'),
 (10386, 'Dodsworth', 'Anne'),
 (10387, 'Davolio', 'Nancy'),
 (10388, 'Fuller', 'Andrew'),
 (10389, 'Peacock', 'Margaret'),
 (10390, 'Suyama', 'Michael'),
 (10391, 'Leverling', 'Janet'),
 (10392, 'Fuller', 'Andrew'),
 (10393, 'Davolio', 'Nancy'),
 (10394, 'Davolio', 'Nancy'),
 (10395, 'Suyama', 'Michael'),
 (10396, 'Davolio', 'Nancy'),
 (10397, 'Buchanan', 'Steven'),
 (10398, 'Fuller', 'Andrew'),
 (10399, 'Callahan', 'Laura'),
 (10400, 'Davolio', 'Nancy'),
 (10401, 'Davolio', 'Nancy'),
 (10402, 'Callahan', 'Laura'),
 (10403, 'Peacock', 'Margaret'),
 (10404, 'Fuller', 'Andrew'),
 (10405, 'Davolio', 'Nancy'),
 (10406, 'King', 'Robert'),
 (10407, 'Fuller', 'Andrew'),
 (10408, 'Callahan', 'Laura'),
 (10409, 'Leverling', 'Janet'),
 (10410, 'Leverling', 'Janet'),
 (10411, 'Dodsworth', 'Anne'),
 (10412, 'Callahan', 'Laura'),
 (10413, 'Leverling', 'Janet'),
 (10414, 'Fuller', 'Andrew'),
 (10415, 'Leverling', 'Janet'),
 (10416, 'Callahan', 'Laura'),
 (10417, 'Peacock', 'Margaret'),
 (10418, 'Peacock', 'Margaret'),
 (10419, 'Peacock', 'Margaret'),
 (10420, 'Leverling', 'Janet'),
 (10421, 'Callahan', 'Laura'),
 (10422, 'Fuller', 'Andrew'),
 (10423, 'Suyama', 'Michael'),
 (10424, 'King', 'Robert'),
 (10425, 'Suyama', 'Michael'),
 (10426, 'Peacock', 'Margaret'),
 (10427, 'Peacock', 'Margaret'),
 (10428, 'King', 'Robert'),
 (10429, 'Leverling', 'Janet'),
 (10430, 'Peacock', 'Margaret'),
 (10431, 'Peacock', 'Margaret'),
 (10432, 'Leverling', 'Janet'),
 (10433, 'Leverling', 'Janet'),
 (10434, 'Leverling', 'Janet'),
 (10435, 'Callahan', 'Laura'),
 (10436, 'Leverling', 'Janet'),
 (10437, 'Callahan', 'Laura'),
 (10438, 'Leverling', 'Janet'),
 (10439, 'Suyama', 'Michael'),
 (10440, 'Peacock', 'Margaret'),
 (10441, 'Leverling', 'Janet'),
 (10442, 'Leverling', 'Janet'),
 (10443, 'Callahan', 'Laura')]

In [54]:
sql = """SELECT Customers.CustomerName, Orders.OrderID
         FROM Customers
         FULL OUTER JOIN Orders ON Customers.CustomerID=Orders.CustomerID
         ORDER BY Customers.CustomerName;"""

sendQuery(sql)

[('Alfreds Futterkiste', None),
 ('Ana Trujillo Emparedados y helados', 10308),
 ('Antonio Moreno Taquería', 10365),
 ('Around the Horn', 10355),
 ('Around the Horn', 10383),
 ("B''s Beverages", 10289),
 ('Berglunds snabbköp', 10278),
 ('Berglunds snabbköp', 10280),
 ('Berglunds snabbköp', 10384),
 ('Blauer See Delikatessen', None),
 ('Blondel père et fils', 10265),
 ('Blondel père et fils', 10297),
 ('Blondel père et fils', 10360),
 ('Blondel père et fils', 10436),
 ("Bon app''", 10331),
 ("Bon app''", 10340),
 ("Bon app''", 10362),
 ('Bottom-Dollar Marketse', 10389),
 ('Bottom-Dollar Marketse', 10410),
 ('Bottom-Dollar Marketse', 10411),
 ('Bottom-Dollar Marketse', 10431),
 ('Bólido Comidas preparadas', 10326),
 ('Cactus Comidas para llevar', None),
 ('Cardinal', None),
 ('Centro comercial Moctezuma', 10259),
 ('Chop-suey Chinese', 10254),
 ('Chop-suey Chinese', 10370),
 ('Comércio Mineiro', 10290),
 ('Consolidated Holdings', 10435),
 ('Die Wandernde Kuh', 10301),
 ('Die Wandernde Kuh', 10312),
 ('Die Wandernde Kuh', 10348),
 ('Die Wandernde Kuh', 10356),
 ('Drachenblut Delikatessend', 10363),
 ('Drachenblut Delikatessend', 10391),
 ('Du monde entier', 10311),
 ('Eastern Connection', 10364),
 ('Eastern Connection', 10400),
 ('Ernst Handel', 10258),
 ('Ernst Handel', 10263),
 ('Ernst Handel', 10351),
 ('Ernst Handel', 10368),
 ('Ernst Handel', 10382),
 ('Ernst Handel', 10390),
 ('Ernst Handel', 10402),
 ('Ernst Handel', 10403),
 ('Ernst Handel', 10430),
 ('Ernst Handel', 10442),
 ('FISSA Fabrica Inter. Salchichas S.A.', None),
 ('Familia Arquibaldo', 10347),
 ('Familia Arquibaldo', 10386),
 ('Familia Arquibaldo', 10414),
 ('Folies gourmandes', 10408),
 ('Folk och fä HB', 10264),
 ('Folk och fä HB', 10327),
 ('Folk och fä HB', 10378),
 ('Folk och fä HB', 10434),
 ('France restauration', None),
 ('Franchi S.p.A.', 10422),
 ('Frankenversand', 10267),
 ('Frankenversand', 10337),
 ('Frankenversand', 10342),
 ('Frankenversand', 10396),
 ('Furia Bacalhau e Frutos do Mar', 10328),
 ('Furia Bacalhau e Frutos do Mar', 10352),
 ('GROSELLA-Restaurante', 10268),
 ('Galería del gastrónomo', 10366),
 ('Galería del gastrónomo', 10426),
 ('Godos Cocina Típica', 10303),
 ('Gourmet Lanchonetes', 10423),
 ('Great Lakes Food Market', None),
 ('HILARIÓN-Abastos', 10257),
 ('HILARIÓN-Abastos', 10395),
 ('Hanari Carnes', 10250),
 ('Hanari Carnes', 10253),
 ('Hungry Coyote Import Store', 10375),
 ('Hungry Coyote Import Store', 10394),
 ('Hungry Coyote Import Store', 10415),
 ('Hungry Owl All-Night Grocers', 10298),
 ('Hungry Owl All-Night Grocers', 10309),
 ('Hungry Owl All-Night Grocers', 10335),
 ('Hungry Owl All-Night Grocers', 10373),
 ('Hungry Owl All-Night Grocers', 10380),
 ('Hungry Owl All-Night Grocers', 10429),
 ('Island Trading', 10315),
 ('Island Trading', 10318),
 ('Island Trading', 10321),
 ('Königlich Essen', 10323),
 ('Königlich Essen', 10325),
 ('LILA-Supermercado', 10283),
 ('LILA-Supermercado', 10296),
 ('LILA-Supermercado', 10330),
 ('LILA-Supermercado', 10357),
 ('LILA-Supermercado', 10381),
 ('LINO-Delicateses', 10405),
 ("La corne d''abondance", None),
 ("La maison d''Asie", 10350),
 ("La maison d''Asie", 10358),
 ("La maison d''Asie", 10371),
 ("La maison d''Asie", 10413),
 ("La maison d''Asie", 10425),
 ('Laughing Bacchus Wine Cellars', None),
 ('Lazy K Kountry Store', None),
 ('Lehmanns Marktstand', 10279),
 ('Lehmanns Marktstand', 10284),
 ('Lehmanns Marktstand', 10343),
 ("Let''s Stop N Shop", None),
 ('Lonesome Pine Restaurant', 10307),
 ('Lonesome Pine Restaurant', 10317),
 ('Magazzini Alimentari Riuniti', 10275),
 ('Magazzini Alimentari Riuniti', 10300),
 ('Magazzini Alimentari Riuniti', 10404),
 ('Maison Dewey', None),
 ('Morgenstern Gesundkost', 10277),
 ('Mère Paillarde', 10332),
 ('Mère Paillarde', 10339),
 ('Mère Paillarde', 10376),
 ('Mère Paillarde', 10424),
 ('Mère Paillarde', 10439),
 ('North/South', None),
 ('Océano Atlántico Ltda.', 10409),
 ('Old World Delicatessen', 10260),
 ('Old World Delicatessen', 10305),
 ('Old World Delicatessen', 10338),
 ('Old World Delicatessen', 10441),
 ('Ottilies Käseladen', 10407),
 ('Paris spécialités', None),
 ('Pericles Comidas clásicas', 10322),
 ('Pericles Comidas clásicas', 10354),
 ('Piccolo und mehr', 10353),
 ('Piccolo und mehr', 10392),
 ('Piccolo und mehr', 10427),
 ('Princesa Isabel Vinhoss', 10336),
 ('Princesa Isabel Vinhoss', 10397),
 ('Princesa Isabel Vinhoss', 10433),
 ('QUICK-Stop', 10273),
 ('QUICK-Stop', 10285),
 ('QUICK-Stop', 10286),
 ('QUICK-Stop', 10313),
 ('QUICK-Stop', 10345),
 ('QUICK-Stop', 10361),
 ('QUICK-Stop', 10418),
 ('Que Delícia', 10261),
 ('Que Delícia', 10291),
 ('Que Delícia', 10379),
 ('Que Delícia', 10421),
 ('Queen Cozinha', 10372),
 ('Queen Cozinha', 10406),
 ('Rancho grande', None),
 ('Rattlesnake Canyon Grocery', 10262),
 ('Rattlesnake Canyon Grocery', 10272),
 ('Rattlesnake Canyon Grocery', 10294),
 ('Rattlesnake Canyon Grocery', 10314),
 ('Rattlesnake Canyon Grocery', 10316),
 ('Rattlesnake Canyon Grocery', 10346),
 ('Rattlesnake Canyon Grocery', 10401),
 ('Reggiani Caseifici', 10288),
 ('Reggiani Caseifici', 10428),
 ('Reggiani Caseifici', 10443),
 ('Ricardo Adocicados', 10287),
 ('Ricardo Adocicados', 10299),
 ('Richter Supermarkt', 10255),
 ('Richter Supermarkt', 10419),
 ('Romero y tomillo', 10281),
 ('Romero y tomillo', 10282),
 ('Romero y tomillo', 10306),
 ('Santé Gourmet', 10387),
 ('Save-a-lot Markets', 10324),
 ('Save-a-lot Markets', 10393),
 ('Save-a-lot Markets', 10398),
 ('Save-a-lot Markets', 10440),
 ('Seven Seas Imports', 10359),
 ('Seven Seas Imports', 10377),
 ('Seven Seas Imports', 10388),
 ('Simons bistro', 10341),
 ('Simons bistro', 10417),
 ('Split Rail Beer & Ale', 10271),
 ('Split Rail Beer & Ale', 10329),
 ('Split Rail Beer & Ale', 10349),
 ('Split Rail Beer & Ale', 10369),
 ('Split Rail Beer & Ale', 10385),
 ('Split Rail Beer & Ale', 10432),
 ('Spécialités du monde', None),
 ('Suprêmes délices', 10252),
 ('Suprêmes délices', 10302),
 ('The Big Cheese', 10310),
 ('The Cracker Box', None),
 ('Toms Spezialitäten', 10438),
 ('Tortuga Restaurante', 10276),
 ('Tortuga Restaurante', 10293),
 ('Tortuga Restaurante', 10304),
 ('Tortuga Restaurante', 10319),
 ('Tradição Hipermercados', 10249),
 ('Tradição Hipermercados', 10292),
 ("Trail''s Head Gourmet Provisioners", None),
 ('Vaffeljernet', 10367),
 ('Vaffeljernet', 10399),
 ('Victuailles en stock', 10251),
 ('Victuailles en stock', 10334),
 ('Vins et alcools Chevalier', 10274),
 ('Vins et alcools Chevalier', 10295),
 ('Wartian Herkku', 10266),
 ('Wartian Herkku', 10270),
 ('Wartian Herkku', 10320),
 ('Wartian Herkku', 10333),
 ('Wartian Herkku', 10412),
 ('Wartian Herkku', 10416),
 ('Wartian Herkku', 10437),
 ('Wellington Importadora', 10256),
 ('Wellington Importadora', 10420),
 ('White Clover Markets', 10269),
 ('White Clover Markets', 10344),
 ('Wilman Kala', 10248),
 ('Wolski', 10374)]

In [55]:
sql = """SELECT A.CustomerName AS CustomerName1, B.CustomerName AS CustomerName2, A.City
         FROM Customers A, Customers B
         WHERE A.CustomerID <> B.CustomerID
         AND A.City = B.City 
         ORDER BY A.City;"""
sendQuery(sql)

[('Cactus Comidas para llevar', 'Océano Atlántico Ltda.', 'Buenos Aires'),
 ('Cactus Comidas para llevar', 'Rancho grande', 'Buenos Aires'),
 ('Océano Atlántico Ltda.', 'Cactus Comidas para llevar', 'Buenos Aires'),
 ('Océano Atlántico Ltda.', 'Rancho grande', 'Buenos Aires'),
 ('Rancho grande', 'Cactus Comidas para llevar', 'Buenos Aires'),
 ('Rancho grande', 'Océano Atlántico Ltda.', 'Buenos Aires'),
 ('Furia Bacalhau e Frutos do Mar', 'Princesa Isabel Vinhoss', 'Lisboa'),
 ('Princesa Isabel Vinhoss', 'Furia Bacalhau e Frutos do Mar', 'Lisboa'),
 ('Around the Horn', "B''s Beverages", 'London'),
 ('Around the Horn', 'Consolidated Holdings', 'London'),
 ('Around the Horn', 'Eastern Connection', 'London'),
 ('Around the Horn', 'North/South', 'London'),
 ('Around the Horn', 'Seven Seas Imports', 'London'),
 ("B''s Beverages", 'Around the Horn', 'London'),
 ("B''s Beverages", 'Consolidated Holdings', 'London'),
 ("B''s Beverages", 'Eastern Connection', 'London'),
 ("B''s Beverages", 'North/South', 'London'),
 ("B''s Beverages", 'Seven Seas Imports', 'London'),
 ('Consolidated Holdings', 'Around the Horn', 'London'),
 ('Consolidated Holdings', "B''s Beverages", 'London'),
 ('Consolidated Holdings', 'Eastern Connection', 'London'),
 ('Consolidated Holdings', 'North/South', 'London'),
 ('Consolidated Holdings', 'Seven Seas Imports', 'London'),
 ('Eastern Connection', 'Around the Horn', 'London'),
 ('Eastern Connection', "B''s Beverages", 'London'),
 ('Eastern Connection', 'Consolidated Holdings', 'London'),
 ('Eastern Connection', 'North/South', 'London'),
 ('Eastern Connection', 'Seven Seas Imports', 'London'),
 ('North/South', 'Around the Horn', 'London'),
 ('North/South', "B''s Beverages", 'London'),
 ('North/South', 'Consolidated Holdings', 'London'),
 ('North/South', 'Eastern Connection', 'London'),
 ('North/South', 'Seven Seas Imports', 'London'),
 ('Seven Seas Imports', 'Around the Horn', 'London'),
 ('Seven Seas Imports', "B''s Beverages", 'London'),
 ('Seven Seas Imports', 'Consolidated Holdings', 'London'),
 ('Seven Seas Imports', 'Eastern Connection', 'London'),
 ('Seven Seas Imports', 'North/South', 'London'),
 ('Bólido Comidas preparadas',
  'FISSA Fabrica Inter. Salchichas S.A.',
  'Madrid'),
 ('Bólido Comidas preparadas', 'Romero y tomillo', 'Madrid'),
 ('FISSA Fabrica Inter. Salchichas S.A.',
  'Bólido Comidas preparadas',
  'Madrid'),
 ('FISSA Fabrica Inter. Salchichas S.A.', 'Romero y tomillo', 'Madrid'),
 ('Romero y tomillo', 'Bólido Comidas preparadas', 'Madrid'),
 ('Romero y tomillo', 'FISSA Fabrica Inter. Salchichas S.A.', 'Madrid'),
 ('Ana Trujillo Emparedados y helados',
  'Antonio Moreno Taquería',
  'México D.F.'),
 ('Ana Trujillo Emparedados y helados',
  'Centro comercial Moctezuma',
  'México D.F.'),
 ('Ana Trujillo Emparedados y helados',
  'Pericles Comidas clásicas',
  'México D.F.'),
 ('Ana Trujillo Emparedados y helados', 'Tortuga Restaurante', 'México D.F.'),
 ('Antonio Moreno Taquería',
  'Ana Trujillo Emparedados y helados',
  'México D.F.'),
 ('Antonio Moreno Taquería', 'Centro comercial Moctezuma', 'México D.F.'),
 ('Antonio Moreno Taquería', 'Pericles Comidas clásicas', 'México D.F.'),
 ('Antonio Moreno Taquería', 'Tortuga Restaurante', 'México D.F.'),
 ('Centro comercial Moctezuma',
  'Ana Trujillo Emparedados y helados',
  'México D.F.'),
 ('Centro comercial Moctezuma', 'Antonio Moreno Taquería', 'México D.F.'),
 ('Centro comercial Moctezuma', 'Pericles Comidas clásicas', 'México D.F.'),
 ('Centro comercial Moctezuma', 'Tortuga Restaurante', 'México D.F.'),
 ('Pericles Comidas clásicas',
  'Ana Trujillo Emparedados y helados',
  'México D.F.'),
 ('Pericles Comidas clásicas', 'Antonio Moreno Taquería', 'México D.F.'),
 ('Pericles Comidas clásicas', 'Centro comercial Moctezuma', 'México D.F.'),
 ('Pericles Comidas clásicas', 'Tortuga Restaurante', 'México D.F.'),
 ('Tortuga Restaurante', 'Ana Trujillo Emparedados y helados', 'México D.F.'),
 ('Tortuga Restaurante', 'Antonio Moreno Taquería', 'México D.F.'),
 ('Tortuga Restaurante', 'Centro comercial Moctezuma', 'México D.F.'),
 ('Tortuga Restaurante', 'Pericles Comidas clásicas', 'México D.F.'),
 ('Du monde entier', 'France restauration', 'Nantes'),
 ('France restauration', 'Du monde entier', 'Nantes'),
 ('Paris spécialités', 'Spécialités du monde', 'Paris'),
 ('Spécialités du monde', 'Paris spécialités', 'Paris'),
 ('Lonesome Pine Restaurant', 'The Big Cheese', 'Portland'),
 ('The Big Cheese', 'Lonesome Pine Restaurant', 'Portland'),
 ('Hanari Carnes', 'Que Delícia', 'Rio de Janeiro'),
 ('Hanari Carnes', 'Ricardo Adocicados', 'Rio de Janeiro'),
 ('Que Delícia', 'Hanari Carnes', 'Rio de Janeiro'),
 ('Que Delícia', 'Ricardo Adocicados', 'Rio de Janeiro'),
 ('Ricardo Adocicados', 'Hanari Carnes', 'Rio de Janeiro'),
 ('Ricardo Adocicados', 'Que Delícia', 'Rio de Janeiro'),
 ('Comércio Mineiro', 'Familia Arquibaldo', 'São Paulo'),
 ('Comércio Mineiro', 'Queen Cozinha', 'São Paulo'),
 ('Comércio Mineiro', 'Tradição Hipermercados', 'São Paulo'),
 ('Familia Arquibaldo', 'Comércio Mineiro', 'São Paulo'),
 ('Familia Arquibaldo', 'Queen Cozinha', 'São Paulo'),
 ('Familia Arquibaldo', 'Tradição Hipermercados', 'São Paulo'),
 ('Queen Cozinha', 'Comércio Mineiro', 'São Paulo'),
 ('Queen Cozinha', 'Familia Arquibaldo', 'São Paulo'),
 ('Queen Cozinha', 'Tradição Hipermercados', 'São Paulo'),
 ('Tradição Hipermercados', 'Comércio Mineiro', 'São Paulo'),
 ('Tradição Hipermercados', 'Familia Arquibaldo', 'São Paulo'),
 ('Tradição Hipermercados', 'Queen Cozinha', 'São Paulo')]

inner join은 각 테이블에 column중 select하는 column이 있는 경우에만 row를 합쳐서 가져오고, outer join의 경우는 칼럼이 없더라도 LEFT RIGHT 조건에 부합하기만 한다면 row를 합쳐서 보여준다. SELF JOIN같은 경우엔 JOIN 명령을 안쓰더라도 작동한다.

## UNION

SELECT해서 나온 결과를 이어붙여주는 문법이다. 제한사항은 다음과 같다:

* 각 SELECT문의 COLUMN개수는 같아야 한다.
* 각 COLUMN은 데이터 타입이 같아야 한다.
* SELECT문 속 고르는 COLUMN의 순서 또한 같아야 한다.

이렇게 하면 SELECT결과를 합쳐준다고 한다

## GROUP BY

pandas의 groyp by와 동일하게 데이터중 일부 column이 같은 부분을 모아서 각 부분마다 데이터 처리 함수를 실행한 뒤, 다시 모아서 보여주는 명령어이다.

In [ ]:
sql = """SELECT COUNT(CustomerID), Country
         FROM Customers
         GROUP BY Country;"""
sendQuery(sql)

위 함수의 실행 결과는 각 국적의 사람들의 수를 집계한 데이터가 나오게 된다. 조금 더 복잡하게는 다음과 같이 JOIN과 엮어서 쓸 수 있다.

In [ ]:
sql = """SELECT Shippers.ShipperName, COUNT(Orders.OrderID) AS NumberOfOrders FROM Orders
         LEFT JOIN Shippers ON Orders.ShipperID = Shippers.ShipperID
         GROUP BY ShipperName;"""
sendQuery(sql)

## HAVING

WHERE문 안에서는 추가적인 데이터 처리 함수를 쓰지 못하기 때문에 HAVING을 써서 이를 해결한다.

In [3]:
sql = """SELECT COUNT(CustomerID), Country
         FROM Customers
         GROUP BY Country
         HAVING COUNT(CustomerID) > 5;
"""
sendQuery(sql)

[(9, 'Brazil'), (11, 'France'), (11, 'Germany'), (7, 'UK'), (13, 'USA')]

In [5]:
sql = """SELECT COUNT(CustomerID), Country
         FROM Customers
         GROUP BY Country
         HAVING COUNT(CustomerID) > 5
         ORDER BY COUNT(CustomerID) DESC;
"""
sendQuery(sql)

[(13, 'USA'), (11, 'Germany'), (11, 'France'), (9, 'Brazil'), (7, 'UK')]

위의 두 쿼리는 국가당 계정이 5개 있는 나라와 계정 수를 출력하는 쿼리였다. ORDER BY DESCENT로 역순 정렬도 하는 보습을 확인할 수 있다.

## EXISTS
서브 쿼리문의 결과에서 아이템이 존재하면 참이 된다.

In [6]:
sql = """SELECT SupplierName
FROM Suppliers
WHERE EXISTS (SELECT ProductName FROM Products WHERE Products.SupplierID = Suppliers.supplierID AND Price < 20);
"""
sendQuery(sql)

[('Exotic Liquid',),
 ('New Orleans Cajun Delights',),
 ('Tokyo Traders',),
 ("Mayumi's",),
 ('Pavlova, Ltd.',),
 ('Specialty Biscuits, Ltd.',),
 ('PB Knäckebröd AB',),
 ('Refrescos Americanas LTDA',),
 ('Heli Süßwaren GmbH & Co. KG',),
 ('Plutzer Lebensmittelgroßmärkte AG',),
 ('Formaggi Fortini s.r.l.',),
 ('Norske Meierier',),
 ('Bigfoot Breweries',),
 ('Svensk Sjöföda AB',),
 ('Aux joyeux ecclésiastiques',),
 ('New England Seafood Cannery',),
 ('Leka Trading',),
 ('Lyngbysild',),
 ('Zaanse Snoepfabriek',),
 ('Karkki Oy',),
 ("G'day, Mate",),
 ('Ma Maison',),
 ('Pasta Buttini s.r.l.',),
 ('Escargots Nouveaux',)]

위의 코드에서는 마트에 제품을 공급하는 사업자 중 20불보다 싼 물건을 납품하는 업자들의 명단이다.

# ANY and ALL

이름 그대로 서브쿼리에 조건에 맞는 값이 하나라도/모두가 온다면 TRUE를 반환한다.

In [10]:
sql = """SELECT ProductName
         FROM Products
         WHERE ProductID = ANY
         (SELECT ProductID
         FROM OrderDetails
         WHERE Quantity = 10);
"""
sendQuery(sql)

near "SELECT": syntax error

In [11]:
sql = """SELECT ProductName
         FROM Products
         WHERE ProductID = ANY
         (SELECT ProductID
         FROM OrderDetails
         WHERE Quantity > 1000);
"""
sendQuery(sql)

near "SELECT": syntax error

In [12]:
sql = """SELECT ProductName
         FROM Products
         WHERE ProductID = ALL
         (SELECT ProductID
         FROM OrderDetails
         WHERE Quantity = 10);"""
sendQuery(sql)

near "ALL": syntax error

ALL과 ANY는 작동하지 않았다.

# SELECT INTO
해당 구문은 새로운 테이블에 고른 데이터를 넣을려고 사용한다

In [6]:
sql = "SELECT * INTO CustomersBackup2017 FROM Customers;"
sendQuery(sql)
sql = "SELECT * FROM CustomersBackup2017"
sendQuery(sql)

near "INTO": syntax error
no such table: CustomersBackup2017

실행이 안되고 있는 모습을 보여준다

# INSERT INTO SELECT
뒤에서 SELECT에 의해 선택된 데이터를 INSERT INTO 뒤에 오는 테이블에 넣는다.

In [ ]:
sql = """INSERT INTO Customers (CustomerName, City, Country)
         SELECT SupplierName, City, Country FROM Suppliers;"""
sendQuery(sql)
sql = "SELECT * FROM Customers"
sendQuery(sql)

맨 뒤에 서플라이어 테이블로붜 일부가 커스토머에 추가된 것을 확인할 수 있다.

# CASE
c 언어의 case문처럼 여러개의 조건을 다루기 위해 사용한다.

In [ ]:
sql = """SELECT OrderID, Quantity,
         CASE
             WHEN Quantity > 30 THEN 'The quantity is greater than 30'
             WHEN Quantity = 30 THEN 'The quantity is 30'
             ELSE 'The quantity is under 30'    
         END AS QuantityText
         FROM OrderDetails;"""
sendQuery(sql)

In [ ]:
sql = """SELECT CustomerName, City, Country
         FROM Customers
         ORDER BY
         (CASE
             WHEN City IS NULL THEN Country
             ELSE City
         END);
"""
sendQuery(sql)

case문을 이용하여 여타 프로그래밍 언어의 if 문과도 같은 사용을 할 수 있다.

# NULL
NULL값이 왔을 때 다른 값으로 처리하는 함수를 다룬다.

In [10]:
sql = """SELECT ProductName, UnitPrice * (UnitsInStock + IFNULL(UnitsOnOrder, 0))
         FROM Products;"""
sendQuery(sql)

no such column: UnitPrice

In [11]:
sql = """SELECT ProductName, UnitPrice * (UnitsInStock + ISNULL(UnitsOnOrder, 0))
         FROM Products;"""
sendQuery(sql)

near "ISNULL": syntax error

In [12]:
sql = """SELECT ProductName, UnitPrice * (UnitsInStock + IIF(IsNull(UnitsOnOrder), 0, UnitsOnOrder))
         FROM Products;"""
sendQuery(sql)

near "IsNull": syntax error

In [13]:
sql = """SELECT ProductName, UnitPrice * (UnitsInStock + NVL(UnitsOnOrder, 0))
         FROM Products;"""
sendQuery(sql)

no such column: UnitPrice

In [14]:
sql = """SELECT ProductName, UnitPrice * (UnitsInStock + COALESCE(UnitsOnOrder, 0))
         FROM Products;"""
sendQuery(sql)

no such column: UnitPrice

뭔가 작동은 잘 안하지만 sqlite3에서는 IFNULL, NVM, COALESCE 함수만 작동하는것을 확인할 수 있었다.

# Stored Procedures
프로그래밍 언어의 함수처럼, 자주 사용하는 쿼리문이 있다면, 저장해서 사용할 수 있는 기능이다.

In [17]:
sql = """CREATE PROCEDURE SelectAllCustomers
         AS
         SELECT * FROM Customers
         GO;
"""
sendQuery(sql)

sql = "EXEC SelectAllCustormer"
sendQuery(sql)

near "PROCEDURE": syntax error
near "EXEC": syntax error

그러나 sqlite3에서는 작동하지 않는다. 댜음과 같이 매개변수를 이용할 수도 있다.

In [18]:
sql = """CREATE PROCEDURE SelectAllCustomers @City nvarchar(30), @PostalCode nvarchar(10)
         AS
         SELECT * FROM Customers WHERE City = @City AND PostalCode = @PostalCode
         GO;"""
sendQuery(sql)

sql = "EXEC SelectAllCustomers @City = 'London', @PostalCode = 'WA1 1DP'"
sendQuery(sql)

near "PROCEDURE": syntax error
near "EXEC": syntax error

아무튼 작동하지는 않지만 위와같은 문법으로 사용할 수 있다.

# Comments
"--" 대쉬 두개를 그은 후에 주석을 달 수 있다.

# Operators
Sql에서 사용할 수 있는 많은 연산자가 있다. + - * / % 와 같이 기본 사칙연산과 관련된 연산자, & | ^ 와 같이 c에서 비트 단위로 연산해주는 연산자, = > < >= <= <> 연산자와 같이 조건에 관한 연산자를 쓸 수 있다. c와 다른 점은 c의 == 대신에 =, c의 != 대신에 <>를 쓴다는 점이다.

계속해서 += -= *= /- %= &= ^-=, |*= 연산자가 있는데, 다른건 c와 같지만 ^-=, |*=연산자 사용에 주의하자. 각각 bitwise xor equals, bitwise OR equals이다.

마지막으로 지금까지 봤던 문자열 형식의 연산자도 연산자이다. ALL, AND, ANY, BETWEEN, EXISTS, IN, LIKE, NOT, OR, SOME이 있다.

# Database Operating
데이터베이스를 다루는 함수들이다.

## CREATE DATABASE
데이터베이스를 만든다.

In [19]:
sql = "CREATE DATABASE testDB"
sendQuery(sql)

near "DATABASE": syntax error

## DROP DATABASE
데이터베이스를 지운다.

In [20]:
sql = "DROP DATABASE testDB"
sendQuery(sql)

near "DATABASE": syntax error

## BACKUP DATABASE
데이터베이스를 파일로 출력한다.

In [22]:
sql = """BACKUP DATABASE testDB
         TO DISK = "./testDB.bak"
"""
sendQuery(sql)

near "BACKUP": syntax error

In [23]:
sql = """BACKUP DATABASE testDB
         TO DISK = "./testDB.bak"
         WITH DIFFERENTIAL"""
sendQuery(sql)

near "BACKUP": syntax error

with differential 옵션을 붙이면 기록 시간은 제외하고 저장된다.

위의 세 함수는 실행이 되지 않지만 아무튼 저런 기능이 있다고 한다.

# Table Operating
데이터베이스 내부의 테이블을 다루는 명령어를 다룬다.

## CREATE TABLE
새로운 테이블을 만든다.

In [ ]:
sql = """CREATE TABLE Persons (
         PersonID int,
         LastName varchar(255),
         FirstName varchar(255),
         Address varchar(255),
         City varchar(255) 
         );
      """
sendQuery(sql)

In [ ]:
sql = """CREATE TABLE TestTable AS
         SELECT customername, contactname
         FROM customers;
      """
sendQuery(sql)
sql = "SELECT * FROM TestTable"
sendQuery(sql)

AS SELECT를 이용하여 새로운 테이블을 만들 수도 있다. 이때는, 선택된 column에 데이터가 있다면, 해당 데이터도 같이 복사된다.

## DROP TABLE
테이블을 삭제한다.

In [27]:
sql = "DROP TABLE Persons"
sendQuery(sql)

[]

In [29]:
sql = "TRUNCATE TABLE TestTable"
sendQuery(sql)
sql = "SELECT * FROM TestTable"
sendQuery(sql)
sql = "DROP TABLE TestTable"
sendQuery(sql)

near "TRUNCATE": syntax error

[]

TRUNCATE TABLE 함수를 이용하여 테이블 내부 데이터를 삭제할 수 있다고 하는데 삭제가 안된다. 아무래도 DROP * FROM table을 사용해야 할 것 같다.

## ALTER TABLE
기존 테이블에 열을 추가하거나 삭제하기 위해 사용한다. 그 외에도 제약조건을 걸거나 삭제하는데에도 사용할 수 있다.

In [34]:
sql = """ALTER TABLE Customers
         ADD Email varchar(255);"""
sendQuery(sql)
sql = "SELECT * FROM Customers LIMIT 1"
print(sendQuery(sql))
sql = """ALTER TABLE Customers
         DROP COLUMN Email;"""
sendQuery(sql)
sql = "SELECT * FROM Customers LIMIT 1"
print(sendQuery(sql))

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany', None)]
[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')]

In [37]:
sql = "ALTER TABLE Customers RENAME COLUMN City to city"
sendQuery(sql)
sql = "SELECT city FROM Customers LIMIT 1"
print(sendQuery(sql))
sql = "ALTER TABLE Customers RENAME COLUMN City to city"
sendQuery(sql)

[('Berlin',)]

[]

In [38]:
sql = """ALTER TABLE table_name
         MODIFY COLUMN column_name datatype;
"""
# or
sql = """ALTER TABLE table_name
         MODIFY column_name datatype;
"""

위와 같은 방법으로 column의 데이터 형식을 바꿀 수 있다.

# Constrains
table을 만들 때, 각 column의 제약 조건을 설정할 수 있다. 제약조건으로는 다음과 같이 걸 수 있다.

* NOT NULL: NULL값이 데이터로 올 수 없음.
* UNIQUE: 데이터가 중복될 수 없음
* PRIMARY KEY (NOT NULL): 해당 column의 데이터로 테이블의 각 행을 식별함. UNIQUE해야한다.
* FOREIGN KEY: 테이블 간 링크를 파괴하는 작업을 방지한다.
* CHECK: 열의 값이 특정 조건을 만족하는지 확인한다.
* DEFAULT: 값이 지정되지 않은 경우 열에 대한 기본값을 설정한다.
* CREATE INDEX: 데이터베이스에서 매우 빠르게 데이터를 생성하고 검색하는데 사용됨.

## NOT NULL

In [22]:
sql = """
    CREATE TABLE TestTable (
        ID int NOT NULL,
        LastName varchar(255) NOT NULL,
        FirstName varchar(255) NOT NULL,
        Age int
    );
"""
sendQuery(sql)
sql = """INSERT INTO TestTable(ID, LastName, FirstName, Age)
         VALUES (?,?,?,?)"""
data = [[1,"kim","babo", 26], [2,"Lee","Jeongsang", 7], [3, "Park", "Daegi", 40]]
sendQueryWithData(sql, data)
sql = """INSERT INTO TestTable(ID, LastName, FirstName)
         VALUES (4,"test", "no age")"""
sendQuery(sql)
sql = """INSERT INTO TestTable(ID, LastName)
         VALUES (4,"No First name")"""
sendQuery(sql)
sql = "SELECT * FROM TestTable"
print(sendQuery(sql))
#sql = "DROP TABLE TestTable"
#sendQuery(sql)

NOT NULL constraint failed: TestTable.FirstName
[(1, 'kim', 'babo', 26), (2, 'Lee', 'Jeongsang', 7), (3, 'Park', 'Daegi', 40), (4, 'test', 'no age', None)]

## UNIQUE

In [25]:
#sql = """INSERT INTO TestTable(ID, LastName, FirstName)
#         VALUES (4,"test", "no unique id")"""
#sendQuery(sql)
#sql = "ALTER TABLE TestTable ADD CONSTRAINT UNIQUE (ID)"
sql = "ALTER TABLE TestTable ADD CONSTRAINT UC_Person UNIQUE (ID, LastName)"
sendQuery(sql)

near "CONSTRAINT": syntax error

안된다... 테이블을 삭제하고 다시 생성해서 시도해 본다.

In [27]:
sql = "DROP TABLE TestTable"
sendQuery(sql)

sql = """
    CREATE TABLE TestTable (
        ID int NOT NULL,
        LastName varchar(255) NOT NULL,
        FirstName varchar(255) NOT NULL,
        Age int,
        UNIQUE (ID)
    );
"""
sendQuery(sql)
sql = """INSERT INTO TestTable(ID, LastName, FirstName, Age)
         VALUES (?,?,?,?)"""
data = [[1,"kim","babo", 26], [2,"Lee","Jeongsang", 7], [3, "Park", "Daegi", 40]]
sendQueryWithData(sql, data)
sql = """INSERT INTO TestTable(ID, LastName, FirstName)
         VALUES (4,"test", "no age")"""
sendQuery(sql)
sql = """INSERT INTO TestTable(ID, LastName, FirstName)
         VALUES (4,"No Unique", "ID")"""
sendQuery(sql)
sql = "SELECT * FROM TestTable"
print(sendQuery(sql))

UNIQUE constraint failed: TestTable.ID
[(1, 'kim', 'babo', 26), (2, 'Lee', 'Jeongsang', 7), (3, 'Park', 'Daegi', 40), (4, 'test', 'no age', None)]

## PRIMARY KEY

In [88]:
sql = "DROP TABLE TestTable"
sendQuery(sql)

sql = """
    CREATE TABLE TestTable (
        ID integer NOT NULL PRIMARY KEY,
        LastName varchar(255) NOT NULL,
        FirstName varchar(255) NOT NULL,
        Age integer,
        UNIQUE (ID)
    );
"""
sendQuery(sql)
sql = """INSERT INTO TestTable(ID, LastName, FirstName, Age)
         VALUES (?,?,?,?)"""
data = [[1,"kim","babo", 26], [2,"Lee","Jeongsang", 7], [3, "Park", "Daegi", 40]]
sendQueryWithData(sql, data)
sql = """INSERT INTO TestTable(ID, LastName, FirstName)
         VALUES (4,"test", "no age")"""
sendQuery(sql)
sql = """INSERT INTO TestTable(ID, LastName, FirstName)
         VALUES (4,"No Unique", "ID")"""
sendQuery(sql)
sql = "SELECT * FROM TestTable"
print(sendQuery(sql))

UNIQUE constraint failed: TestTable.ID
[(1, 'kim', 'babo', 26), (2, 'Lee', 'Jeongsang', 7), (3, 'Park', 'Daegi', 40), (4, 'test', 'no age', None)]

UNIQUE 키워드를 붙이지 않아도 자동으로 중복을 파악해 준다.

## FOREIGN KEY

In [89]:
sql = "DROP TABLE TestTable2"
sendQuery(sql)
sql = "PRAGMA foreign_keys = 1;"
sendQuery(sql)
sql = """
    CREATE TABLE TestTable2 (
        OrderID integer NOT NULL,
        OrderNum integer NOT NULL,
        PersonID int,
        PRIMARY KEY (OrderID),
        CONSTRAINT FK_PeronOrder FOREIGN KEY (PersonID)
        REFERENCES TestTable(ID)
    );
"""
sendQuery(sql)
sql = """INSERT INTO TestTable2(OrderID, OrderNum, PersonID)
         VALUES (1, 13245, 1)"""
sendQuery(sql)
sql = """INSERT INTO TestTable2(OrderID, OrderNum, PersonID)
         VALUES (2, 13245, 10000)"""
sendQuery(sql)
sql = "SELECT * FROM TestTable2"
sendQuery(sql)

no such table: TestTable2

[(1, 13245, 1), (2, 13245, 10000)]

원리는 TestTable의 ID 외의 값이 PersonID 값으로 오면 테이블에 INSERT가 되면 안되는데 된다... 무엇이 문제인지 모르겠다. 마지막으로 TestTable을 지운다.

In [56]:
sql = ["DROP TABLE TestTable","DROP TABLE TestTable2"]
[sendQuery(s) for s in sql]

no such table: TestTable2

[[], None]

## CHECK

In [87]:
sql = "DROP TABLE TestTable"
sendQuery(sql)

sql = """
    CREATE TABLE TestTable (
        ID integer NOT NULL PRIMARY KEY,
        LastName varchar(255) NOT NULL,
        FirstName varchar(255) NOT NULL,
        Age integer,
        CreatedAt date DEFAULT (date('now'))
    );
"""
sendQuery(sql)
sql = """INSERT INTO TestTable(ID, LastName, FirstName, Age)
         VALUES (?,?,?,?)"""
data = [[1,"kim","babo", 26], [2,"Lee","Jeongsang", 67], [3, "Park", "Daegi", 40]]
sendQueryWithData(sql, data)
sql = """INSERT INTO TestTable(ID, LastName, FirstName, Age)
         VALUES (1,"test", "no age", 4)"""
sendQuery(sql)
sql = """INSERT INTO TestTable(ID, LastName, FirstName, Age)
         VALUES (4,"No Unique", "ID", 18)"""
sendQuery(sql)

sql = "SELECT * FROM TestTable"
print(sendQuery(sql))

UNIQUE constraint failed: TestTable.ID
[(1, 'kim', 'babo', 26, '2025-01-08'), (2, 'Lee', 'Jeongsang', 67, '2025-01-08'), (3, 'Park', 'Daegi', 40, '2025-01-08'), (4, 'No Unique', 'ID', 18, '2025-01-08')]

해당 필드의 값이 비었을 때 자동으로 채워주는 조건이다.

## CREATE INDEX
복수개의 Column이 허용된다.

In [73]:
sql = "CREATE INDEX idx_lastname ON TestTable(ID);"
sendQuery(sql)

[]

인덱스는 데이터베이스를 빠르게 탐색하게 해준다고 한다. 사용자는 인덱스를 볼 수 없으며, 인덱스가 있는 테이블은 업데이트시 시간이 더 많이 걸림에 주의해야 한다.

## AUTO INCREMENT
테이블 생성 시, 자동으로 증가하는 필드로 설정한다.

In [91]:
sql = "DROP TABLE TestTable"
sendQuery(sql)

sql = """
    CREATE TABLE TestTable (
        Id integer PRIMARY KEY AUTOINCREMENT,
        LastName varchar(255) NOT NULL,
        FirstName varchar(255) NOT NULL,
        Age int,
        CreatedAt date DEFAULT (datetime('now'))
    );
"""
sendQuery(sql)
sql = """INSERT INTO TestTable(LastName, FirstName, Age)
         VALUES (?,?,?)"""
data = [["kim","babo", 26], ["Lee","Jeongsang", 67], ["Park", "Daegi", 40]]
sendQueryWithData(sql, data)
sql = """INSERT INTO TestTable(LastName, FirstName, Age)
         VALUES ("test", "no age", 4)"""
sendQuery(sql)
sql = """INSERT INTO TestTable(Id, LastName, FirstName, Age)
         VALUES (1,"No Unique", "ID", 18)"""
sendQuery(sql)


sql = "SELECT * FROM TestTable"
print(sendQuery(sql))

UNIQUE constraint failed: TestTable.Id
[(1, 'kim', 'babo', 26, '2025-01-08 02:37:28'), (2, 'Lee', 'Jeongsang', 67, '2025-01-08 02:37:28'), (3, 'Park', 'Daegi', 40, '2025-01-08 02:37:28'), (4, 'test', 'no age', 4, '2025-01-08 02:37:28')]

# Dates
날짜를 다룬다.

MySQL에서의 형식은 다음과 같다:

* DATE: YYYY-MM-DD
* DATETIME: YYYY-MM-DD HH:MI:SS
* TIMESTAMP: YYYY-MM-DD HH:MI:SS
* YEAR: YYYY 혹은 YY

SQL Server에서는 다음과 같다:

* DATE: YYYY-MM-DD
* DATETIME: YYYY-MM-DD HH:MI:SS
* SMALLDATETIME: YYYY-MM-DD HH:MI:SS
* TIMESTAMP: 고유 번호

홈페이지에 적힌 팁으로는 꼭 필요한 경우가 아니라면 날짜에 시간 구성요소를 사용하지 말라고 한다. 하루 단위로 조작하는 데이터가 많지 시/분/초 단위로 조작하는 데이터가 많지 않아서 그런 것 같다. 그것이 아니더라도 일자까지는 비교를 잘 해주는 것 같다.

# VIEW
view는 이름을 재명명한 듯한 느낌이다. 원하는 테이블에서 필요한 데이터만을 모아 뷰로 설정할 수 있다. 원래 테이블을 업데이트 하면 뷰도 자동으로 업데이트 된다고 한다.

In [92]:
sql = """
    CREATE VIEW [Brazil Customers] AS
    SELECT CustomerName, ContactName
    FROM Customers
    WHERE Country = 'Brazil';
"""
sendQuery(sql)
sql = "SELECT * FROM [Brazil Customers]"
sendQuery(sql)

[('Comércio Mineiro', 'Pedro Afonso'),
 ('Familia Arquibaldo', 'Aria Cruz'),
 ('Gourmet Lanchonetes', 'André Fonseca'),
 ('Hanari Carnes', 'Mario Pontes'),
 ('Que Delícia', 'Bernardo Batista'),
 ('Queen Cozinha', 'Lúcia Carvalho'),
 ('Ricardo Adocicados', 'Janete Limeira'),
 ('Tradição Hipermercados', 'Anabela Domingues'),
 ('Wellington Importadora', 'Paula Parente')]

CREATE OR REPLACE 문으로 재구성 할 수 있다.

In [96]:
sql = """
    CREATE OR REPLACE VIEW [Brazil Customers] AS
    SELECT CustomerName, ContactName, City
    FROM Customers
    WHERE Country = 'Brazil';
"""
sendQuery(sql)
sql = "SELECT * FROM [Brazil Customers]"
sendQuery(sql)

near "OR": syntax error

[('Comércio Mineiro', 'Pedro Afonso'),
 ('Familia Arquibaldo', 'Aria Cruz'),
 ('Gourmet Lanchonetes', 'André Fonseca'),
 ('Hanari Carnes', 'Mario Pontes'),
 ('Que Delícia', 'Bernardo Batista'),
 ('Queen Cozinha', 'Lúcia Carvalho'),
 ('Ricardo Adocicados', 'Janete Limeira'),
 ('Tradição Hipermercados', 'Anabela Domingues'),
 ('Wellington Importadora', 'Paula Parente')]

잘 안된다...

In [97]:
sql = "DROP VIEW [Brazil Customers]"
sendQuery(sql)

[]

# Injection

인젝션은 해킹 기술이며 데이터 베이스를 파괴하거나 악성코드를 삽입할 수 있다.

가장 쉬운 방법은 사용자 입력을 그대로 쿼리문으로 사용하는 것이다. 예를 들면 다음과 같다:

In [103]:
userId = input("press user id: ")
sql = "SELECT * FROM Customers WHERE CustomerName = "+userId
sendQuery(sql)

near "OR": syntax error

사용자 입력에서 아무 문자열을 넣고 "OR 1 = 1"을 넣으면 테이블의 모든 정보를 볼 수 있다.

"" OR 1 = 1

을 입력해보자

마찬가지로 다음의 쿼리문도 위험하다.

In [105]:
customerName = input("press user name: ")
customerCity = input("press user living city: ")
sql = 'SELECT * FROM Customers WHERE CustomerName ="' + customerName + '" AND City ="' + customerCity + '"'
sendQuery(sql)

[(1,
  'Alfreds Futterkiste',
  'Maria Anders',
  'Obere Str. 57',
  'Berlin',
  '12209',
  'Germany'),
 (2,
  'Ana Trujillo Emparedados y helados',
  'Ana Trujillo',
  'Avda. de la Constitución 2222',
  'México D.F.',
  '5021',
  'Mexico'),
 (3,
  'Antonio Moreno Taquería',
  'Antonio Moreno',
  'Mataderos 2312',
  'México D.F.',
  '5023',
  'Mexico'),
 (4,
  'Around the Horn',
  'Thomas Hardy',
  '120 Hanover Sq.',
  'London',
  'WA1 1DP',
  'UK'),
 (5,
  'Berglunds snabbköp',
  'Christina Berglund',
  'Berguvsvägen 8',
  'Luleå',
  'S-958 22',
  'Sweden'),
 (6,
  'Blauer See Delikatessen',
  'Hanna Moos',
  'Forsterstr. 57',
  'Mannheim',
  '68306',
  'Germany'),
 (7,
  'Blondel père et fils',
  'Frédérique Citeaux',
  '24, place Kléber',
  'Strasbourg',
  '67000',
  'France'),
 (8,
  'Bólido Comidas preparadas',
  'Martín Sommer',
  'C/ Araquil, 67',
  'Madrid',
  '28023',
  'Spain'),
 (9,
  "Bon app''",
  'Laurence Lebihans',
  '12, rue des Bouchers',
  'Marseille',
  '13008',
  'France'),
 (10,
  'Bottom-Dollar Marketse',
  'Elizabeth Lincoln',
  '23 Tsawassen Blvd.',
  'Tsawassen',
  'T2F 8M4',
  'Canada'),
 (11,
  "B''s Beverages",
  'Victoria Ashworth',
  'Fauntleroy Circus',
  'London',
  'EC2 5NT',
  'UK'),
 (12,
  'Cactus Comidas para llevar',
  'Patricio Simpson',
  'Cerrito 333',
  'Buenos Aires',
  '1010',
  'Argentina'),
 (13,
  'Centro comercial Moctezuma',
  'Francisco Chang',
  'Sierras de Granada 9993',
  'México D.F.',
  '5022',
  'Mexico'),
 (14,
  'Chop-suey Chinese',
  'Yang Wang',
  'Hauptstr. 29',
  'Bern',
  '3012',
  'Switzerland'),
 (15,
  'Comércio Mineiro',
  'Pedro Afonso',
  'Av. dos Lusíadas, 23',
  'São Paulo',
  '05432-043',
  'Brazil'),
 (16,
  'Consolidated Holdings',
  'Elizabeth Brown',
  'Berkeley Gardens 12 Brewery',
  'London',
  'WX1 6LT',
  'UK'),
 (17,
  'Drachenblut Delikatessend',
  'Sven Ottlieb',
  'Walserweg 21',
  'Aachen',
  '52066',
  'Germany'),
 (18,
  'Du monde entier',
  'Janine Labrune',
  '67, rue des Cinquante Otages',
  'Nantes',
  '44000',
  'France'),
 (19,
  'Eastern Connection',
  'Ann Devon',
  '35 King George',
  'London',
  'WX3 6FW',
  'UK'),
 (20,
  'Ernst Handel',
  'Roland Mendel',
  'Kirchgasse 6',
  'Graz',
  '8010',
  'Austria'),
 (21,
  'Familia Arquibaldo',
  'Aria Cruz',
  'Rua Orós, 92',
  'São Paulo',
  '05442-030',
  'Brazil'),
 (22,
  'FISSA Fabrica Inter. Salchichas S.A.',
  'Diego Roel',
  'C/ Moralzarzal, 86',
  'Madrid',
  '28034',
  'Spain'),
 (23,
  'Folies gourmandes',
  'Martine Rancé',
  '184, chaussée de Tournai',
  'Lille',
  '59000',
  'France'),
 (24,
  'Folk och fä HB',
  'Maria Larsson',
  'Åkergatan 24',
  'Bräcke',
  'S-844 67',
  'Sweden'),
 (25,
  'Frankenversand',
  'Peter Franken',
  'Berliner Platz 43',
  'München',
  '80805',
  'Germany'),
 (26,
  'France restauration',
  'Carine Schmitt',
  '54, rue Royale',
  'Nantes',
  '44000',
  'France'),
 (27,
  'Franchi S.p.A.',
  'Paolo Accorti',
  'Via Monte Bianco 34',
  'Torino',
  '10100',
  'Italy'),
 (28,
  'Furia Bacalhau e Frutos do Mar',
  'Lino Rodriguez',
  'Jardim das rosas n. 32',
  'Lisboa',
  '1675',
  'Portugal'),
 (29,
  'Galería del gastrónomo',
  'Eduardo Saavedra',
  'Rambla de Cataluña, 23',
  'Barcelona',
  '8022',
  'Spain'),
 (30,
  'Godos Cocina Típica',
  'José Pedro Freyre',
  'C/ Romero, 33',
  'Sevilla',
  '41101',
  'Spain'),
 (31,
  'Gourmet Lanchonetes',
  'André Fonseca',
  'Av. Brasil, 442',
  'Campinas',
  '04876-786',
  'Brazil'),
 (32,
  'Great Lakes Food Market',
  'Howard Snyder',
  '2732 Baker Blvd.',
  'Eugene',
  '97403',
  'USA'),
 (33,
  'GROSELLA-Restaurante',
  'Manuel Pereira',
  '5ª Ave. Los Palos Grandes',
  'Caracas',
  '1081',
  'Venezuela'),
 (34,
  'Hanari Carnes',
  'Mario Pontes',
  'Rua do Paço, 67',
  'Rio de Janeiro',
  '05454-876',
  'Brazil'),
 (35,
  'HILARIÓN-Abastos',
  'Carlos Hernández',
  'Carrera 22 con Ave. Carlos Soublette #8-35',
  'San Cristóbal',
  '5022',
  'Venezuela'),
 (36,
  'Hungry Coyote Import Store',
  'Yoshi Latimer',
  'City Center Plaza 516 Main St.',
  'Elgin',
  '97827',
  'USA'),
 (37,
  'Hungry Owl All-Night Grocers',
  'Patricia McKenna',
  '8 Johnstown Road',
  'Cork',
  '',
  'Ireland'),
 (38,
  'Island Trading',
  'Helen Bennett',
  'Garden House Crowther Way',
  'Cowes',
  'PO31 7PJ',
  'UK'),
 (39,
  'Königlich Essen',
  'Philip Cramer',
  'Maubelstr. 90',
  'Brandenburg',
  '14776',
  'Germany'),
 (40,
  "La corne d''abondance",
  'Daniel Tonini',
  "67, avenue de l''Europe",
  'Versailles',
  '78000',
  'France'),
 (41,
  "La maison d''Asie",
  'Annette Roulet',
  '1 rue Alsace-Lorraine',
  'Toulouse',
  '31000',
  'France'),
 (42,
  'Laughing Bacchus Wine Cellars',
  'Yoshi Tannamuri',
  '1900 Oak St.',
  'Vancouver',
  'V3F 2K1',
  'Canada'),
 (43,
  'Lazy K Kountry Store',
  'John Steel',
  '12 Orchestra Terrace',
  'Walla Walla',
  '99362',
  'USA'),
 (44,
  'Lehmanns Marktstand',
  'Renate Messner',
  'Magazinweg 7',
  'Frankfurt a.M.',
  '60528',
  'Germany'),
 (45,
  "Let''s Stop N Shop",
  'Jaime Yorres',
  '87 Polk St. Suite 5',
  'San Francisco',
  '94117',
  'USA'),
 (46,
  'LILA-Supermercado',
  'Carlos González',
  'Carrera 52 con Ave. Bolívar #65-98 Llano Largo',
  'Barquisimeto',
  '3508',
  'Venezuela'),
 (47,
  'LINO-Delicateses',
  'Felipe Izquierdo',
  'Ave. 5 de Mayo Porlamar',
  'I. de Margarita',
  '4980',
  'Venezuela'),
 (48,
  'Lonesome Pine Restaurant',
  'Fran Wilson',
  '89 Chiaroscuro Rd.',
  'Portland',
  '97219',
  'USA'),
 (49,
  'Magazzini Alimentari Riuniti',
  'Giovanni Rovelli',
  'Via Ludovico il Moro 22',
  'Bergamo',
  '24100',
  'Italy'),
 (50,
  'Maison Dewey',
  'Catherine Dewey',
  'Rue Joseph-Bens 532',
  'Bruxelles',
  'B-1180',
  'Belgium'),
 (51,
  'Mère Paillarde',
  'Jean Fresnière',
  '43 rue St. Laurent',
  'Montréal',
  'H1J 1C3',
  'Canada'),
 (52,
  'Morgenstern Gesundkost',
  'Alexander Feuer',
  'Heerstr. 22',
  'Leipzig',
  '4179',
  'Germany'),
 (53,
  'North/South',
  'Simon Crowther',
  'South House 300 Queensbridge',
  'London',
  'SW7 1RZ',
  'UK'),
 (54,
  'Océano Atlántico Ltda.',
  'Yvonne Moncada',
  'Ing. Gustavo Moncada 8585 Piso 20-A',
  'Buenos Aires',
  '1010',
  'Argentina'),
 (55,
  'Old World Delicatessen',
  'Rene Phillips',
  '2743 Bering St.',
  'Anchorage',
  '99508',
  'USA'),
 (56,
  'Ottilies Käseladen',
  'Henriette Pfalzheim',
  'Mehrheimerstr. 369',
  'Köln',
  '50739',
  'Germany'),
 (57,
  'Paris spécialités',
  'Marie Bertrand',
  '265, boulevard Charonne',
  'Paris',
  '75012',
  'France'),
 (58,
  'Pericles Comidas clásicas',
  'Guillermo Fernández',
  'Calle Dr. Jorge Cash 321',
  'México D.F.',
  '5033',
  'Mexico'),
 (59,
  'Piccolo und mehr',
  'Georg Pipps',
  'Geislweg 14',
  'Salzburg',
  '5020',
  'Austria'),
 (60,
  'Princesa Isabel Vinhoss',
  'Isabel de Castro',
  'Estrada da saúde n. 58',
  'Lisboa',
  '1756',
  'Portugal'),
 (61,
  'Que Delícia',
  'Bernardo Batista',
  'Rua da Panificadora, 12',
  'Rio de Janeiro',
  '02389-673',
  'Brazil'),
 (62,
  'Queen Cozinha',
  'Lúcia Carvalho',
  'Alameda dos Canàrios, 891',
  'São Paulo',
  '05487-020',
  'Brazil'),
 (63,
  'QUICK-Stop',
  'Horst Kloss',
  'Taucherstraße 10',
  'Cunewalde',
  '1307',
  'Germany'),
 (64,
  'Rancho grande',
  'Sergio Gutiérrez',
  'Av. del Libertador 900',
  'Buenos Aires',
  '1010',
  'Argentina'),
 (65,
  'Rattlesnake Canyon Grocery',
  'Paula Wilson',
  '2817 Milton Dr.',
  'Albuquerque',
  '87110',
  'USA'),
 (66,
  'Reggiani Caseifici',
  'Maurizio Moroni',
  'Strada Provinciale 124',
  'Reggio Emilia',
  '42100',
  'Italy'),
 (67,
  'Ricardo Adocicados',
  'Janete Limeira',
  'Av. Copacabana, 267',
  'Rio de Janeiro',
  '02389-890',
  'Brazil'),
 (68,
  'Richter Supermarkt',
  'Michael Holz',
  'Grenzacherweg 237',
  'Genève',
  '1203',
  'Switzerland'),
 (69,
  'Romero y tomillo',
  'Alejandra Camino',
  'Gran Vía, 1',
  'Madrid',
  '28001',
  'Spain'),
 (70,
  'Santé Gourmet',
  'Jonas Bergulfsen',
  'Erling Skakkes gate 78',
  'Stavern',
  '4110',
  'Norway'),
 (71,
  'Save-a-lot Markets',
  'Jose Pavarotti',
  '187 Suffolk Ln.',
  'Boise',
  '83720',
  'USA'),
 (72,
  'Seven Seas Imports',
  'Hari Kumar',
  '90 Wadhurst Rd.',
  'London',
  'OX15 4NB',
  'UK'),
 (73,
  'Simons bistro',
  'Jytte Petersen',
  'Vinbæltet 34',
  'København',
  '1734',
  'Denmark'),
 (74,
  'Spécialités du monde',
  'Dominique Perrier',
  '25, rue Lauriston',
  'Paris',
  '75016',
  'France'),
 (75,
  'Split Rail Beer & Ale',
  'Art Braunschweiger',
  'P.O. Box 555',
  'Lander',
  '82520',
  'USA'),
 (76,
  'Suprêmes délices',
  'Pascale Cartrain',
  'Boulevard Tirou, 255',
  'Charleroi',
  'B-6000',
  'Belgium'),
 (77,
  'The Big Cheese',
  'Liz Nixon',
  '89 Jefferson Way Suite 2',
  'Portland',
  '97201',
  'USA'),
 (78,
  'The Cracker Box',
  'Liu Wong',
  '55 Grizzly Peak Rd.',
  'Butte',
  '59801',
  'USA'),
 (79,
  'Toms Spezialitäten',
  'Karin Josephs',
  'Luisenstr. 48',
  'Münster',
  '44087',
  'Germany'),
 (80,
  'Tortuga Restaurante',
  'Miguel Angel Paolino',
  'Avda. Azteca 123',
  'México D.F.',
  '5033',
  'Mexico'),
 (81,
  'Tradição Hipermercados',
  'Anabela Domingues',
  'Av. Inês de Castro, 414',
  'São Paulo',
  '05634-030',
  'Brazil'),
 (82,
  "Trail''s Head Gourmet Provisioners",
  'Helvetius Nagy',
  '722 DaVinci Blvd.',
  'Kirkland',
  '98034',
  'USA'),
 (83,
  'Vaffeljernet',
  'Palle Ibsen',
  'Smagsløget 45',
  'Århus',
  '8200',
  'Denmark'),
 (84,
  'Victuailles en stock',
  'Mary Saveley',
  '2, rue du Commerce',
  'Lyon',
  '69004',
  'France'),
 (85,
  'Vins et alcools Chevalier',
  'Paul Henriot',
  "59 rue de l''Abbaye",
  'Reims',
  '51100',
  'France'),
 (86,
  'Die Wandernde Kuh',
  'Rita Müller',
  'Adenauerallee 900',
  'Stuttgart',
  '70563',
  'Germany'),
 (87,
  'Wartian Herkku',
  'Pirkko Koskitalo',
  'Torikatu 38',
  'Oulu',
  '90110',
  'Finland'),
 (88,
  'Wellington Importadora',
  'Paula Parente',
  'Rua do Mercado, 12',
  'Resende',
  '08737-363',
  'Brazil'),
 (89,
  'White Clover Markets',
  'Karl Jablonski',
  '305 - 14th Ave. S. Suite 3B',
  'Seattle',
  '98128',
  'USA'),
 (90,
  'Wilman Kala',
  'Matti Karttunen',
  'Keskuskatu 45',
  'Helsinki',
  '21240',
  'Finland'),
 (91, 'Wolski', 'Zbyszek', 'ul. Filtrowa 68', 'Walla', '01-012', 'Poland')]

위의 예시문 역시도 모든 질문에 " OR "" = "을 대입하면 데이터 베이스의 모든 정보를 뽑아올 수 있다.

혹은 악의적으로 ;, 세미콜론을 붙여서 쿼리문을 마무리하고 원하는 쿼리문을 붙일수도 있다. 예를 들면 DROP TABLE ~~~. 내부 테이블 이름을 알아야만 가능한 방법이지만 가능성은 열려있다.

따라서 보호를 위한 매개변수를 이용해야 한다. 여러가지 방법이 있지만 맨 위의 sendQueryWithData함수가 예시가 될 수 있다. 다시 가져와 보겠다.

In [ ]:
def sendQueryWithData(sql, data):
    try:
        with sqlite3.connect(database) as conn:
            cursor = conn.cursor()
            for date in data:
                cursor.execute(sql, date)
            conn.commit()
        
        return cursor.fetchall()
        
    except sqlite3.Error as e:
        print(e)

sql = """INSERT INTO TestTable(LastName, FirstName, Age)
         VALUES (?,?,?)"""
data = [["kim","babo", 26], ["Lee","Jeongsang", 67], ["Park", "Daegi", 40]]
sendQueryWithData(sql, data)

위와 같이 쿼리문을 ?로 뚫어놓고 데이터를 주면 알아서 채워주는 형태이다. 이런 식으로 하면 문자열로 처리해서 sql injection에서 보다 안전할 수 있다.