# Making Database
sqlite서버와 연결 후 Demo Database는 같은 디렉토리에 있는 Northwind.db로 합니다.

## base Variables and functions

In [ ]:
import sqlite3

In [ ]:
!pwd
!rm Northwind.db
!cp Northwind_Ori.db Northwind.db
!ls

In [ ]:
#database = 'my.db'
database = 'Northwind.db'
def sendQuery(sql):
    try:
        with sqlite3.connect(database) as conn:
            cursor = conn.cursor()
            cursor.execute(sql)
            conn.commit()
            return cursor.fetchall()
        
    except sqlite3.Error as e:
        print(e)

def sendQueryWithData(sql, data):
    try:
        with sqlite3.connect(database) as conn:
            cursor = conn.cursor()
            for date in data:
                cursor.execute(sql, date)
            conn.commit()
            return cursor.fetchall()
        
    except sqlite3.Error as e:
        print(e)

# main tutorials

## SELECT
SELECT는 원하는 테이블에서 원하는 Column에 해당하는 데이터를 반환하는 쿼리문이다.

In [ ]:
sql = "SELECT * FROM Customers;"
sendQuery(sql)

In [ ]:
sql = "SELECT CustomerName, City FROM Customers;"
sendQuery(sql)

In [ ]:
sql = "SELECT DISTINCT Country FROM Customers;"
sendQuery(sql)

In [ ]:
sql = "SELECT Country FROM Customers;"
sendQuery(sql)

DISTINCT는 처음본다. 실행해보면 중복되는 데이터는 지우고 준다는 것을 알 수 있다.

## WHERE
조건을 거는 구문이다.

In [ ]:
sql = "SELECT * FROM Customers WHERE Country='Mexico';"
sendQuery(sql)

In [ ]:
sql = """SELECT * FROM Customers
         WHERE CustomerID=1;"""
sendQuery(sql)

In [ ]:
sql = """SELECT * FROM Customers
         WHERE CustomerID > 80;"""
sendQuery(sql)

WHERE과 쓰일 수 있는 연산자는 =, >, <, >=, <=, <>, BETWEEN, LIKE, IN이 있다.

## ORDER BY
ORDER BY는 데이터를 정렬해주는 쿼리문이다.

In [ ]:
sql = "SELECT * FROM Products ORDER BY Price;"
sendQuery(sql)

In [ ]:
sql = "SELECT * FROM Products ORDER BY Price DESC;"
sendQuery(sql)

In [ ]:
sql = "SELECT * FROM Customers ORDER BY Country, CustomerName;"
sendQuery(sql)

In [ ]:
sql = "SELECT * FROM Customers ORDER BY Country ASC, CustomerName DESC;"
sendQuery(sql)

특징으로는 ASC, DESC를 뒤에 써줄 수 있다. 숫자뿐만 아니라 알파벳 문자열에도 사용 가능하며, 여러 column을 붙이면 맨 처음 입력한 칼럼부터 우선순위를 가지고 정렬한다.

## AND / OR / NOT
논리 연산자이다. AND, OR는 각 논리식을 연결하는데 사용된다. NOT은 이미 논리연산을 한 조건을 뒤집을 때 사용한다.

In [ ]:
sql = """ SELECT *
          FROM Customers
          WHERE Country = 'Spain' AND CustomerName Like 'G%'; """
sendQuery(sql)

In [ ]:
sql = """ SELECT *
          FROM Customers
          WHERE Country = 'Spain' OR Country = 'Germany'; """
sendQuery(sql)

In [ ]:
sql = """ SELECT DISTINCT Country FROM Customers
          WHERE NOT Country = 'Spain';"""
sendQuery(sql)

AND OR NOT을 섞어 쓸 수 있다. 연산자 우선순위는 AND가 OR보다 높다. NOT은 대부분의 경우에 연산자로 대체가 가능하다. 또, LIKE, BETWEEN, IN 앞에도 쓸 수 있다

## INSERT INTO
Table에 row를 추가하는 구문이다.

In [ ]:
sql = """ INSERT INTO Customers (CustomerName, ContactName, Address, City, PostalCode, Country)
VALUES ('Cardinal', 'Tom B. Erichsen', 'Skagen 21', 'Stavanger', '4006', 'Norway'); """
sendQuery(sql)

In [ ]:
sql = "SELECT * FROM Customers WHERE CustomerName='Cardinal';"
sendQuery(sql)

Cardinal씨가 리스트에 잘 추가되었다.

## NUlL, IS NULL, IS NOT NULL
NULL 값은 아무 것도 입력이 안된 값이다.

In [ ]:
sql = """SELECT CustomerName, ContactName, Address
         FROM Customers
         WHERE Address IS NULL;"""
sendQuery(sql)

In [ ]:
sql = """SELECT CustomerName, ContactName, Address
         FROM Customers
         WHERE Address IS NOT NULL;"""
sendQuery(sql)

Customer 테이블에 주소가 등록되지 않은 사람은 아무도 없는 모양이다.

## UPDATE
데이터 값을 바꾸는(갱신하는) 쿼리문이다.

In [ ]:
sql = """UPDATE Customers
         SET ContactName = 'Alfred Schmidt', City= 'Frankfurt'
         WHERE CustomerID = 1;"""
sendQuery(sql)

In [ ]:
sql = """SELECT *
         FROM Customers
         WHERE CustomerID = 1;"""
sendQuery(sql)

알프레드씨의 정보가 잘 업데이트 되었다. UPDATE를 쓸 때는 WHERE로 조건을 꼭 걸어주자. 그렇지 않으면 모든 데이터가 업데이트 될 수 있다.

## DELETE, DROP
무언가를 삭제하는 쿼리문이다. 이하는 예문이다. 이하는 실행하지 않는 것을 추천한다. 다음에도 계속해서 Customer를 사용한다.

In [ ]:
#sql = "DELETE FROM Customers WHERE CustomerName='Alfreds Futterkiste';"
sendQuery(sql)

In [ ]:
#sql = "SELECT CustomerName FROM Customers;"
sendQuery(sql)

In [ ]:
#sql = "DELETE FROM Customers;"
sendQuery(sql)

In [ ]:
#sql = "DROP TABLE Customers;"
sendQuery(sql)

WHERE 조건문을 꼭 달자. 안그럼 테이블 전체가 다 지워진다.

## TOP, LIMIT, FETCH FIRST, ROWNUM
맨 위의 몇개의 row만 가져오게 제한을 거는 구문이다

In [ ]:
#sql = "SELECT TOP 3 * FROM Customers;"
sql = "SELECT * FROM Customers LIMIT 3;"
#sql = "SELECT * FROM Customers FETCH FIRST 3 ONLY;"
sendQuery(sql)

sql = "SELECT TOP 3 * FROM Customers;"
sql = "SELECT * FROM Customers LIMIT 3;"
sql = "SELECT * FROM Customers FETCH FIRST 3;"
다 같은 내용의 쿼리문이지만 두번째 LIMIT만 작동을 한다. 추측해보건데 PERCENT를 막기 위해 이렇게 된것이 아닐까 싶다.

In [ ]:
sql = """SELECT * FROM Customers LIMIT 3
         ORDER BY CustomerName DESC;"""
sendQuery(sql)

In [ ]:
sql = """SELECT * FROM Customers
         ORDER BY CustomerName DESC
         LIMIT 3;"""
sendQuery(sql)

sql = "SELECT * FROM Customers LIMIT 3 ORDER BY CustomerName DESC;"가 되지 않았다. LIMIT로 조금 받아온 데이터를 정렬하고 싶으면 어떻게 해야 하는가? 라는 질문이 생긴다.

## Aggregate Functions

### MIN, MAX (AS, GROUP BY)
지정한 Column의 최대, 최소를 반환한다.

In [ ]:
sql = "SELECT MIN(Price) FROM Products"
sendQuery(sql)

In [ ]:
sql = "SELECT MAX(Price) FROM Products"
sendQuery(sql)

In [ ]:
sendQuery("""SELECT MIN(Price) AS SmallestPrice, CategoryID
             FROM Products;
             GROUP BY CategoryID;""")

AS와 GROUP BY가 등장했다. AS는 TABLE의 칼럼 레이블을 원하는 다른 이름으로 바꿔서 SELECT의 결과로 보내주는 역할을 한다. 또한 Group by는 pandas의 그것과 같이 같은 값을 가진 row끼리 모아서 연산시키는 함수이다.

### COUNT
엑셀의 count 함수처럼 개수를 세준다

In [ ]:
sql = "SELECT COUNT(*) FROM Products"
sendQuery(sql)

where함수와 적절이 섞어 쓰면 엑셀의 countif함수처럼 사용할 수 있다.

### SUM

In [ ]:
sql = "SELECT SUM(Quantity) FROM OrderDetails;"
sendQuery(sql)

In [ ]:
sql = "SELECT OrderID, SUM(Quantity) AS [Total Quantity] FROM OrderDetails GROUP BY OrderID;"
sendQuery(sql)

In [ ]:
sql = """SELECT SUM(Price * Quantity)
FROM OrderDetails
LEFT JOIN Products ON OrderDetails.ProductID = Products.ProductID;"""
sendQuery(sql)

Where을 섞어 쓰면 sumif함수를 엑셀에서 쓰듯이 쓸 수 있고, GROUP BY를 이용하면 같은 값에 대한 다른 칼럼의 합을 구할 수 있다.

### AVG
말 그대로 평균을 구하는 함수이다.

In [ ]:
sql = "SELECT AVG(Price) FROM Products;"
sendQuery(sql)

In [ ]:
sql = "SELECT * FROM Products WHERE price > (SELECT AVG(price) FROM Products);"
sendQuery(sql)

sum과 마찬가지로 where과 같이 쓰면 조건에 부합하는 데이터의 평균이 구해지고, group by를 쓰면 해당 값과 동일한 값끼리 평균을 구하는 연산을 하게 된다. 특이한 쓰임세로는 where문 내부에 avg를 넣어서 평균보다 높은/낮은 값을 갖는 데이터를 불러올수도 있다.

## LIKE, wild card
정규 표현문을 사용하듯이 쓸 수 있는 키워드이다

In [ ]:
sql = "SELECT * FROM Customers WHERE CustomerName LIKE 'a%';"
sendQuery(sql)

이 키워드를 잘 쓰기 위해선 와일드카드를 잘 알아야 한다. 

* _는 해당 위치에 아무 문자나 와도 된다는 의미이다.
* %는 해당 위치에는 임의 길이를 갖는 문자열이 들어가도 된다는 의미이다.

## IN
WHERE과 함께 쓰여서 복수의 조건을 한번에 나타내기 위해 쓰인다.

In [ ]:
sql = "SELECT * FROM Customers WHERE Country IN ('Germany', 'France', 'UK');"
sendQuery(sql)

In [ ]:
sql = "SELECT * FROM Customers WHERE CustomerID IN (SELECT CustomerID FROM Orders);"
sendQuery(sql)

NOT과 함께 쓰여서 부정을 취할수도 있고 내부 조건으로 다른 SELECT의 결과를 줄 수도 있다.

## BETWEEN
범위를 결정하는 키워드이다. 숫자뿐 아니라 문자열 날짜에도 사용가능하다.

In [ ]:
sql = "SELECT * FROM Products WHERE Price BETWEEN 10 AND 20;"
sendQuery(sql)

In [ ]:
sql = """SELECT * FROM Products
         WHERE ProductName BETWEEN 'Carnarvon Tigers' AND 'Mozzarella di Giovanni'
         ORDER BY ProductName;"""
sendQuery(sql)

In [ ]:
sql = "SELECT * FROM Orders WHERE OrderDate BETWEEN '1996-07-01' AND '1996-07-31';"
sendQuery(sql)

## AS (Aliases)
테이블에서 불러오고자 하는 데이터의 column과 내가 다루고자 하는 데이터의 column이 다를 때 요긴하게 쓰인다. 쓰고자 하는 데이터 명에 스페이스 바, 공백문자가 들어가면 대괄호로 쳐서 해결하던가, 큰ㅈ따오포를 쳐서 해결해야 한다.

In [185]:
sql = "SELECT CustomerID AS ID, CustomerName AS Customer FROM Customers;"
sendQuery(sql)

[(1, 'Alfreds Futterkiste'),
 (2, 'Ana Trujillo Emparedados y helados'),
 (3, 'Antonio Moreno Taquería'),
 (4, 'Around the Horn'),
 (5, 'Berglunds snabbköp'),
 (6, 'Blauer See Delikatessen'),
 (7, 'Blondel père et fils'),
 (8, 'Bólido Comidas preparadas'),
 (9, "Bon app''"),
 (10, 'Bottom-Dollar Marketse'),
 (11, "B''s Beverages"),
 (12, 'Cactus Comidas para llevar'),
 (13, 'Centro comercial Moctezuma'),
 (14, 'Chop-suey Chinese'),
 (15, 'Comércio Mineiro'),
 (16, 'Consolidated Holdings'),
 (17, 'Drachenblut Delikatessend'),
 (18, 'Du monde entier'),
 (19, 'Eastern Connection'),
 (20, 'Ernst Handel'),
 (21, 'Familia Arquibaldo'),
 (22, 'FISSA Fabrica Inter. Salchichas S.A.'),
 (23, 'Folies gourmandes'),
 (24, 'Folk och fä HB'),
 (25, 'Frankenversand'),
 (26, 'France restauration'),
 (27, 'Franchi S.p.A.'),
 (28, 'Furia Bacalhau e Frutos do Mar'),
 (29, 'Galería del gastrónomo'),
 (30, 'Godos Cocina Típica'),
 (31, 'Gourmet Lanchonetes'),
 (32, 'Great Lakes Food Market'),
 (33, 'GROSELLA-Restaurante'),
 (34, 'Hanari Carnes'),
 (35, 'HILARIÓN-Abastos'),
 (36, 'Hungry Coyote Import Store'),
 (37, 'Hungry Owl All-Night Grocers'),
 (38, 'Island Trading'),
 (39, 'Königlich Essen'),
 (40, "La corne d''abondance"),
 (41, "La maison d''Asie"),
 (42, 'Laughing Bacchus Wine Cellars'),
 (43, 'Lazy K Kountry Store'),
 (44, 'Lehmanns Marktstand'),
 (45, "Let''s Stop N Shop"),
 (46, 'LILA-Supermercado'),
 (47, 'LINO-Delicateses'),
 (48, 'Lonesome Pine Restaurant'),
 (49, 'Magazzini Alimentari Riuniti'),
 (50, 'Maison Dewey'),
 (51, 'Mère Paillarde'),
 (52, 'Morgenstern Gesundkost'),
 (53, 'North/South'),
 (54, 'Océano Atlántico Ltda.'),
 (55, 'Old World Delicatessen'),
 (56, 'Ottilies Käseladen'),
 (57, 'Paris spécialités'),
 (58, 'Pericles Comidas clásicas'),
 (59, 'Piccolo und mehr'),
 (60, 'Princesa Isabel Vinhoss'),
 (61, 'Que Delícia'),
 (62, 'Queen Cozinha'),
 (63, 'QUICK-Stop'),
 (64, 'Rancho grande'),
 (65, 'Rattlesnake Canyon Grocery'),
 (66, 'Reggiani Caseifici'),
 (67, 'Ricardo Adocicados'),
 (68, 'Richter Supermarkt'),
 (69, 'Romero y tomillo'),
 (70, 'Santé Gourmet'),
 (71, 'Save-a-lot Markets'),
 (72, 'Seven Seas Imports'),
 (73, 'Simons bistro'),
 (74, 'Spécialités du monde'),
 (75, 'Split Rail Beer & Ale'),
 (76, 'Suprêmes délices'),
 (77, 'The Big Cheese'),
 (78, 'The Cracker Box'),
 (79, 'Toms Spezialitäten'),
 (80, 'Tortuga Restaurante'),
 (81, 'Tradição Hipermercados'),
 (82, "Trail''s Head Gourmet Provisioners"),
 (83, 'Vaffeljernet'),
 (84, 'Victuailles en stock'),
 (85, 'Vins et alcools Chevalier'),
 (86, 'Die Wandernde Kuh'),
 (87, 'Wartian Herkku'),
 (88, 'Wellington Importadora'),
 (89, 'White Clover Markets'),
 (90, 'Wilman Kala'),
 (91, 'Wolski')]

In [187]:
#sql ="SELECT ProductName AS [My Great Products] FROM Products;"
sql ="SELECT ProductName AS "My Great Products" FROM Products;"
sendQuery(sql)

[('Chais',),
 ('Chang',),
 ('Aniseed Syrup',),
 ("Chef Anton's Cajun Seasoning",),
 ("Chef Anton's Gumbo Mix",),
 ("Grandma's Boysenberry Spread",),
 ("Uncle Bob's Organic Dried Pears",),
 ('Northwoods Cranberry Sauce',),
 ('Mishi Kobe Niku',),
 ('Ikura',),
 ('Queso Cabrales',),
 ('Queso Manchego La Pastora',),
 ('Konbu',),
 ('Tofu',),
 ('Genen Shouyu',),
 ('Pavlova',),
 ('Alice Mutton',),
 ('Carnarvon Tigers',),
 ('Teatime Chocolate Biscuits',),
 ("Sir Rodney's Marmalade",),
 ("Sir Rodney's Scones",),
 ("Gustaf's Knäckebröd",),
 ('Tunnbröd',),
 ('Guaraná Fantástica',),
 ('NuNuCa Nuß-Nougat-Creme',),
 ('Gumbär Gummibärchen',),
 ('Schoggi Schokolade',),
 ('Rössle Sauerkraut',),
 ('Thüringer Rostbratwurst',),
 ('Nord-Ost Matjeshering',),
 ('Gorgonzola Telino',),
 ('Mascarpone Fabioli',),
 ('Geitost',),
 ('Sasquatch Ale',),
 ('Steeleye Stout',),
 ('Inlagd Sill',),
 ('Gravad lax',),
 ('Côte de Blaye',),
 ('Chartreuse verte',),
 ('Boston Crab Meat',),
 ("Jack's New England Clam Chowder",),
 ('Singaporean Hokkien Fried Mee',),
 ('Ipoh Coffee',),
 ('Gula Malacca',),
 ('Røgede sild',),
 ('Spegesild',),
 ('Zaanse koeken',),
 ('Chocolade',),
 ('Maxilaku',),
 ('Valkoinen suklaa',),
 ('Manjimup Dried Apples',),
 ('Filo Mix',),
 ('Perth Pasties',),
 ('Tourtière',),
 ('Pâté chinois',),
 ('Gnocchi di nonna Alice',),
 ('Ravioli Angelo',),
 ('Escargots de Bourgogne',),
 ('Raclette Courdavault',),
 ('Camembert Pierrot',),
 ("Sirop d'érable",),
 ('Tarte au sucre',),
 ('Vegie-spread',),
 ('Wimmers gute Semmelknödel',),
 ('Louisiana Fiery Hot Pepper Sauce',),
 ('Louisiana Hot Spiced Okra',),
 ('Laughing Lumberjack Lager',),
 ('Scottish Longbreads',),
 ('Gudbrandsdalsost',),
 ('Outback Lager',),
 ('Fløtemysost',),
 ('Mozzarella di Giovanni',),
 ('Röd Kaviar',),
 ('Longlife Tofu',),
 ('Rhönbräu Klosterbier',),
 ('Lakkalikööri',),
 ('Original Frankfurter grüne Soße',)]

Table에도 가능하다.

In [190]:
sql = "SELECT * FROM Customers AS Persons;"
sendQuery(sql)

[(1,
  'Alfreds Futterkiste',
  'Maria Anders',
  'Obere Str. 57',
  'Berlin',
  '12209',
  'Germany'),
 (2,
  'Ana Trujillo Emparedados y helados',
  'Ana Trujillo',
  'Avda. de la Constitución 2222',
  'México D.F.',
  '5021',
  'Mexico'),
 (3,
  'Antonio Moreno Taquería',
  'Antonio Moreno',
  'Mataderos 2312',
  'México D.F.',
  '5023',
  'Mexico'),
 (4,
  'Around the Horn',
  'Thomas Hardy',
  '120 Hanover Sq.',
  'London',
  'WA1 1DP',
  'UK'),
 (5,
  'Berglunds snabbköp',
  'Christina Berglund',
  'Berguvsvägen 8',
  'Luleå',
  'S-958 22',
  'Sweden'),
 (6,
  'Blauer See Delikatessen',
  'Hanna Moos',
  'Forsterstr. 57',
  'Mannheim',
  '68306',
  'Germany'),
 (7,
  'Blondel père et fils',
  'Frédérique Citeaux',
  '24, place Kléber',
  'Strasbourg',
  '67000',
  'France'),
 (8,
  'Bólido Comidas preparadas',
  'Martín Sommer',
  'C/ Araquil, 67',
  'Madrid',
  '28023',
  'Spain'),
 (9,
  "Bon app''",
  'Laurence Lebihans',
  '12, rue des Bouchers',
  'Marseille',
  '13008',
  'France'),
 (10,
  'Bottom-Dollar Marketse',
  'Elizabeth Lincoln',
  '23 Tsawassen Blvd.',
  'Tsawassen',
  'T2F 8M4',
  'Canada'),
 (11,
  "B''s Beverages",
  'Victoria Ashworth',
  'Fauntleroy Circus',
  'London',
  'EC2 5NT',
  'UK'),
 (12,
  'Cactus Comidas para llevar',
  'Patricio Simpson',
  'Cerrito 333',
  'Buenos Aires',
  '1010',
  'Argentina'),
 (13,
  'Centro comercial Moctezuma',
  'Francisco Chang',
  'Sierras de Granada 9993',
  'México D.F.',
  '5022',
  'Mexico'),
 (14,
  'Chop-suey Chinese',
  'Yang Wang',
  'Hauptstr. 29',
  'Bern',
  '3012',
  'Switzerland'),
 (15,
  'Comércio Mineiro',
  'Pedro Afonso',
  'Av. dos Lusíadas, 23',
  'São Paulo',
  '05432-043',
  'Brazil'),
 (16,
  'Consolidated Holdings',
  'Elizabeth Brown',
  'Berkeley Gardens 12 Brewery',
  'London',
  'WX1 6LT',
  'UK'),
 (17,
  'Drachenblut Delikatessend',
  'Sven Ottlieb',
  'Walserweg 21',
  'Aachen',
  '52066',
  'Germany'),
 (18,
  'Du monde entier',
  'Janine Labrune',
  '67, rue des Cinquante Otages',
  'Nantes',
  '44000',
  'France'),
 (19,
  'Eastern Connection',
  'Ann Devon',
  '35 King George',
  'London',
  'WX3 6FW',
  'UK'),
 (20,
  'Ernst Handel',
  'Roland Mendel',
  'Kirchgasse 6',
  'Graz',
  '8010',
  'Austria'),
 (21,
  'Familia Arquibaldo',
  'Aria Cruz',
  'Rua Orós, 92',
  'São Paulo',
  '05442-030',
  'Brazil'),
 (22,
  'FISSA Fabrica Inter. Salchichas S.A.',
  'Diego Roel',
  'C/ Moralzarzal, 86',
  'Madrid',
  '28034',
  'Spain'),
 (23,
  'Folies gourmandes',
  'Martine Rancé',
  '184, chaussée de Tournai',
  'Lille',
  '59000',
  'France'),
 (24,
  'Folk och fä HB',
  'Maria Larsson',
  'Åkergatan 24',
  'Bräcke',
  'S-844 67',
  'Sweden'),
 (25,
  'Frankenversand',
  'Peter Franken',
  'Berliner Platz 43',
  'München',
  '80805',
  'Germany'),
 (26,
  'France restauration',
  'Carine Schmitt',
  '54, rue Royale',
  'Nantes',
  '44000',
  'France'),
 (27,
  'Franchi S.p.A.',
  'Paolo Accorti',
  'Via Monte Bianco 34',
  'Torino',
  '10100',
  'Italy'),
 (28,
  'Furia Bacalhau e Frutos do Mar',
  'Lino Rodriguez',
  'Jardim das rosas n. 32',
  'Lisboa',
  '1675',
  'Portugal'),
 (29,
  'Galería del gastrónomo',
  'Eduardo Saavedra',
  'Rambla de Cataluña, 23',
  'Barcelona',
  '8022',
  'Spain'),
 (30,
  'Godos Cocina Típica',
  'José Pedro Freyre',
  'C/ Romero, 33',
  'Sevilla',
  '41101',
  'Spain'),
 (31,
  'Gourmet Lanchonetes',
  'André Fonseca',
  'Av. Brasil, 442',
  'Campinas',
  '04876-786',
  'Brazil'),
 (32,
  'Great Lakes Food Market',
  'Howard Snyder',
  '2732 Baker Blvd.',
  'Eugene',
  '97403',
  'USA'),
 (33,
  'GROSELLA-Restaurante',
  'Manuel Pereira',
  '5ª Ave. Los Palos Grandes',
  'Caracas',
  '1081',
  'Venezuela'),
 (34,
  'Hanari Carnes',
  'Mario Pontes',
  'Rua do Paço, 67',
  'Rio de Janeiro',
  '05454-876',
  'Brazil'),
 (35,
  'HILARIÓN-Abastos',
  'Carlos Hernández',
  'Carrera 22 con Ave. Carlos Soublette #8-35',
  'San Cristóbal',
  '5022',
  'Venezuela'),
 (36,
  'Hungry Coyote Import Store',
  'Yoshi Latimer',
  'City Center Plaza 516 Main St.',
  'Elgin',
  '97827',
  'USA'),
 (37,
  'Hungry Owl All-Night Grocers',
  'Patricia McKenna',
  '8 Johnstown Road',
  'Cork',
  '',
  'Ireland'),
 (38,
  'Island Trading',
  'Helen Bennett',
  'Garden House Crowther Way',
  'Cowes',
  'PO31 7PJ',
  'UK'),
 (39,
  'Königlich Essen',
  'Philip Cramer',
  'Maubelstr. 90',
  'Brandenburg',
  '14776',
  'Germany'),
 (40,
  "La corne d''abondance",
  'Daniel Tonini',
  "67, avenue de l''Europe",
  'Versailles',
  '78000',
  'France'),
 (41,
  "La maison d''Asie",
  'Annette Roulet',
  '1 rue Alsace-Lorraine',
  'Toulouse',
  '31000',
  'France'),
 (42,
  'Laughing Bacchus Wine Cellars',
  'Yoshi Tannamuri',
  '1900 Oak St.',
  'Vancouver',
  'V3F 2K1',
  'Canada'),
 (43,
  'Lazy K Kountry Store',
  'John Steel',
  '12 Orchestra Terrace',
  'Walla Walla',
  '99362',
  'USA'),
 (44,
  'Lehmanns Marktstand',
  'Renate Messner',
  'Magazinweg 7',
  'Frankfurt a.M.',
  '60528',
  'Germany'),
 (45,
  "Let''s Stop N Shop",
  'Jaime Yorres',
  '87 Polk St. Suite 5',
  'San Francisco',
  '94117',
  'USA'),
 (46,
  'LILA-Supermercado',
  'Carlos González',
  'Carrera 52 con Ave. Bolívar #65-98 Llano Largo',
  'Barquisimeto',
  '3508',
  'Venezuela'),
 (47,
  'LINO-Delicateses',
  'Felipe Izquierdo',
  'Ave. 5 de Mayo Porlamar',
  'I. de Margarita',
  '4980',
  'Venezuela'),
 (48,
  'Lonesome Pine Restaurant',
  'Fran Wilson',
  '89 Chiaroscuro Rd.',
  'Portland',
  '97219',
  'USA'),
 (49,
  'Magazzini Alimentari Riuniti',
  'Giovanni Rovelli',
  'Via Ludovico il Moro 22',
  'Bergamo',
  '24100',
  'Italy'),
 (50,
  'Maison Dewey',
  'Catherine Dewey',
  'Rue Joseph-Bens 532',
  'Bruxelles',
  'B-1180',
  'Belgium'),
 (51,
  'Mère Paillarde',
  'Jean Fresnière',
  '43 rue St. Laurent',
  'Montréal',
  'H1J 1C3',
  'Canada'),
 (52,
  'Morgenstern Gesundkost',
  'Alexander Feuer',
  'Heerstr. 22',
  'Leipzig',
  '4179',
  'Germany'),
 (53,
  'North/South',
  'Simon Crowther',
  'South House 300 Queensbridge',
  'London',
  'SW7 1RZ',
  'UK'),
 (54,
  'Océano Atlántico Ltda.',
  'Yvonne Moncada',
  'Ing. Gustavo Moncada 8585 Piso 20-A',
  'Buenos Aires',
  '1010',
  'Argentina'),
 (55,
  'Old World Delicatessen',
  'Rene Phillips',
  '2743 Bering St.',
  'Anchorage',
  '99508',
  'USA'),
 (56,
  'Ottilies Käseladen',
  'Henriette Pfalzheim',
  'Mehrheimerstr. 369',
  'Köln',
  '50739',
  'Germany'),
 (57,
  'Paris spécialités',
  'Marie Bertrand',
  '265, boulevard Charonne',
  'Paris',
  '75012',
  'France'),
 (58,
  'Pericles Comidas clásicas',
  'Guillermo Fernández',
  'Calle Dr. Jorge Cash 321',
  'México D.F.',
  '5033',
  'Mexico'),
 (59,
  'Piccolo und mehr',
  'Georg Pipps',
  'Geislweg 14',
  'Salzburg',
  '5020',
  'Austria'),
 (60,
  'Princesa Isabel Vinhoss',
  'Isabel de Castro',
  'Estrada da saúde n. 58',
  'Lisboa',
  '1756',
  'Portugal'),
 (61,
  'Que Delícia',
  'Bernardo Batista',
  'Rua da Panificadora, 12',
  'Rio de Janeiro',
  '02389-673',
  'Brazil'),
 (62,
  'Queen Cozinha',
  'Lúcia Carvalho',
  'Alameda dos Canàrios, 891',
  'São Paulo',
  '05487-020',
  'Brazil'),
 (63,
  'QUICK-Stop',
  'Horst Kloss',
  'Taucherstraße 10',
  'Cunewalde',
  '1307',
  'Germany'),
 (64,
  'Rancho grande',
  'Sergio Gutiérrez',
  'Av. del Libertador 900',
  'Buenos Aires',
  '1010',
  'Argentina'),
 (65,
  'Rattlesnake Canyon Grocery',
  'Paula Wilson',
  '2817 Milton Dr.',
  'Albuquerque',
  '87110',
  'USA'),
 (66,
  'Reggiani Caseifici',
  'Maurizio Moroni',
  'Strada Provinciale 124',
  'Reggio Emilia',
  '42100',
  'Italy'),
 (67,
  'Ricardo Adocicados',
  'Janete Limeira',
  'Av. Copacabana, 267',
  'Rio de Janeiro',
  '02389-890',
  'Brazil'),
 (68,
  'Richter Supermarkt',
  'Michael Holz',
  'Grenzacherweg 237',
  'Genève',
  '1203',
  'Switzerland'),
 (69,
  'Romero y tomillo',
  'Alejandra Camino',
  'Gran Vía, 1',
  'Madrid',
  '28001',
  'Spain'),
 (70,
  'Santé Gourmet',
  'Jonas Bergulfsen',
  'Erling Skakkes gate 78',
  'Stavern',
  '4110',
  'Norway'),
 (71,
  'Save-a-lot Markets',
  'Jose Pavarotti',
  '187 Suffolk Ln.',
  'Boise',
  '83720',
  'USA'),
 (72,
  'Seven Seas Imports',
  'Hari Kumar',
  '90 Wadhurst Rd.',
  'London',
  'OX15 4NB',
  'UK'),
 (73,
  'Simons bistro',
  'Jytte Petersen',
  'Vinbæltet 34',
  'København',
  '1734',
  'Denmark'),
 (74,
  'Spécialités du monde',
  'Dominique Perrier',
  '25, rue Lauriston',
  'Paris',
  '75016',
  'France'),
 (75,
  'Split Rail Beer & Ale',
  'Art Braunschweiger',
  'P.O. Box 555',
  'Lander',
  '82520',
  'USA'),
 (76,
  'Suprêmes délices',
  'Pascale Cartrain',
  'Boulevard Tirou, 255',
  'Charleroi',
  'B-6000',
  'Belgium'),
 (77,
  'The Big Cheese',
  'Liz Nixon',
  '89 Jefferson Way Suite 2',
  'Portland',
  '97201',
  'USA'),
 (78,
  'The Cracker Box',
  'Liu Wong',
  '55 Grizzly Peak Rd.',
  'Butte',
  '59801',
  'USA'),
 (79,
  'Toms Spezialitäten',
  'Karin Josephs',
  'Luisenstr. 48',
  'Münster',
  '44087',
  'Germany'),
 (80,
  'Tortuga Restaurante',
  'Miguel Angel Paolino',
  'Avda. Azteca 123',
  'México D.F.',
  '5033',
  'Mexico'),
 (81,
  'Tradição Hipermercados',
  'Anabela Domingues',
  'Av. Inês de Castro, 414',
  'São Paulo',
  '05634-030',
  'Brazil'),
 (82,
  "Trail''s Head Gourmet Provisioners",
  'Helvetius Nagy',
  '722 DaVinci Blvd.',
  'Kirkland',
  '98034',
  'USA'),
 (83,
  'Vaffeljernet',
  'Palle Ibsen',
  'Smagsløget 45',
  'Århus',
  '8200',
  'Denmark'),
 (84,
  'Victuailles en stock',
  'Mary Saveley',
  '2, rue du Commerce',
  'Lyon',
  '69004',
  'France'),
 (85,
  'Vins et alcools Chevalier',
  'Paul Henriot',
  "59 rue de l''Abbaye",
  'Reims',
  '51100',
  'France'),
 (86,
  'Die Wandernde Kuh',
  'Rita Müller',
  'Adenauerallee 900',
  'Stuttgart',
  '70563',
  'Germany'),
 (87,
  'Wartian Herkku',
  'Pirkko Koskitalo',
  'Torikatu 38',
  'Oulu',
  '90110',
  'Finland'),
 (88,
  'Wellington Importadora',
  'Paula Parente',
  'Rua do Mercado, 12',
  'Resende',
  '08737-363',
  'Brazil'),
 (89,
  'White Clover Markets',
  'Karl Jablonski',
  '305 - 14th Ave. S. Suite 3B',
  'Seattle',
  '98128',
  'USA'),
 (90,
  'Wilman Kala',
  'Matti Karttunen',
  'Keskuskatu 45',
  'Helsinki',
  '21240',
  'Finland'),
 (91, 'Wolski', 'Zbyszek', 'ul. Filtrowa 68', 'Walla', '01-012', 'Poland')]

In [192]:
sql = "SELECT CustomerName, (Address || ', ' || PostalCode || ' ' || City || ', ' || Country) AS Address FROM Customers;"
sendQuery(sql)

[('Alfreds Futterkiste', 'Obere Str. 57, 12209 Berlin, Germany'),
 ('Ana Trujillo Emparedados y helados',
  'Avda. de la Constitución 2222, 5021 México D.F., Mexico'),
 ('Antonio Moreno Taquería', 'Mataderos 2312, 5023 México D.F., Mexico'),
 ('Around the Horn', '120 Hanover Sq., WA1 1DP London, UK'),
 ('Berglunds snabbköp', 'Berguvsvägen 8, S-958 22 Luleå, Sweden'),
 ('Blauer See Delikatessen', 'Forsterstr. 57, 68306 Mannheim, Germany'),
 ('Blondel père et fils', '24, place Kléber, 67000 Strasbourg, France'),
 ('Bólido Comidas preparadas', 'C/ Araquil, 67, 28023 Madrid, Spain'),
 ("Bon app''", '12, rue des Bouchers, 13008 Marseille, France'),
 ('Bottom-Dollar Marketse', '23 Tsawassen Blvd., T2F 8M4 Tsawassen, Canada'),
 ("B''s Beverages", 'Fauntleroy Circus, EC2 5NT London, UK'),
 ('Cactus Comidas para llevar', 'Cerrito 333, 1010 Buenos Aires, Argentina'),
 ('Centro comercial Moctezuma',
  'Sierras de Granada 9993, 5022 México D.F., Mexico'),
 ('Chop-suey Chinese', 'Hauptstr. 29, 3012 Bern, Switzerland'),
 ('Comércio Mineiro', 'Av. dos Lusíadas, 23, 05432-043 São Paulo, Brazil'),
 ('Consolidated Holdings', 'Berkeley Gardens 12 Brewery, WX1 6LT London, UK'),
 ('Drachenblut Delikatessend', 'Walserweg 21, 52066 Aachen, Germany'),
 ('Du monde entier', '67, rue des Cinquante Otages, 44000 Nantes, France'),
 ('Eastern Connection', '35 King George, WX3 6FW London, UK'),
 ('Ernst Handel', 'Kirchgasse 6, 8010 Graz, Austria'),
 ('Familia Arquibaldo', 'Rua Orós, 92, 05442-030 São Paulo, Brazil'),
 ('FISSA Fabrica Inter. Salchichas S.A.',
  'C/ Moralzarzal, 86, 28034 Madrid, Spain'),
 ('Folies gourmandes', '184, chaussée de Tournai, 59000 Lille, France'),
 ('Folk och fä HB', 'Åkergatan 24, S-844 67 Bräcke, Sweden'),
 ('Frankenversand', 'Berliner Platz 43, 80805 München, Germany'),
 ('France restauration', '54, rue Royale, 44000 Nantes, France'),
 ('Franchi S.p.A.', 'Via Monte Bianco 34, 10100 Torino, Italy'),
 ('Furia Bacalhau e Frutos do Mar',
  'Jardim das rosas n. 32, 1675 Lisboa, Portugal'),
 ('Galería del gastrónomo', 'Rambla de Cataluña, 23, 8022 Barcelona, Spain'),
 ('Godos Cocina Típica', 'C/ Romero, 33, 41101 Sevilla, Spain'),
 ('Gourmet Lanchonetes', 'Av. Brasil, 442, 04876-786 Campinas, Brazil'),
 ('Great Lakes Food Market', '2732 Baker Blvd., 97403 Eugene, USA'),
 ('GROSELLA-Restaurante',
  '5ª Ave. Los Palos Grandes, 1081 Caracas, Venezuela'),
 ('Hanari Carnes', 'Rua do Paço, 67, 05454-876 Rio de Janeiro, Brazil'),
 ('HILARIÓN-Abastos',
  'Carrera 22 con Ave. Carlos Soublette #8-35, 5022 San Cristóbal, Venezuela'),
 ('Hungry Coyote Import Store',
  'City Center Plaza 516 Main St., 97827 Elgin, USA'),
 ('Hungry Owl All-Night Grocers', '8 Johnstown Road,  Cork, Ireland'),
 ('Island Trading', 'Garden House Crowther Way, PO31 7PJ Cowes, UK'),
 ('Königlich Essen', 'Maubelstr. 90, 14776 Brandenburg, Germany'),
 ("La corne d''abondance",
  "67, avenue de l''Europe, 78000 Versailles, France"),
 ("La maison d''Asie", '1 rue Alsace-Lorraine, 31000 Toulouse, France'),
 ('Laughing Bacchus Wine Cellars', '1900 Oak St., V3F 2K1 Vancouver, Canada'),
 ('Lazy K Kountry Store', '12 Orchestra Terrace, 99362 Walla Walla, USA'),
 ('Lehmanns Marktstand', 'Magazinweg 7, 60528 Frankfurt a.M., Germany'),
 ("Let''s Stop N Shop", '87 Polk St. Suite 5, 94117 San Francisco, USA'),
 ('LILA-Supermercado',
  'Carrera 52 con Ave. Bolívar #65-98 Llano Largo, 3508 Barquisimeto, Venezuela'),
 ('LINO-Delicateses',
  'Ave. 5 de Mayo Porlamar, 4980 I. de Margarita, Venezuela'),
 ('Lonesome Pine Restaurant', '89 Chiaroscuro Rd., 97219 Portland, USA'),
 ('Magazzini Alimentari Riuniti',
  'Via Ludovico il Moro 22, 24100 Bergamo, Italy'),
 ('Maison Dewey', 'Rue Joseph-Bens 532, B-1180 Bruxelles, Belgium'),
 ('Mère Paillarde', '43 rue St. Laurent, H1J 1C3 Montréal, Canada'),
 ('Morgenstern Gesundkost', 'Heerstr. 22, 4179 Leipzig, Germany'),
 ('North/South', 'South House 300 Queensbridge, SW7 1RZ London, UK'),
 ('Océano Atlántico Ltda.',
  'Ing. Gustavo Moncada 8585 Piso 20-A, 1010 Buenos Aires, Argentina'),
 ('Old World Delicatessen', '2743 Bering St., 99508 Anchorage, USA'),
 ('Ottilies Käseladen', 'Mehrheimerstr. 369, 50739 Köln, Germany'),
 ('Paris spécialités', '265, boulevard Charonne, 75012 Paris, France'),
 ('Pericles Comidas clásicas',
  'Calle Dr. Jorge Cash 321, 5033 México D.F., Mexico'),
 ('Piccolo und mehr', 'Geislweg 14, 5020 Salzburg, Austria'),
 ('Princesa Isabel Vinhoss', 'Estrada da saúde n. 58, 1756 Lisboa, Portugal'),
 ('Que Delícia', 'Rua da Panificadora, 12, 02389-673 Rio de Janeiro, Brazil'),
 ('Queen Cozinha', 'Alameda dos Canàrios, 891, 05487-020 São Paulo, Brazil'),
 ('QUICK-Stop', 'Taucherstraße 10, 1307 Cunewalde, Germany'),
 ('Rancho grande', 'Av. del Libertador 900, 1010 Buenos Aires, Argentina'),
 ('Rattlesnake Canyon Grocery', '2817 Milton Dr., 87110 Albuquerque, USA'),
 ('Reggiani Caseifici', 'Strada Provinciale 124, 42100 Reggio Emilia, Italy'),
 ('Ricardo Adocicados',
  'Av. Copacabana, 267, 02389-890 Rio de Janeiro, Brazil'),
 ('Richter Supermarkt', 'Grenzacherweg 237, 1203 Genève, Switzerland'),
 ('Romero y tomillo', 'Gran Vía, 1, 28001 Madrid, Spain'),
 ('Santé Gourmet', 'Erling Skakkes gate 78, 4110 Stavern, Norway'),
 ('Save-a-lot Markets', '187 Suffolk Ln., 83720 Boise, USA'),
 ('Seven Seas Imports', '90 Wadhurst Rd., OX15 4NB London, UK'),
 ('Simons bistro', 'Vinbæltet 34, 1734 København, Denmark'),
 ('Spécialités du monde', '25, rue Lauriston, 75016 Paris, France'),
 ('Split Rail Beer & Ale', 'P.O. Box 555, 82520 Lander, USA'),
 ('Suprêmes délices', 'Boulevard Tirou, 255, B-6000 Charleroi, Belgium'),
 ('The Big Cheese', '89 Jefferson Way Suite 2, 97201 Portland, USA'),
 ('The Cracker Box', '55 Grizzly Peak Rd., 59801 Butte, USA'),
 ('Toms Spezialitäten', 'Luisenstr. 48, 44087 Münster, Germany'),
 ('Tortuga Restaurante', 'Avda. Azteca 123, 5033 México D.F., Mexico'),
 ('Tradição Hipermercados',
  'Av. Inês de Castro, 414, 05634-030 São Paulo, Brazil'),
 ("Trail''s Head Gourmet Provisioners",
  '722 DaVinci Blvd., 98034 Kirkland, USA'),
 ('Vaffeljernet', 'Smagsløget 45, 8200 Århus, Denmark'),
 ('Victuailles en stock', '2, rue du Commerce, 69004 Lyon, France'),
 ('Vins et alcools Chevalier', "59 rue de l''Abbaye, 51100 Reims, France"),
 ('Die Wandernde Kuh', 'Adenauerallee 900, 70563 Stuttgart, Germany'),
 ('Wartian Herkku', 'Torikatu 38, 90110 Oulu, Finland'),
 ('Wellington Importadora', 'Rua do Mercado, 12, 08737-363 Resende, Brazil'),
 ('White Clover Markets', '305 - 14th Ave. S. Suite 3B, 98128 Seattle, USA'),
 ('Wilman Kala', 'Keskuskatu 45, 21240 Helsinki, Finland'),
 ('Wolski', 'ul. Filtrowa 68, 01-012 Walla, Poland')]

## JOIN

In [195]:
sql = """SELECT Orders.OrderID, Customers.CustomerName, Orders.OrderDate
         FROM Orders
         INNER JOIN Customers ON Orders.CustomerID=Customers.CustomerID;"""
sendQuery(sql)

[(10248, 'Wilman Kala', '1996-07-04'),
 (10249, 'Tradição Hipermercados', '1996-07-05'),
 (10250, 'Hanari Carnes', '1996-07-08'),
 (10251, 'Victuailles en stock', '1996-07-08'),
 (10252, 'Suprêmes délices', '1996-07-09'),
 (10253, 'Hanari Carnes', '1996-07-10'),
 (10254, 'Chop-suey Chinese', '1996-07-11'),
 (10255, 'Richter Supermarkt', '1996-07-12'),
 (10256, 'Wellington Importadora', '1996-07-15'),
 (10257, 'HILARIÓN-Abastos', '1996-07-16'),
 (10258, 'Ernst Handel', '1996-07-17'),
 (10259, 'Centro comercial Moctezuma', '1996-07-18'),
 (10260, 'Old World Delicatessen', '1996-07-19'),
 (10261, 'Que Delícia', '1996-07-19'),
 (10262, 'Rattlesnake Canyon Grocery', '1996-07-22'),
 (10263, 'Ernst Handel', '1996-07-23'),
 (10264, 'Folk och fä HB', '1996-07-24'),
 (10265, 'Blondel père et fils', '1996-07-25'),
 (10266, 'Wartian Herkku', '1996-07-26'),
 (10267, 'Frankenversand', '1996-07-29'),
 (10268, 'GROSELLA-Restaurante', '1996-07-30'),
 (10269, 'White Clover Markets', '1996-07-31'),
 (10270, 'Wartian Herkku', '1996-08-01'),
 (10271, 'Split Rail Beer & Ale', '1996-08-01'),
 (10272, 'Rattlesnake Canyon Grocery', '1996-08-02'),
 (10273, 'QUICK-Stop', '1996-08-05'),
 (10274, 'Vins et alcools Chevalier', '1996-08-06'),
 (10275, 'Magazzini Alimentari Riuniti', '1996-08-07'),
 (10276, 'Tortuga Restaurante', '1996-08-08'),
 (10277, 'Morgenstern Gesundkost', '1996-08-09'),
 (10278, 'Berglunds snabbköp', '1996-08-12'),
 (10279, 'Lehmanns Marktstand', '1996-08-13'),
 (10280, 'Berglunds snabbköp', '1996-08-14'),
 (10281, 'Romero y tomillo', '1996-08-14'),
 (10282, 'Romero y tomillo', '1996-08-15'),
 (10283, 'LILA-Supermercado', '1996-08-16'),
 (10284, 'Lehmanns Marktstand', '1996-08-19'),
 (10285, 'QUICK-Stop', '1996-08-20'),
 (10286, 'QUICK-Stop', '1996-08-21'),
 (10287, 'Ricardo Adocicados', '1996-08-22'),
 (10288, 'Reggiani Caseifici', '1996-08-23'),
 (10289, "B''s Beverages", '1996-08-26'),
 (10290, 'Comércio Mineiro', '1996-08-27'),
 (10291, 'Que Delícia', '1996-08-27'),
 (10292, 'Tradição Hipermercados', '1996-08-28'),
 (10293, 'Tortuga Restaurante', '1996-08-29'),
 (10294, 'Rattlesnake Canyon Grocery', '1996-08-30'),
 (10295, 'Vins et alcools Chevalier', '1996-09-02'),
 (10296, 'LILA-Supermercado', '1996-09-03'),
 (10297, 'Blondel père et fils', '1996-09-04'),
 (10298, 'Hungry Owl All-Night Grocers', '1996-09-05'),
 (10299, 'Ricardo Adocicados', '1996-09-06'),
 (10300, 'Magazzini Alimentari Riuniti', '1996-09-09'),
 (10301, 'Die Wandernde Kuh', '1996-09-09'),
 (10302, 'Suprêmes délices', '1996-09-10'),
 (10303, 'Godos Cocina Típica', '1996-09-11'),
 (10304, 'Tortuga Restaurante', '1996-09-12'),
 (10305, 'Old World Delicatessen', '1996-09-13'),
 (10306, 'Romero y tomillo', '1996-09-16'),
 (10307, 'Lonesome Pine Restaurant', '1996-09-17'),
 (10308, 'Ana Trujillo Emparedados y helados', '1996-09-18'),
 (10309, 'Hungry Owl All-Night Grocers', '1996-09-19'),
 (10310, 'The Big Cheese', '1996-09-20'),
 (10311, 'Du monde entier', '1996-09-20'),
 (10312, 'Die Wandernde Kuh', '1996-09-23'),
 (10313, 'QUICK-Stop', '1996-09-24'),
 (10314, 'Rattlesnake Canyon Grocery', '1996-09-25'),
 (10315, 'Island Trading', '1996-09-26'),
 (10316, 'Rattlesnake Canyon Grocery', '1996-09-27'),
 (10317, 'Lonesome Pine Restaurant', '1996-09-30'),
 (10318, 'Island Trading', '1996-10-01'),
 (10319, 'Tortuga Restaurante', '1996-10-02'),
 (10320, 'Wartian Herkku', '1996-10-03'),
 (10321, 'Island Trading', '1996-10-03'),
 (10322, 'Pericles Comidas clásicas', '1996-10-04'),
 (10323, 'Königlich Essen', '1996-10-07'),
 (10324, 'Save-a-lot Markets', '1996-10-08'),
 (10325, 'Königlich Essen', '1996-10-09'),
 (10326, 'Bólido Comidas preparadas', '1996-10-10'),
 (10327, 'Folk och fä HB', '1996-10-11'),
 (10328, 'Furia Bacalhau e Frutos do Mar', '1996-10-14'),
 (10329, 'Split Rail Beer & Ale', '1996-10-15'),
 (10330, 'LILA-Supermercado', '1996-10-16'),
 (10331, "Bon app''", '1996-10-16'),
 (10332, 'Mère Paillarde', '1996-10-17'),
 (10333, 'Wartian Herkku', '1996-10-18'),
 (10334, 'Victuailles en stock', '1996-10-21'),
 (10335, 'Hungry Owl All-Night Grocers', '1996-10-22'),
 (10336, 'Princesa Isabel Vinhoss', '1996-10-23'),
 (10337, 'Frankenversand', '1996-10-24'),
 (10338, 'Old World Delicatessen', '1996-10-25'),
 (10339, 'Mère Paillarde', '1996-10-28'),
 (10340, "Bon app''", '1996-10-29'),
 (10341, 'Simons bistro', '1996-10-29'),
 (10342, 'Frankenversand', '1996-10-30'),
 (10343, 'Lehmanns Marktstand', '1996-10-31'),
 (10344, 'White Clover Markets', '1996-11-01'),
 (10345, 'QUICK-Stop', '1996-11-04'),
 (10346, 'Rattlesnake Canyon Grocery', '1996-11-05'),
 (10347, 'Familia Arquibaldo', '1996-11-06'),
 (10348, 'Die Wandernde Kuh', '1996-11-07'),
 (10349, 'Split Rail Beer & Ale', '1996-11-08'),
 (10350, "La maison d''Asie", '1996-11-11'),
 (10351, 'Ernst Handel', '1996-11-11'),
 (10352, 'Furia Bacalhau e Frutos do Mar', '1996-11-12'),
 (10353, 'Piccolo und mehr', '1996-11-13'),
 (10354, 'Pericles Comidas clásicas', '1996-11-14'),
 (10355, 'Around the Horn', '1996-11-15'),
 (10356, 'Die Wandernde Kuh', '1996-11-18'),
 (10357, 'LILA-Supermercado', '1996-11-19'),
 (10358, "La maison d''Asie", '1996-11-20'),
 (10359, 'Seven Seas Imports', '1996-11-21'),
 (10360, 'Blondel père et fils', '1996-11-22'),
 (10361, 'QUICK-Stop', '1996-11-22'),
 (10362, "Bon app''", '1996-11-25'),
 (10363, 'Drachenblut Delikatessend', '1996-11-26'),
 (10364, 'Eastern Connection', '1996-11-26'),
 (10365, 'Antonio Moreno Taquería', '1996-11-27'),
 (10366, 'Galería del gastrónomo', '1996-11-28'),
 (10367, 'Vaffeljernet', '1996-11-28'),
 (10368, 'Ernst Handel', '1996-11-29'),
 (10369, 'Split Rail Beer & Ale', '1996-12-02'),
 (10370, 'Chop-suey Chinese', '1996-12-03'),
 (10371, "La maison d''Asie", '1996-12-03'),
 (10372, 'Queen Cozinha', '1996-12-04'),
 (10373, 'Hungry Owl All-Night Grocers', '1996-12-05'),
 (10374, 'Wolski', '1996-12-05'),
 (10375, 'Hungry Coyote Import Store', '1996-12-06'),
 (10376, 'Mère Paillarde', '1996-12-09'),
 (10377, 'Seven Seas Imports', '1996-12-09'),
 (10378, 'Folk och fä HB', '1996-12-10'),
 (10379, 'Que Delícia', '1996-12-11'),
 (10380, 'Hungry Owl All-Night Grocers', '1996-12-12'),
 (10381, 'LILA-Supermercado', '1996-12-12'),
 (10382, 'Ernst Handel', '1996-12-13'),
 (10383, 'Around the Horn', '1996-12-16'),
 (10384, 'Berglunds snabbköp', '1996-12-16'),
 (10385, 'Split Rail Beer & Ale', '1996-12-17'),
 (10386, 'Familia Arquibaldo', '1996-12-18'),
 (10387, 'Santé Gourmet', '1996-12-18'),
 (10388, 'Seven Seas Imports', '1996-12-19'),
 (10389, 'Bottom-Dollar Marketse', '1996-12-20'),
 (10390, 'Ernst Handel', '1996-12-23'),
 (10391, 'Drachenblut Delikatessend', '1996-12-23'),
 (10392, 'Piccolo und mehr', '1996-12-24'),
 (10393, 'Save-a-lot Markets', '1996-12-25'),
 (10394, 'Hungry Coyote Import Store', '1996-12-25'),
 (10395, 'HILARIÓN-Abastos', '1996-12-26'),
 (10396, 'Frankenversand', '1996-12-27'),
 (10397, 'Princesa Isabel Vinhoss', '1996-12-27'),
 (10398, 'Save-a-lot Markets', '1996-12-30'),
 (10399, 'Vaffeljernet', '1996-12-31'),
 (10400, 'Eastern Connection', '1997-01-01'),
 (10401, 'Rattlesnake Canyon Grocery', '1997-01-01'),
 (10402, 'Ernst Handel', '1997-01-02'),
 (10403, 'Ernst Handel', '1997-01-03'),
 (10404, 'Magazzini Alimentari Riuniti', '1997-01-03'),
 (10405, 'LINO-Delicateses', '1997-01-06'),
 (10406, 'Queen Cozinha', '1997-01-07'),
 (10407, 'Ottilies Käseladen', '1997-01-07'),
 (10408, 'Folies gourmandes', '1997-01-08'),
 (10409, 'Océano Atlántico Ltda.', '1997-01-09'),
 (10410, 'Bottom-Dollar Marketse', '1997-01-10'),
 (10411, 'Bottom-Dollar Marketse', '1997-01-10'),
 (10412, 'Wartian Herkku', '1997-01-13'),
 (10413, "La maison d''Asie", '1997-01-14'),
 (10414, 'Familia Arquibaldo', '1997-01-14'),
 (10415, 'Hungry Coyote Import Store', '1997-01-15'),
 (10416, 'Wartian Herkku', '1997-01-16'),
 (10417, 'Simons bistro', '1997-01-16'),
 (10418, 'QUICK-Stop', '1997-01-17'),
 (10419, 'Richter Supermarkt', '1997-01-20'),
 (10420, 'Wellington Importadora', '1997-01-21'),
 (10421, 'Que Delícia', '1997-01-21'),
 (10422, 'Franchi S.p.A.', '1997-01-22'),
 (10423, 'Gourmet Lanchonetes', '1997-01-23'),
 (10424, 'Mère Paillarde', '1997-01-23'),
 (10425, "La maison d''Asie", '1997-01-24'),
 (10426, 'Galería del gastrónomo', '1997-01-27'),
 (10427, 'Piccolo und mehr', '1997-01-27'),
 (10428, 'Reggiani Caseifici', '1997-01-28'),
 (10429, 'Hungry Owl All-Night Grocers', '1997-01-29'),
 (10430, 'Ernst Handel', '1997-01-30'),
 (10431, 'Bottom-Dollar Marketse', '1997-01-30'),
 (10432, 'Split Rail Beer & Ale', '1997-01-31'),
 (10433, 'Princesa Isabel Vinhoss', '1997-02-03'),
 (10434, 'Folk och fä HB', '1997-02-03'),
 (10435, 'Consolidated Holdings', '1997-02-04'),
 (10436, 'Blondel père et fils', '1997-02-05'),
 (10437, 'Wartian Herkku', '1997-02-05'),
 (10438, 'Toms Spezialitäten', '1997-02-06'),
 (10439, 'Mère Paillarde', '1997-02-07'),
 (10440, 'Save-a-lot Markets', '1997-02-10'),
 (10441, 'Old World Delicatessen', '1997-02-10'),
 (10442, 'Ernst Handel', '1997-02-11'),
 (10443, 'Reggiani Caseifici', '1997-02-12')]